{
   "openapi": "3.0.3",
   "info": {
      "title": "Argovis API",
      "description": "REST API for Argo profiles, platforms, selections, BGC data, gridded products, etc.",
      "contact": {
         "name": "Argovis Collaboration",
         "email": "argovis@colorado.edu",
         "url": "https://argovis.colorado.edu"
      },
      "license": {
         "name": "MIT",
         "url": "https://opensource.org/licenses/MIT"
      },
      "version": "2.0"
   },
   "externalDocs": {
      "description": "Find us on GitHub",
      "url": "https://github.com/argovis/argovis_api"
   },
   "servers": [
      {
         "url": "https://argovis-api.colorado.edu"
      },
      {
         "url": "/"
      }
   ],
   "security": [
      {
         "name": []
      }
   ],
   "tags": [
      {
         "name": "argo",
         "description": "Argo profile data, including core, BGC and deep floats"
      },
      {
         "name": "cchdo",
         "description": "CCHDO profile data."
      },
      {
         "name": "easyocean",
         "description": "Interpolated CCHDO profile data."
      },
      {
         "name": "grid",
         "description": "Gridded products derived from Argo floats and simulations."
      },
      {
         "name": "tc",
         "description": "tropical cyclone data"
      },
      {
         "name": "argone",
         "description": "Argo float position forcast product"
      },
      {
         "name": "summary (experimental)",
         "description": "Summary statistics (mostly for internal use)"
      },
      {
         "name": "Argo trajectories (experimental)",
         "description": "Trajectories of argo floats"
      },
      {
         "name": "timeseries",
         "description": "timeseries-formatted grids."
      },
      {
         "name": "extended",
         "description": "objected with geographic extent beyond a single point"
      },
      {
         "name": "token",
         "description": "token validation"
      },
      {
         "name": "ping",
         "description": "ping for liveness"
      }
   ],
   "paths": {
      "/ping": {
         "get": {
            "tags": [
               "ping"
            ],
            "summary": "Dummy endpoint for liveness checks",
            "operationId": "ping",
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "text/plain": {
                        "schema": {
                           "type": "string",
                           "example": "OK"
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/argone": {
         "get": {
            "tags": [
               "argone"
            ],
            "summary": "Probabilities of floats moving between two points in a range of forecast projections",
            "operationId": "findargone",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/forecastOrigin"
               },
               {
                  "$ref": "#/components/parameters/forecastGeolocation"
               },
               {
                  "$ref": "#/components/parameters/metadata"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "name": "data",
                  "in": "query",
                  "description": "Forecast durations to include. Return only documents that have all data requested. Accepts ~ negation to filter out documents including the specified data. Omission of this parameter will result in metadata only responses.",
                  "style": "form",
                  "explode": false,
                  "allowReserved": true,
                  "schema": {
                     "type": "array",
                     "items": {
                        "type": "string",
                        "pattern": "^((~)?((90)|(180)|(270)|(360)|(450)|(540)|(630)|(720)|(810)|(900)|(990)|(1080)|(1170)|(1260)|(1350)|(1440)|(1530)|(1620)|(1710)|(1800){1})|all|except-data-values)$"
                     },
                     "example": "90"
                  }
               },
               {
                  "$ref": "#/components/parameters/batchMeta" 
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/argone"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/argone/meta": {
         "get": {
            "tags": [
               "argone"
            ],
            "summary": "argone metadata search and filter.",
            "operationId": "findargoneMeta",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/argoneMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/tc": {
         "get": {
            "tags": [
               "tc"
            ],
            "summary": "Tropical cyclone search and filter.",
            "operationId": "findTC",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/box"
               },
               {
                  "$ref": "#/components/parameters/winding"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/tcName"
               },
               {
                  "$ref": "#/components/parameters/metadata"
               },
               {
                  "$ref": "#/components/parameters/mostrecent"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "name": "data",
                  "in": "query",
                  "description": "Keys of data to include. Return only documents that have all data requested, within the pressure range if specified. Accepts ~ negation to filter out documents including the specified data. Omission of this parameter will result in metadata only responses.",
                  "style": "form",
                  "explode": false,
                  "allowReserved": true,
                  "schema": {
                     "type": "array",
                     "items": {
                        "type": "string",
                        "pattern": "^((~)?((wind)|(surface_pressure){1})|all|except-data-values)$"
                     },
                     "example": "wind,~surface_pressure"
                  }
               },
               {
                  "$ref": "#/components/parameters/batchMeta" 
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/tc"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/tc/meta": {
         "get": {
            "tags": [
               "tc"
            ],
            "summary": "Tropical cyclone metadata search and filter.",
            "operationId": "findTCmeta",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/tcName"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/tcMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/tc/vocabulary": {
         "get": {
            "tags": [
               "tc"
            ],
            "summary": "List all possible values for certain tc query string parameters",
            "operationId": "tcVocab",
            "parameters": [
               {
                  "in": "query",
                  "name": "parameter",
                  "required": true,
                  "description": "TC query string parameter to summarize possible values of.",
                  "schema": {
                     "type": "string",
                     "enum": ["name", "data", "metadata"]
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/grids/{gridName}": {
         "get": {
            "tags": [
               "grid"
            ],
            "summary": "Search and filter for grid named in path",
            "operationId": "findgrid",
            "parameters": [
               {
                  "name": "gridName",
                  "in": "path",
                  "required": "true",
                  "schema": {
                     "type": "string",
                     "enum": ["rg09", "kg21", "glodap"]
                  }
               },
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/box"
               },
               {
                  "$ref": "#/components/parameters/winding"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "$ref": "#/components/parameters/mostrecent"
               },
               {
                  "name": "data",
                  "in": "query",
                  "description": "Keys of data to include. Return only documents that have all data requested, within the pressure range if specified. Accepts ~ negation to filter out documents including the specified data. Omission of this parameter will result in metadata only responses.",
                  "style": "form",
                  "explode": false,
                  "allowReserved": true,
                  "schema": {
                     "type": "array",
                     "items": {
                        "type": "string"
                     },
                     "example": "rg09_salinity"
                  }
               },
               {
                  "$ref": "#/components/parameters/presRange"
               },
               {
                  "$ref": "#/components/parameters/batchMeta" 
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/grid"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/grids/meta": {
         "get": {
            "tags": [
               "grid"
            ],
            "summary": "Metadata for grids by ID",
            "operationId": "findgridMeta",
            "parameters":[
               {
                  "$ref": "#/components/parameters/genericID"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/gridMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/grids/{gridName}/vocabulary": {
         "get": {
            "tags": [
               "grid"
            ],
            "summary": "List data and lattice for the requested grid.",
            "operationId": "gridVocab",
            "parameters": [
               {
                  "name": "gridName",
                  "in": "path",
                  "required": "true",
                  "schema": {
                     "type": "string",
                     "enum": ["rg09", "kg21", "glodap"]
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/timeseries/{timeseriesName}": {
         "get": {
            "tags": [
               "timeseries"
            ],
            "summary": "Search and filter for timeseries named in path",
            "operationId": "findtimeseries",
            "parameters": [
               {
                  "name": "timeseriesName",
                  "in": "path",
                  "required": "true",
                  "schema": {
                     "type": "string",
                     "enum": ["noaasst", "copernicussla", "ccmpwind", "bsose"]
                  }
               },
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/box"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/winding"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/presRange"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "$ref": "#/components/parameters/mostrecent"
               },
               {
                  "name": "data",
                  "in": "query",
                  "description": "Keys of data to include. Return only documents that have all data requested, within the pressure range if specified. Accepts ~ negation to filter out documents including the specified data. Omission of this parameter will result in metadata only responses.",
                  "style": "form",
                  "explode": false,
                  "allowReserved": true,
                  "schema": {
                     "type": "array",
                     "items": {
                        "type": "string"
                     },
                     "example": "uwnd,vwnd"
                  }
               },
               {
                  "$ref": "#/components/parameters/batchMeta" 
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/genericTimeseries"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/timeseries/meta": {
         "get": {
            "tags": [
               "timeseries"
            ],
            "summary": "Metadata for timeseries by ID",
            "operationId": "findtimeseriesMeta",
            "parameters":[
               {
                  "$ref": "#/components/parameters/genericID"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/genericTimeseriesMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/timeseries/{timeseriesName}/vocabulary": {
         "get": {
            "tags": [
               "timeseries"
            ],
            "summary": "List data and lattice for the requested timeseries.",
            "operationId": "timeseriesVocab",
            "parameters": [
               {
                  "name": "timeseriesName",
                  "in": "path",
                  "required": "true",
                  "schema": {
                     "type": "string",
                     "enum": ["noaasst", "copernicussla", "ccmpwind", "bsose"]
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/extended/{extendedName}": {
         "get": {
            "tags": [
               "extended"
            ],
            "summary": "Search and filter for extended object named in path",
            "operationId": "findExtended",
            "parameters": [
               {
                  "name": "extendedName",
                  "in": "path",
                  "required": "true",
                  "schema": {
                     "type": "string",
                     "enum": ["ar"]
                  }
               },
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/box"
               },
               {
                  "$ref": "#/components/parameters/winding"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "$ref": "#/components/parameters/mostrecent"
               },
               {
                  "$ref": "#/components/parameters/batchMeta" 
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/genericExtended"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/extended/meta": {
         "get": {
            "tags": [
               "extended"
            ],
            "summary": "Metadata for extended objects by ID",
            "operationId": "findextendedMeta",
            "parameters":[
               {
                  "$ref": "#/components/parameters/genericID"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/genericExtendedMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/extended/{extendedName}/vocabulary": {
         "get": {
            "tags": [
               "extended"
            ],
            "summary": "Vocab data for the named extended object.",
            "operationId": "extendedVocab",
            "parameters": [
               {
                  "name": "extendedName",
                  "in": "path",
                  "required": "true",
                  "schema": {
                     "type": "string",
                     "enum": ["ar"]
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/cchdo": {
         "get": {
            "tags": [
               "cchdo"
            ],
            "summary": "CCHDO search and filter.",
            "operationId": "findCCHDO",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/box"
               },
               {
                  "$ref": "#/components/parameters/winding"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/metadata"
               },
               {
                  "$ref": "#/components/parameters/woceline"
               },
               {
                  "$ref": "#/components/parameters/cchdo_cruise"
               },
               {
                  "$ref": "#/components/parameters/profileSource"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "$ref": "#/components/parameters/mostrecent"
               },
               {
                  "name": "data",
                  "in": "query",
                  "description": "Keys of data to include. Return only documents that have all data requested, within the pressure range if specified. Accepts ~ negation to filter out documents including the specified data. Omission of this parameter will result in metadata only responses.",
                  "style": "form",
                  "explode": false,
                  "allowReserved": true,
                  "schema": {
                     "type": "array",
                     "items": {
                        "type": "string",
                        "pattern": "^((~)?((ammonium)|(ammonium_error)|(ammonium_woceqc)|(arabinose)|(arabinose_woceqc)|(argon)|(argon_error)|(argon_woceqc)|(bacterial_cell_count)|(bacterial_cell_count_woceqc)|(barium)|(barium_l)|(barium_l_woceqc)|(barium_woceqc)|(bionbr)|(bnlid)|(bottle_latitude)|(bottle_longitude)|(bottle_number)|(bottle_number_woceqc)|(bottle_salinity)|(bottle_salinity_woceqc)|(bottle_time)|(brdu_uptake)|(brdu_uptake_woceqc)|(carbon_tetrachloride)|(carbon_tetrachloride_l)|(carbon_tetrachloride_l_woceqc)|(carbon_tetrachloride_woceqc)|(cdom_wavelength_300)|(cdom_wavelength_300_woceqc)|(cdom_wavelength_325)|(cdom_wavelength_325_woceqc)|(cdom_wavelength_340)|(cdom_wavelength_340_woceqc)|(cdom_wavelength_380)|(cdom_wavelength_380_woceqc)|(cdom_wavelength_412)|(cdom_wavelength_412_woceqc)|(cdom_wavelength_443)|(cdom_wavelength_443_woceqc)|(cdom_wavelength_490)|(cdom_wavelength_490_woceqc)|(cdom_wavelength_555)|(cdom_wavelength_555_woceqc)|(cdomsl)|(cdomsl_woceqc)|(cdomsn)|(cdomsn_woceqc)|(cesium_134_bq)|(cesium_134_bq_woceqc)|(cesium_137_bq)|(cesium_137_bq_error)|(cesium_137_bq_woceqc)|(cfc_11)|(cfc_113)|(cfc_113_l)|(cfc_113_l_woceqc)|(cfc_113_woceqc)|(cfc_11_error)|(cfc_11_l)|(cfc_11_l_woceqc)|(cfc_11_woceqc)|(cfc_12)|(cfc_12_error)|(cfc_12_l)|(cfc_12_l_woceqc)|(cfc_12_woceqc)|(chlorodifluoroethane)|(chlorodifluoroethane_woceqc)|(chlorodifluoromethane)|(chlorodifluoromethane_woceqc)|(chlorophyll_a)|(chlorophyll_a_ug_kg)|(chlorophyll_a_ug_kg_woceqc)|(chlorophyll_a_woceqc)|(co2_mole_fraction)|(co2_mole_fraction_woceqc)|(ctd_beamcp)|(ctd_beamcp_woceqc)|(ctd_beta650_124)|(ctd_beta700_raw)|(ctd_beta700_raw_woceqc)|(ctd_cdom)|(ctd_cdom_raw)|(ctd_cdom_raw_woceqc)|(ctd_cdom_woceqc)|(ctd_fluor)|(ctd_fluor_arbitrary)|(ctd_fluor_raw)|(ctd_fluor_raw_woceqc)|(ctd_fluor_woceqc)|(ctd_nitrate)|(ctd_nitrate_woceqc)|(ctd_number_of_observations)|(ctd_optode_oxygen)|(ctd_optode_oxygen_raw)|(ctd_optode_oxygen_raw_woceqc)|(ctd_optode_oxygen_woceqc)|(ctd_oxygen_umol_l)|(ctd_pressure_raw)|(ctd_temperature_unk)|(ctd_temperature_unk_woceqc)|(ctd_transmissometer)|(ctd_transmissometer_raw)|(ctd_transmissometer_raw_woceqc)|(ctd_transmissometer_woceqc)|(ctd_turbidity_ftu)|(ctd_turbidity_ftu_woceqc)|(ctd_turbidity_ntu)|(ctd_turbidity_ntu_woceqc)|(cyanobacteria_cell_count)|(cyanobacteria_cell_count_woceqc)|(d15n_nitrite_nitrate)|(d15n_nitrite_nitrate_woceqc)|(d15n_no3)|(d15n_no3_woceqc)|(d18o_nitrate)|(d18o_nitrate_woceqc)|(d18o_nitrite_nitrate)|(d18o_nitrite_nitrate_woceqc)|(dcns)|(dcns_woceqc)|(del_carbon_13_dic)|(del_carbon_13_dic_error)|(del_carbon_13_dic_woceqc)|(del_carbon_14_dic)|(del_carbon_14_dic_error)|(del_carbon_14_dic_woceqc)|(del_deuterium)|(del_deuterium_error)|(del_deuterium_woceqc)|(del_nitrogen_15)|(del_nitrogen_15_woceqc)|(del_oxygen_18)|(del_oxygen_18_error)|(del_oxygen_18_woceqc)|(delta_helium_3)|(delta_helium_3_error)|(delta_helium_3_woceqc)|(density_salinity)|(density_salinity_woceqc)|(dichlorofluoroethane)|(dichlorofluoroethane_woceqc)|(dissolved_organic_carbon)|(dissolved_organic_carbon_13)|(dissolved_organic_carbon_13_error)|(dissolved_organic_carbon_13_woceqc)|(dissolved_organic_carbon_14)|(dissolved_organic_carbon_14_error)|(dissolved_organic_carbon_14_woceqc)|(dissolved_organic_carbon_woceqc)|(dissolved_organic_nitrogen)|(dissolved_organic_nitrogen_woceqc)|(downcast_oxygen)|(downcast_oxygen_woceqc)|(downcast_pressure)|(downcast_pressure_woceqc)|(doxy)|(doxy_bfile)|(doxy_bfile_woceqc)|(doxy_woceqc)|(fco2)|(fco2_in_situ)|(fco2_temperature)|(fco2_woceqc)|(fdom)|(fdom_woceqc)|(fm_depth)|(fm_depth_woceqc)|(fucose)|(fucose_woceqc)|(galactose)|(galactose_woceqc)|(geotraces_sample)|(glucose)|(glucose_woceqc)|(helium)|(helium_error)|(helium_woceqc)|(hplc_19_hexanoyloxyfucoxanthin)|(hplc_19_hexanoyloxyfucoxanthin_woceqc)|(hplc_19butanoyloxyfucoxanthin)|(hplc_19butanoyloxyfucoxanthin_woceqc)|(hplc_alloxanthin)|(hplc_alloxanthin_woceqc)|(hplc_alpha_beta_carotenes)|(hplc_alpha_beta_carotenes_woceqc)|(hplc_chlorophyll_c1_c2)|(hplc_chlorophyll_c1_c2_woceqc)|(hplc_chlorophyll_c2)|(hplc_chlorophyll_c2_woceqc)|(hplc_chlorophyll_c3)|(hplc_chlorophyll_c3_woceqc)|(hplc_chlorophyllide_a)|(hplc_chlorophyllide_a_woceqc)|(hplc_diadinoxanthin)|(hplc_diadinoxanthin_woceqc)|(hplc_diatoxanthin)|(hplc_diatoxanthin_woceqc)|(hplc_divinyl_chlorophyll_a)|(hplc_divinyl_chlorophyll_a_woceqc)|(hplc_lutein)|(hplc_lutein_woceqc)|(hplc_monovinyl_chlorophyll_a)|(hplc_monovinyl_chlorophyll_a_woceqc)|(hplc_monovinyl_chlorophyll_b)|(hplc_monovinyl_chlorophyll_b_woceqc)|(hplc_neoxanthin)|(hplc_neoxanthin_woceqc)|(hplc_peridinin)|(hplc_peridinin_woceqc)|(hplc_pheophorbide_a)|(hplc_pheophorbide_a_woceqc)|(hplc_pheophytin_a)|(hplc_pheophytin_a_woceqc)|(hplc_prasinoxanthin)|(hplc_prasinoxanthin_woceqc)|(hplc_tot_chl_a)|(hplc_tot_chl_a_woceqc)|(hplc_tot_chl_b)|(hplc_tot_chl_b_woceqc)|(hplc_tot_chl_c)|(hplc_tot_chl_c_woceqc)|(hplc_violaxanthin)|(hplc_violaxanthin_woceqc)|(hplc_zeaxanthin)|(hplc_zeaxanthin_woceqc)|(hpld_antheraxanthin)|(hpld_antheraxanthin_woceqc)|(krypton)|(krypton_error)|(krypton_woceqc)|(ldeo_sample_number)|(mannose)|(mannose_woceqc)|(methane)|(methane_l)|(methane_woceqc)|(methyl_bromide)|(methyl_bromide_woceqc)|(methyl_chloride)|(methyl_chloride_woceqc)|(methyl_chloroform)|(methyl_chloroform_woceqc)|(methyl_iodide)|(methyl_iodide_woceqc)|(neon)|(neon_error)|(neon_woceqc)|(nitrate)|(nitrate_error)|(nitrate_woceqc)|(nitrite)|(nitrite_error)|(nitrite_nitrate)|(nitrite_nitrate_l)|(nitrite_nitrate_l_woceqc)|(nitrite_nitrate_woceqc)|(nitrite_woceqc)|(nitrous_oxide)|(nitrous_oxide_woceqc)|(odf_pressure)|(oxygen)|(oxygen_ml_l)|(oxygen_ml_l_woceqc)|(oxygen_woceqc)|(package_depth)|(package_depth_woceqc)|(par)|(par_raw)|(par_raw_woceqc)|(par_woceqc)|(partial_co2_temperature)|(partial_pressure_of_co2)|(partial_pressure_of_co2_woceqc)|(particulate_organic_carbon)|(particulate_organic_carbon_woceqc)|(particulate_organic_nitrogen)|(particulate_organic_nitrogen_mol)|(particulate_organic_nitrogen_mol_woceqc)|(particulate_organic_nitrogen_woceqc)|(ph_nbs)|(ph_nbs_woceqc)|(ph_sws)|(ph_sws_woceqc)|(ph_temperature)|(ph_temperature_woceqc)|(ph_total_h_scale)|(ph_total_h_scale_woceqc)|(ph_unknown_scale)|(ph_unknown_scale_woceqc)|(phaeophytin)|(phaeophytin_ug_l)|(phaeophytin_ug_l_woceqc)|(phaeophytin_woceqc)|(phosphate)|(phosphate_error)|(phosphate_l)|(phosphate_l_woceqc)|(phosphate_woceqc)|(phytoplankton_cell_count)|(phytoplankton_cell_count_woceqc)|(picoeukaryote_cell_counts)|(picoeukaryote_cell_counts_woceqc)|(potential_temperature)|(potential_temperature_woceqc)|(pressure)|(pressure_woceqc)|(prochlorophyte_cell_count)|(prochlorophyte_cell_count_woceqc)|(radium_226)|(radium_226_error)|(radium_226_woceqc)|(radium_228)|(radium_228_226)|(radium_228_226_error)|(radium_228_226_woceqc)|(radium_228_error)|(radium_228_woceqc)|(ref_temperature)|(ref_temperature_c)|(ref_temperature_c_woceqc)|(ref_temperature_woceqc)|(reference_salinity)|(reference_salinity_woceqc)|(refractive_index_anomaly)|(refractive_index_anomaly_woceqc)|(rev_pressure)|(rev_pressure_woceqc)|(rev_temperature)|(rev_temperature_90)|(rev_temperature_90_woceqc)|(rev_temperature_c)|(rev_temperature_c_woceqc)|(rev_temperature_woceqc)|(rhamnose)|(rhamnose_woceqc)|(salinity)|(salinity_bfile)|(salinity_bfile_woceqc)|(salinity_woceqc)|(sample)|(sigma0)|(sigma0_woceqc)|(silicate)|(silicate_error)|(silicate_l)|(silicate_l_woceqc)|(silicate_woceqc)|(sm_depth)|(sm_depth_woceqc)|(somma_salinity)|(spar_raw)|(spar_raw_woceqc)|(sulfur_hexifluoride)|(sulfur_hexifluoride_woceqc)|(synechococcus_cell_count)|(synechococcus_cell_count_woceqc)|(temperature)|(temperature_bfile)|(temperature_bfile_woceqc)|(temperature_woceqc)|(total_alkalinity)|(total_alkalinity_woceqc)|(total_carbon)|(total_carbon_woceqc)|(total_dissolved_nitrogen)|(total_dissolved_nitrogen_woceqc)|(total_dissolved_phosphorus)|(total_dissolved_phosphorus_woceqc)|(total_organic_carbon)|(total_organic_carbon_l)|(total_organic_carbon_l_woceqc)|(total_organic_carbon_woceqc)|(total_organic_nitrogen)|(total_organic_nitrogen_l)|(total_organic_nitrogen_l_woceqc)|(total_organic_nitrogen_woceqc)|(trifluoromethylsulfur_pentafluoride)|(trifluoromethylsulfur_pentafluoride_woceqc)|(tritium)|(tritium_error)|(tritium_woceqc)|(urea)|(urea_woceqc)|(user_bottle_number)|(user_bottle_number_woceqc)|(user_sample_number)|(user_station_number)|(xenon)|(xenon_error)|(xenon_woceqc){1})|all|except-data-values|[0-9]+)$"
                     },
                     "example": "temperature_btl,~salinity_ctd"
                  }
               },
               {
                  "$ref": "#/components/parameters/presRange"
               },
               {
                  "$ref": "#/components/parameters/batchMeta" 
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/cchdo"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/cchdo/meta": {
         "get": {
            "tags": [
               "cchdo"
            ],
            "summary": "GO-SHIP metadata search and filter.",
            "operationId": "findCCHDOmeta",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/woceline"
               },
               {
                  "$ref": "#/components/parameters/cchdo_cruise"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/cchdoMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/cchdo/vocabulary": {
         "get": {
            "tags": [
               "cchdo"
            ],
            "summary": "List all possible values for certain CCHDO query string parameters",
            "operationId": "cchdoVocab",
            "parameters": [
               {
                  "in": "query",
                  "name": "parameter",
                  "required": true,
                  "description": "GO-SHIP query string parameter to summarize possible values of.",
                  "schema": {
                     "type": "string",
                     "enum": ["woceline", "cchdo_cruise", "source", "data", "metadata"]
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/easyocean": {
         "get": {
            "tags": [
               "easyocean"
            ],
            "summary": "Easyocean search and filter.",
            "operationId": "findeasyocean",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/box"
               },
               {
                  "$ref": "#/components/parameters/winding"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/metadata"
               },
               {
                  "$ref": "#/components/parameters/woceline"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "$ref": "#/components/parameters/mostrecent"
               },
               {
                  "name": "data",
                  "in": "query",
                  "description": "Keys of data to include. Return only documents that have all data requested, within the pressure range if specified. Accepts ~ negation to filter out documents including the specified data. Omission of this parameter will result in metadata only responses.",
                  "style": "form",
                  "explode": false,
                  "allowReserved": true,
                  "schema": {
                     "type": "array",
                     "items": {
                        "type": "string",
                        "pattern": "^((~)?((absolute_salinity)|(conservative_temperature)|(ctd_salinity)|(ctd_temperature)|(doxy)|(pressure){1})|all|except-data-values|[0-9]+)$"
                     },
                     "example": "absolute_salinity,~conservative_temperature"
                  }
               },
               {
                  "$ref": "#/components/parameters/presRange"
               },
               {
                  "$ref": "#/components/parameters/batchMeta" 
               },
               {
                  "name": "section_start_date",
                  "in": "query",
                  "description": "Start date of the section of interest; see metadata corresponding to the WOCE line of interest for valid options.",
                  "allowReserved": true,
                  "schema":{
                     "type": "string",
                     "format": "date-time",
                     "example": "2010-01-01T00:00:00Z"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/easyocean"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/easyocean/meta": {
         "get": {
            "tags": [
               "easyocean"
            ],
            "summary": "Easyocean metadata search and filter.",
            "operationId": "findeasyoceanmeta",
            "parameters": [
               {
                  "$ref": "#/components/parameters/woceline"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/easyoceanMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/easyocean/vocabulary": {
         "get": {
            "tags": [
               "easyocean"
            ],
            "summary": "List all possible values for certain easyocean query string parameters",
            "operationId": "easyoceanVocab",
            "parameters": [
               {
                  "in": "query",
                  "name": "parameter",
                  "required": true,
                  "description": "Easyocean query string parameter to summarize possible values of.",
                  "schema": {
                     "type": "string",
                     "enum": ["woceline", "data", "metadata"]
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/argo": {
         "get": {
            "tags": [
               "argo"
            ],
            "summary": "Argo search and filter.",
            "operationId": "findArgo",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/box"
               },
               {
                  "$ref": "#/components/parameters/winding"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/metadata"
               },
               {
                  "$ref": "#/components/parameters/platformID"
               },
               {
                  "$ref": "#/components/parameters/platform_type"
               },
               {
                  "$ref": "#/components/parameters/profileSource"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "$ref": "#/components/parameters/mostrecent"
               },
               {
                  "name": "data",
                  "in": "query",
                  "description": "Keys of data to include. Return only documents that have all data requested, within the pressure range if specified. Accepts ~ negation to filter out documents including the specified data. Omission of this parameter will result in metadata only responses.",
                  "style": "form",
                  "explode": false,
                  "allowReserved": true,
                  "schema": {
                     "$ref": "#/components/schemas/argo_data_keys"
                  }
               },
               {
                  "$ref": "#/components/parameters/presRange"
               },
               {
                  "$ref": "#/components/parameters/batchMeta" 
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/argo"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/argo/meta": {
         "get": {
            "tags": [
               "argo"
            ],
            "summary": "Argo metadata search and filter.",
            "operationId": "findArgometa",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/platformID"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/argoMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/argo/vocabulary": {
         "get": {
            "tags": [
               "argo"
            ],
            "summary": "List all possible values for certain Argo query string parameters",
            "operationId": "argoVocab",
            "parameters": [
               {
                  "in": "query",
                  "name": "parameter",
                  "required": true,
                  "description": "Argo query string parameter to summarize possible values of.",
                  "schema": {
                     "type": "string",
                     "enum": ["platform", "source", "data", "metadata", "platform_type"]
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/argo/overview": {
         "get": {
            "tags": [
               "argo"
            ],
            "summary": "Summarizes some collection-level statistics about Argo data.",
            "operationId": "argoOverview",
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "object",
                           "properties": {
                              "_id": {
                                 "type": "string",
                                 "enum": ["argo_overview"]
                              },
                              "summary": {
                                 "type": "object",
                                 "properties": {
                                    "nCore": {
                                       "type": "number"
                                    },
                                    "nBGC": {
                                       "type": "number"
                                    },
                                    "nDeep": {
                                       "type": "number"
                                    },
                                    "mostrecent": {                       
                                       "type": "string",
                                       "format": "date-time",
                                       "example": "2010-01-01T00:00:00Z"
                                    },
                                    "datacenters": {
                                       "type": "array",
                                       "items": {
                                          "type": "string"
                                       }
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/argo/dacs": {
         "get": {
            "tags": [
               "argo"
            ],
            "summary": "Summarizes some datacenter-level statistics about Argo data.",
            "operationId": "argoDACs",
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "object",
                           "properties": {
                              "_id": {
                                 "type": "string",
                                 "enum": ["argo_dacs"]
                              },
                              "summary": {
                                 "type": "array",
                                 "items": {
                                    "type": "object",
                                    "properties": {
                                       "_id": {
                                          "type": "string"
                                       },
                                       "n": {
                                          "type": "number"
                                       },
                                       "mostrecent": {                       
                                          "type": "string",
                                          "format": "date-time",
                                          "example": "2010-01-01T00:00:00Z"
                                       }
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/argo/bgc": {
         "get": {
            "tags": [
               "argo"
            ],
            "summary": "Summarizes some float-level statistics for Argo BGC floats.",
            "operationId": "argoBGC",
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "object",
                           "properties": {
                              "_id": {
                                 "type": "string",
                                 "enum": ["argo_bgc"]
                              },
                              "summary": {
                                 "type": "array",
                                 "items": {
                                    "type": "object",
                                    "properties": {
                                       "_id": {
                                          "type": "string"
                                       },
                                       "n": {
                                          "type": "number"
                                       },
                                       "mostrecent": {                       
                                          "type": "string",
                                          "format": "date-time",
                                          "example": "2010-01-01T00:00:00Z"
                                       }
                                    }
                                 }
                              }
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/argotrajectories": {
         "get": {
            "tags": [
               "Argo trajectories (experimental)"
            ],
            "summary": "Argo trajectory search and filter.",
            "operationId": "findArgoTrajectory",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/box"
               },
               {
                  "$ref": "#/components/parameters/winding"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/metadata"
               },
               {
                  "$ref": "#/components/parameters/platformID"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "$ref": "#/components/parameters/mostrecent"
               },
               {
                  "name": "data",
                  "in": "query",
                  "description": "Keys of data to include. Return only documents that have all data requested. Accepts ~ negation to filter out documents including the specified data. Omission of this parameter will result in metadata only responses.",
                  "style": "form",
                  "explode": false,
                  "allowReserved": true,
                  "schema": {
                     "$ref": "#/components/schemas/argotrajectory_data_keys"
                  }
               },
               {
                  "$ref": "#/components/parameters/batchMeta" 
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/argotrajectory"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/argotrajectories/meta": {
         "get": {
            "tags": [
               "Argo trajectories (experimental)"
            ],
            "summary": "Argo trajectory metadata search and filter.",
            "operationId": "findArgotrajectorymeta",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/platformID"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/argotrajectoryMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/argotrajectories/vocabulary": {
         "get": {
            "tags": [
               "Argo trajectories (experimental)"
            ],
            "summary": "List all possible values for certain Argo trajectory query string parameters",
            "operationId": "argotrajectoryVocab",
            "parameters": [
               {
                  "in": "query",
                  "name": "parameter",
                  "required": true,
                  "description": "Argo trajectory query string parameter to summarize possible values of.",
                  "schema": {
                     "type": "string",
                     "enum": ["platform"]
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/summary": {
         "get": {
            "tags": [
               "summary (experimental)"
            ],
            "summary": "Fetch a document from the summary collection by ID.",
            "operationId": "fetchSummary",   
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "object"
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/token": {
         "get": {
            "tags": [
               "token"
            ],
            "summary": "validate an API token",
            "operationId": "validateToken",
            "parameters": [
               {
                  "in": "query",
                  "name": "token",
                  "required": true,
                  "description": "token to validate",
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "object"
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      }
   },
   "components": {
      "schemas": {
         "arShapeSchema": {
            "type": "object",
            "required": [
               "_id",
               "date",
               "shapeId",
               "geolocation",
               "date_formatted"
            ],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "date": {
                  "type": "string",
                  "format": "date-time"
               },
               "shapeId": {
                  "type": "integer"
               },
               "geolocation": {
                  "$ref": "#/components/schemas/geoJSONpolygon"
               },
               "date_formateed": {
                  "type": "string",
                  "format": "date"
               }
            }
         },
         "argone": {
            "type": "object",
            "required": ["_id", "metadata", "geolocation", "geolocation_forecast"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "geolocation_forecast": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "data": {
                  "$ref": "#/components/schemas/data"
               }
            }
         },
         "argoneMeta": {
            "type": "object",
            "required": ["_id", "data_type", "date_updated_argovis", "source", "levels", "data_info"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "levels": {
                  "type": "array",
                  "items": {
                     "type": "number"
                  }
               },
               "data_info": {
                  "$ref": "#/components/schemas/data_info"
               }
            }
         },
         "tc": {
            "type": "object",
            "required": ["_id", "metadata", "geolocation", "basin", "timestamp", "record_identifier", "class"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "basin": {
                  "type": "number"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "data": {
                  "$ref": "#/components/schemas/data"
               },
               "record_identifier": {
                  "type": "string"
               },
               "class": {
                  "type": "string"
               }
            }
         },
         "tcMeta": {
            "type": "object",
            "required": ["_id", "data_type", "date_updated_argovis", "source", "name", "num", "data_info"],
            "properties":{
               "_id": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "data_info": {
                  "$ref": "#/components/schemas/data_info"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "name": {
                  "type": "string"
               },
               "num": {
                  "type": "number"
               }
            }
         },
         "grid": {
            "type": "object",
            "required": ["_id", "metadata", "geolocation", "basin", "timestamp"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "basin": {
                  "type": "number"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "data": {
                  "$ref": "#/components/schemas/data"
               }
            }
         },
         "gridMeta": {
            "type": "object",
            "required": ["_id", "data_type", "date_updated_argovis", "source", "levels", "data_info"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "levels": {
                  "type": "array",
                  "items": {
                     "type": "number"
                  }
               },
               "data_info": {
                  "$ref": "#/components/schemas/data_info"
               }
            }
         },
         "geoJSONpoint": {
            "type": "object",
            "required": ["type", "coordinates"],
            "properties": {
               "type": {
                  "type": "string"
               },
               "coordinates": {
                  "type": "array",
                  "items": {
                     "type": "number",
                     "minItems": 2,
                     "maxItems": 2
                  }
               }
            }
         },
         "geoJSONpolygon": {
            "type": "object",
            "properties": {
               "type": {
                  "type": "string"
               },
               "coordinates": {
                  "type": "array",
                  "items": {
                     "type": "array",
                     "items": {
                        "type": "number",
                        "minItems": 2,
                        "maxItems": 2
                     }
                  }
               }
            }
         },
         "geoJSONmultipolygon": {
            "type": "object",
            "properties": {
               "type": {
                  "type": "string"
               },
               "coordinates": {
                  "type": "array",
                  "items": {
                     "type": "array",
                     "items": {
                        "type": "array",
                        "items": {
                           "type": "array",
                           "items": {
                              "type": "number",
                              "minItems": 2,
                              "maxItems": 2
                           }
                        }
                     }
                  }
               }
            }
         },
         "data": {
            "type": "array",
            "items": {
               "type": "array",
               "items": {
                  "anyOf": [ {"type": "string"}, {"type": "number"}]
               }
            }
         },
         "data_info": {
            "type": "array",
            "items": {
               "anyOf": [
                  {
                     "type": "array",
                     "items": {
                        "type": "string"
                     }
                  },
                  {
                     "type": "array",
                     "items": {
                        "type": "array",
                        "items": {
                           "anyOf": [ {"type": "string"}, {"type": "number"}]
                        }
                     }
                  }
               ]
            }
         },
         "generic_source_info": {
            "type": "object",
            "properties": {
               "source": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "url": {
                  "type": "string"
               },
               "date_updated": {
                  "type": "string",
                  "format": "date-time"
               },
               "doi": {
                  "type": "string"
               }
            }
         },
         "timeseries": {
            "type": "array",
            "items": {
               "type": "string",
               "format": "date-time",
               "example": "2010-01-01T00:00:00Z"    
            }
         },
         "cchdo": {
            "type": "object",
            "required": ["_id","metadata","geolocation","basin","timestamp", "data_info", "source", "station", "cast"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "btm_depth": {
                  "type": "number"
               },
               "file_hash": {
                  "type": "string"
               },
               "basin": {
                  "type": "number"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "data_warning": {
                  "type": "array",
                  "items": {
                     "type": "string",
                     "enum": ["degenerate_levels", "missing_basin", "missing_location", "missing_timestamp"]
                  }
               },
               "station": {
                  "type": "string"
               },
               "cast": {
                  "type": "number"
               },
               "data": {
                  "$ref": "#/components/schemas/data"
               },
               "data_info": {
                  "$ref": "#/components/schemas/data_info"
               }
            }
         },
         "cchdoMeta": {
            "type": "object",
            "required": ["_id", "date_updated_argovis", "data_type", "expocode", "cchdo_cruise_id", "woce_lines"],
            "properties":{
               "_id": {
                  "type": "string"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "data_type": {
                  "type": "string"
               },
               "country": {
                  "type": "string"
               },
               "data_center": {
                  "type": "string"
               },
               "instrument": {
                  "type": "string"
               },
               "pi_name": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "expocode": {
                  "type": "string"
               },
               "file_expocode": {
                  "type": "string"
               },
               "cchdo_cruise_id": {
                  "type": "number"
               },
               "woce_lines": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "positioning_system": {
                  "type": "string"
               }
            }
         },
         "easyocean": {
               "type": "object",
               "required": ["_id","metadata","geolocation","basin","timestamp","data_info","source"],
               "_id": {
                  "type": "string"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "data_type": {
                  "type": "string"
               },
               "section_expocodes": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "section_start_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "section_end_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "woce_lines": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "instrument": {
                  "type": "string"
               },
               "references": {
                  "type": "string"
               },
               "dataset_created": {
                  "type": "string",
                  "format": "date-time"
               },
               "section_countries": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "positioning_system": {
                  "type": "string"
               },
               "data_center": {
                  "type": "string"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "basin": {
                  "type": "number"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },

               "data": {
                  "$ref": "#/components/schemas/data"
               },
               "data_info": {
                  "$ref": "#/components/schemas/data_info"
               }
         },
         "easyoceanMeta": {
            "type": "object",
            "required": ["_id","occupancies","date_updated_argovis"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "occupancies": {
                  "type": "array",
                  "items": {
                     "type": "object",
                     "properties": {
                        "varying_direction": {
                           "type": "string"
                        },
                        "static_direction": {
                           "type": "string"
                        },
                        "expocodes": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        },
                        "time_boundaries": {
                           "type": "array",
                           "items": {
                              "type": "string",
                              "format": "date-time"
                           }
                        }
                     }
                  }
               }
            }
         },
         "argo": {
            "type": "object",
            "required": ["_id","metadata","geolocation","basin","timestamp", "date_updated_argovis", "source", "cycle_number", "data_info"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "basin": {
                  "type": "number"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "data": {
                  "$ref": "#/components/schemas/data"
               },
               "data_info": {
                  "$ref": "#/components/schemas/data_info"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "data_warning": {
                  "type": "array",
                  "items": {
                     "type": "string",
                     "enum": ["degenerate_levels", "missing_basin", "missing_location", "missing_timestamp"]
                  }
               },
               "cycle_number": {
                  "type": "number"
               },
               "geolocation_argoqc": {
                  "type": "number"
               },
               "profile_direction": {
                  "type": "string"
               },
               "timestamp_argoqc": {
                  "type": "number"
               },
               "vertical_sampling_scheme": {
                  "type": "string"
               }
            }
         },
         "argoMeta": {
            "type": "object",
            "required": ["_id", "data_type"],
            "properties":{
               "_id": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "country": {
                  "type": "string"
               },
               "data_center": {
                  "type": "string"
               },
               "instrument": {
                  "type": "string"
               },
               "pi_name": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "platform": {
                  "type": "string"
               },
               "platform_type": {
                  "type": "string"
               },
               "fleetmonitoring": {
                  "type": "string"
               },
               "oceanops": {
                  "type": "string"
               },
               "positioning_system": {
                  "type": "string"
               },
               "wmo_inst_type": {
                  "type": "string"
               }
            }
         },
         "argotrajectory": {
            "type": "object",
            "required": ["_id", "cycle_number", "geolocation", "timestamp", "metadata", "geolocation_descending", "timestamp_descending", "geolocation_descending_transmitted", "timestamp_descending_transmitted", "geolocation_ascending", "timestamp_ascending", "geolocation_ascending_transmitted", "timestamp_ascending_transmitted", "geolocation_midpoint_transmitted", "timestamp_midpoint_transmitted"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "cycle_number": {
                  "type": "number"
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "geolocation_descending": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "timestamp_descending": {
                  "type": "string",
                  "format": "date-time"
               },
               "geolocation_ascending": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "timestamp_ascending": {
                  "type": "string",
                  "format": "date-time"
               },
               "geolocation_descending_transmitted": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "timestamp_descending_transmitted": {
                  "type": "string",
                  "format": "date-time"
               },
               "geolocation_ascending_transmitted": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "timestamp_ascending_transmitted": {
                  "type": "string",
                  "format": "date-time"
               },
               "geolocation_midpoint_transmitted": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "timestamp_midpoint_transmitted": {
                  "type": "string",
                  "format": "date-time"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "data": {
                  "$ref": "#/components/schemas/data"
               }
            }
         },
         "argotrajectoryMeta": {
            "type": "object",
            "required": ["_id", "data_type"],
            "properties":{
               "_id": {
                  "type": "string"
               },
               "platform": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "positioning_system_flag": {
                  "type": "number"
               },
               "sensor_type_flag": {
                  "type": "number"
               },
               "mission_flag": {
                  "type": "number"
               },
               "extrapolation_flag": {
                  "type": "number"
               },
               "positioning_system": {
                  "type": "string"
               },
               "platform_type": {
                  "type": "string"
               },
               "data_info": {
                  "$ref": "#/components/schemas/data_info"
               }
            }
         },
         "data_adjacent": {
            "anyOf": [
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               {
                  "type": "object",
                  "additionalProperties": {
                     "type": "string"
                  }       
               }
            ]  
         },
         "argo_data_keys": {
            "type": "array",
            "items": {
               "type": "string",
               "pattern": "^((~)?((bbp470)|(bbp532)|(bbp700)|(bbp700_2)|(bisulfide)|(cdom)|(chla)|(cndc)|(cndx)|(cp660)|(down_irradiance380)|(down_irradiance412)|(down_irradiance442)|(down_irradiance443)|(down_irradiance490)|(down_irradiance555)|(down_irradiance670)|(downwelling_par)|(doxy)|(doxy2)|(doxy3)|(molar_doxy)|(nitrate)|(ph_in_situ_total)|(pressure)|(salinity)|(salinity_sfile)|(temperature)|(temperature_sfile)|(turbidity)|(up_radiance412)|(up_radiance443)|(up_radiance490)|(up_radiance555){1})((_std)|(_med){1})?(_argoqc)?|all|except-data-values|[0-9]+)$"
            }
         },
         "argotrajectory_data_keys": {
            "type": "array",
            "items": {
               "type": "string",
               "pattern": "^((~)?((velocity_zonal)|(velocity_meridional)|(velocity_zonal_transmitted)|(velocity_meridional_transmitted)|(speed)|(speed_transmitted)|(drift_pres)|(drift_temp)|(number_surface_fixes){1})|all|except-data-values)$"
            }
         },
         "genericTimeseries": {
            "type": "object",
            "required": ["_id", "metadata", "geolocation", "basin"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "basin": {
                  "type": "number"
               },
               "data": {
                  "$ref": "#/components/schemas/data"
               },
               "level": {
                  "type": "number"
               }
            }
         },
         "genericTimeseriesMeta": {
            "type": "object",
            "required": ["_id", "data_type", "data_info", "date_updated_argovis", "timeseries", "source"],
            "properties":{
               "_id": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "data_info": {
                  "$ref": "#/components/schemas/data_info"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "timeseries": {
                  "$ref": "#/components/schemas/timeseries"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               }
            }
         },
         "genericExtended": {
            "type": "object",
            "required": ["_id", "metadata", "geolocation", "timestamp", "raster", "basins"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONmultipolygon"
               },
               "true_geolocation": {
                   "$ref": "#/components/schemas/geoJSONmultipolygon"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "raster": {
[...]
