{
   "openapi": "3.0.3",
   "info": {
      "title": "Argovis API",
      "description": "REST API for Argo profiles, platforms, selections, BGC data, gridded products, etc.",
      "contact": {
         "name": "Argovis Collaboration",
         "email": "argovis@colorado.edu",
         "url": "https://argovisbeta01.colorado.edu"
      },
      "license": {
         "name": "MIT",
         "url": "https://opensource.org/licenses/MIT"
      },
      "version": "2.0"
   },
   "externalDocs": {
      "description": "Find us on GitHub",
      "url": "https://github.com/argovis/argovis_api"
   },
   "servers": [
      {
         "url": "https://argovis.colorado.edu/api"
      },
      {
         "url": "/"
      }
   ],
   "security": [
      {
         "name": []
      }
   ],
   "tags": [
      {
         "name": "drifters",
         "description": "Data and metadata for drifters."
      },
      {
         "name": "summary (experimental)",
         "description": "Summary statistics (mostly for internal use)"
      },
      {
         "name": "token",
         "description": "token validation"
      }
   ],
   "paths": {
      "/drifters": {
         "get": {
            "tags": [
               "drifters"
            ],
            "summary": "Search, reduce and download drifter data.",
            "operationId": "drifterSearch",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/metadata"
               },
               {
                  "$ref": "#/components/parameters/wmo"
               },
               {
                  "$ref": "#/components/parameters/platformID"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "$ref": "#/components/parameters/mostrecent"
               },
               {
                  "name": "data",
                  "in": "query",
                  "description": "Keys of data to include. Return only documents that have all data requested, within the pressure range if specified. Accepts ~ negation to filter out documents including the specified data. Omission of this parameter will result in metadata only responses.",
                  "style": "form",
                  "explode": false,
                  "allowReserved": true,
                  "schema": {
                     "type": "array",
                     "items": {
                        "type": "string",
                        "pattern": "^((~)?((ve)|(vn)|(err_lon)|(err_lat)|(err_ve)|(err_vn)|(gap)|(sst)|(sst1)|(sst2)|(err_sst)|(err_sst1)|(err_sst2)|(flg_sst)|(flg_sst1)|(flg_sst2){1})|all|except-data-values)$"
                     },
                     "example": "sst,err_sst"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/drifter"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/drifters/meta": {
         "get": {
            "tags": [
               "drifters"
            ],
            "summary": "Search, reduce and download drifter metadata.",
            "operationId": "drifterMetaSearch",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/platformID"
               },
               {
                  "$ref": "#/components/parameters/wmo"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/drifterMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/drifters/vocabulary": {
         "get": {
            "tags": [
               "drifters"
            ],
            "summary": "List all possible values for certain drifter query string parameters",
            "operationId": "drifterVocab",
            "parameters": [
               {
                  "in": "query",
                  "name": "parameter",
                  "required": true,
                  "description": "/drifters query string parameter to summarize possible values of.",
                  "schema": {
                     "type": "string",
                     "enum": ["wmo", "platform", "data_keys", "metadata"]
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/summary": {
         "get": {
            "tags": [
               "summary (experimental)"
            ],
            "summary": "Fetch a document from the summary collection by ID.",
            "operationId": "fetchSummary",   
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "object"
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/token": {
         "get": {
            "tags": [
               "token"
            ],
            "summary": "validate an API token",
            "operationId": "validateToken",
            "parameters": [
               {
                  "in": "query",
                  "name": "token",
                  "required": true,
                  "description": "token to validate",
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "object"
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      }
   },
   "components": {
      "schemas": {
         "arShapeSchema": {
            "type": "object",
            "required": [
               "_id",
               "date",
               "shapeId",
               "geolocation",
               "date_formatted"
            ],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "date": {
                  "type": "string",
                  "format": "date-time"
               },
               "shapeId": {
                  "type": "integer"
               },
               "geolocation": {
                  "$ref": "#/components/schemas/geoJSONpolygon"
               },
               "date_formateed": {
                  "type": "string",
                  "format": "date"
               }
            }
         },
         "argone": {
            "type": "object",
            "required": ["_id", "metadata", "geolocation", "geolocation_forecast"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "geolocation_forecast": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "data": {
                  "$ref": "#/components/schemas/data"
               }
            }
         },
         "argoneMeta": {
            "type": "object",
            "required": ["_id", "data_type", "date_updated_argovis", "source", "levels", "data_info"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "levels": {
                  "type": "array",
                  "items": {
                     "type": "number"
                  }
               },
               "data_info": {
                  "$ref": "#/components/schemas/data_info"
               }
            }
         },
         "tc": {
            "type": "object",
            "required": ["_id", "metadata", "geolocation", "basin", "timestamp", "record_identifier", "class"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "basin": {
                  "type": "number"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "data": {
                  "$ref": "#/components/schemas/data"
               },
               "record_identifier": {
                  "type": "string"
               },
               "class": {
                  "type": "string"
               }
            }
         },
         "tcMeta": {
            "type": "object",
            "required": ["_id", "data_type", "date_updated_argovis", "source", "name", "num", "data_info"],
            "properties":{
               "_id": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "data_info": {
                  "$ref": "#/components/schemas/data_info"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "name": {
                  "type": "string"
               },
               "num": {
                  "type": "number"
               }
            }
         },
         "grid": {
            "type": "object",
            "required": ["_id", "metadata", "geolocation", "basin", "timestamp"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "basin": {
                  "type": "number"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "data": {
                  "$ref": "#/components/schemas/data"
               }
            }
         },
         "gridMeta": {
            "type": "object",
            "required": ["_id", "data_type", "date_updated_argovis", "source", "levels", "data_info"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "levels": {
                  "type": "array",
                  "items": {
                     "type": "number"
                  }
               },
               "data_info": {
                  "$ref": "#/components/schemas/data_info"
               }
            }
         },
         "geoJSONpoint": {
            "type": "object",
            "required": ["type", "coordinates"],
            "properties": {
               "type": {
                  "type": "string"
               },
               "coordinates": {
                  "type": "array",
                  "items": {
                     "type": "number",
                     "minItems": 2,
                     "maxItems": 2
                  }
               }
            }
         },
         "geoJSONpolygon": {
            "type": "object",
            "properties": {
               "type": {
                  "type": "string"
               },
               "coordinates": {
                  "type": "array",
                  "items": {
                     "type": "array",
                     "items": {
                        "type": "number",
                        "minItems": 2,
                        "maxItems": 2
                     }
                  }
               }
            }
         },
         "data": {
            "type": "array",
            "items": {
               "type": "array",
               "items": {
                  "anyOf": [ {"type": "string"}, {"type": "number"}]
               }
            }
         },
         "data_info": {
            "type": "array",
            "items": {
               "anyOf": [
                  {
                     "type": "array",
                     "items": {
                        "type": "string"
                     }
                  },
                  {
                     "type": "array",
                     "items": {
                        "type": "array",
                        "items": {
                           "anyOf": [ {"type": "string"}, {"type": "number"}]
                        }
                     }
                  }
               ]
            }
         },
         "generic_source_info": {
            "type": "object",
            "required": ["source"],
            "properties": {
               "source": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "url": {
                  "type": "string"
               },
               "date_updated": {
                  "type": "string",
                  "format": "date-time"
               },
               "doi": {
                  "type": "string"
               }
            }
         },
         "drifter_source_info": {
            "type": "object",
            "required": ["source"],
            "properties": {
               "source": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "url": {
                  "type": "string"
               }
            }
         },
         "drifter": {
            "type": "object",
            "required": ["_id", "metadata", "geolocation", "basin", "timestamp"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "basin": {
                  "type": "number"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "data": {
                  "$ref": "#/components/schemas/data"
               }
            }
         },
         "drifterMeta": {
            "type": "object",
            "required": ["_id", "data_type", "date_updated_argovis", "source", "platform", "rowsize", "wmo", "expno", "deploy_date", "deploy_lon", "deploy_lat", "end_date", "end_lon", "end_lat", "drogue_lost_date", "typedeath", "typebuoy", "data_info"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/drifter_source_info"
                  }
               },
               "platform": {
                  "type": "string"
               },
               "rowsize": {
                  "type": "number"
               },
               "wmo": {
                  "type": "number"
               },
               "expno": {
                  "type": "number"
               },
               "deploy_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "deploy_lon": {
                  "type": "number"
               },
               "deploy_lat": {
                  "type": "number"
               },
               "end_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "end_lon": {
                  "type": "number"
               },
               "end_lat": {
                  "type": "number"
               },
               "drogue_lost_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "typedeath": {
                  "type": "number"
               },
               "typebuoy": {
                  "type": "string"
               },
               "data_info": {
                  "$ref": "#/components/schemas/data_info"
               }
            }
         },
         "cchdo": {
            "type": "object",
            "required": ["_id","metadata","geolocation","basin","timestamp", "data_info", "source", "station", "cast"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "basin": {
                  "type": "number"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "data_warning": {
                  "type": "array",
                  "items": {
                     "type": "string",
                     "enum": ["degenerate_levels", "missing_basin", "missing_location", "missing_timestamp"]
                  }
               },
               "station": {
                  "type": "string"
               },
               "cast": {
                  "type": "number"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "data": {
                  "$ref": "#/components/schemas/data"
               },
               "data_info": {
                  "$ref": "#/components/schemas/data_info"
               }
            }
         },
         "cchdoMeta": {
            "type": "object",
            "required": ["_id", "date_updated_argovis", "data_type", "expocode", "cchdo_cruise_id", "woce_lines"],
            "properties":{
               "_id": {
                  "type": "string"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "data_type": {
                  "type": "string"
               },
               "country": {
                  "type": "string"
               },
               "data_center": {
                  "type": "string"
               },
               "instrument": {
                  "type": "string"
               },
               "pi_name": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "expocode": {
                  "type": "string"
               },
               "cchdo_cruise_id": {
                  "type": "number"
               },
               "woce_lines": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               }
            }
         },
         "argo": {
            "type": "object",
            "required": ["_id","metadata","geolocation","basin","timestamp", "date_updated_argovis", "source", "cycle_number", "data_info"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "basin": {
                  "type": "number"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "metadata": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "data": {
                  "$ref": "#/components/schemas/data"
               },
               "data_info": {
                  "$ref": "#/components/schemas/data_info"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "data_warning": {
                  "type": "array",
                  "items": {
                     "type": "string",
                     "enum": ["degenerate_levels", "missing_basin", "missing_location", "missing_timestamp"]
                  }
               },
               "cycle_number": {
                  "type": "number"
               },
               "geolocation_argoqc": {
                  "type": "number"
               },
               "profile_direction": {
                  "type": "string"
               },
               "timestamp_argoqc": {
                  "type": "number"
               },
               "vertical_sampling_scheme": {
                  "type": "string"
               }
            }
         },
         "argoMeta": {
            "type": "object",
            "required": ["_id", "data_type"],
            "properties":{
               "_id": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "country": {
                  "type": "string"
               },
               "data_center": {
                  "type": "string"
               },
               "instrument": {
                  "type": "string"
               },
               "pi_name": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "platform": {
                  "type": "string"
               },
               "platform_type": {
                  "type": "string"
               },
               "fleetmonitoring": {
                  "type": "string"
               },
               "oceanops": {
                  "type": "string"
               },
               "positioning_system": {
                  "type": "string"
               },
               "wmo_inst_type": {
                  "type": "string"
               }
            }
         },
         "data_adjacent": {
            "anyOf": [
               {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               {
                  "type": "object",
                  "additionalProperties": {
                     "type": "string"
                  }       
               }
            ]  
         },
         "argo_data_keys": {
            "type": "array",
            "items": {
               "type": "string",
               "pattern": "^((~)?((bbp470)|(bbp532)|(bbp700)|(bbp700_2)|(bisulfide)|(cdom)|(chla)|(cndc)|(cndx)|(cp660)|(down_irradiance380)|(down_irradiance412)|(down_irradiance442)|(down_irradiance443)|(down_irradiance490)|(down_irradiance555)|(down_irradiance670)|(downwelling_par)|(doxy)|(doxy2)|(doxy3)|(molar_doxy)|(nitrate)|(ph_in_situ_total)|(pressure)|(salinity)|(salinity_sfile)|(temperature)|(temperature_sfile)|(turbidity)|(up_radiance412)|(up_radiance443)|(up_radiance490)|(up_radiance555){1})((_std)|(_med){1})?(_argoqc)?|all|except-data-values)$"
            }
         },
         "errorResponse": {
            "type": "object",
            "required": [
               "code",
               "message"
            ],
            "properties": {
               "code": {
                  "type": "integer"
               },
               "message": {
                  "type": "string"
               }
            }
         }
      },
      "parameters": {
         "arDate": {
            "in": "query",
            "name": "date",
            "required": false,
            "description": "three hour increments starting at 2004-01-01T00:00:00 and ending at 2017-04-02T03:00:00",
            "allowReserved": true,
            "schema": {
               "type": "string",
               "format": "date-time",
               "example": "2010-01-01T00:00:00Z"
            }
         },
         "arID": {
            "in": "query",
            "name": "_id",
            "required": false,
            "description": "ID of an atmospheric river object",
            "schema": {
               "type": "string",
               "example": "1_262992"
            }
         },
         "tcName": {
            "name": "name",
            "in": "query",
            "required": false,
            "description": "name of tropical cyclone",
            "schema": {
               "type": "string",
               "example": "LANE"
            }
         },
         "startDate": {
            "in": "query",
            "name": "startDate",
            "description": "ISO 8601 UTC date-time formatted string indicating the beginning of the time period of interest.",
            "allowReserved": true,
            "schema": {
               "type": "string",
               "format": "date-time",
               "example": "2010-01-01T00:00:00Z"
            }
         },
         "endDate": {
            "in": "query",
            "name": "endDate",
            "description": "ISO 8601 UTC date-time formatted string indicating the end of the time period of interest.",
            "allowReserved": true,
            "schema": {
               "type": "string",
               "format": "date-time",
               "example": "2010-01-01T00:00:00Z"
            }
         },
         "gridName": {
            "in": "query",
            "name": "gridName",
            "required": true,
            "description": "name of the gridded product to query.",
            "schema": {
               "type": "string",
               "example": "rgTempTotal"
            }
         },
         "presRange": {
            "in": "query",
            "name": "presRange",
            "description": "Pressure range in dbar to filter for; levels outside this range will not be returned.",
            "style": "form",
            "explode": false,
            "allowReserved": true,
            "schema": {
               "type": "array",
               "items": {
                  "type": "number",
                  "minItems": 2,
                  "maxItems": 2
               },
               "example": "10,20.1"
            }
         },
         "forecastOrigin": {
            "in": "query",
            "name": "forecastOrigin",
            "description": "Longitude,latitude of forecast origin location.",
            "style": "form",
            "explode": false,
            "allowReserved": true,
            "schema": {
               "type": "array",
               "items": {
                  "type": "number",
                  "minItems": 2,
                  "maxItems": 2
               },
               "example": "10,20.1"
            }
         },
         "forecastGeolocation": {
            "in": "query",
            "name": "forecastGeolocation",
            "description": "Longitude,latitude of forecast destination location.",
            "style": "form",
            "explode": false,
            "allowReserved": true,
            "schema": {
               "type": "array",
               "items": {
                  "type": "number",
                  "minItems": 2,
                  "maxItems": 2
               },
               "example": "10,20.1"
            }
         },
         "profileSource": {
            "in": "query",
            "name": "source",
            "description": "Experimental program source(s) to search for; document must match all sources to be returned. Accepts ~ negation to filter out documents. See /<data route>/vocabulary?parameter=source for list of options.",
            "style": "form",
            "explode": false,
            "allowReserved": true,
            "schema": {
               "type": "array",
               "items": {
                  "type": "string"
               },
               "example": "argo_bgc,~argo_core"
            }
         },
         "woceline": {
            "in": "query",
            "name": "woceline",
            "description": "WOCE line to search for. See /cchdo/vocabulary?parameter=woceline for list of options.",
            "schema": {
               "type": "string",
               "example": "A10"
            } 
         },
         "cchdo_cruise": {
            "in": "query",
            "name": "cchdo_cruise",
            "description": "CCHDO cruise ID to search for. See /cchdo/vocabulary?parameter=cchdo_cruise for list of options.",
            "schema": {
               "type": "number",
               "example": 518
            } 
         },
         "compression": {
            "in": "query",
            "name": "compression",
            "description": "Data minification strategy to apply.",
            "schema": {
               "type": "string",
               "enum": ["minimal"]
            }
         },
         "genericID": {
            "in": "query",
            "name": "id",
            "description": "Unique ID to search for.",
            "schema": {
               "type": "string",
               "example": "4902911_0"
            }
         },
         "platformID": {
            "in": "query",
            "name": "platform",
            "description": "Unique platform ID to search for.",
            "schema": {
               "type": "string",
               "example": "4902911"
            }
         },
         "platform_type": {
            "in": "query",
            "name": "platform_type",
            "description": "Make/model of platform",
            "schema": {
               "type": "string",
               "example": "PALACE"
            }
         },
         "polygon": {
            "in": "query",
            "name": "polygon",
            "description": "array of [lon, lat] vertices describing a polygon bounding the region of interest; final point must match initial point",
            "allowReserved": true,
            "schema": {
               "type": "string",
               "example": "[[-74.1,40.5],[-73.7,40.5],[-74.0,40.8],[-74.1,40.5]]"
            }
         },
         "multipolygon": {
            "in": "query",
            "name": "multipolygon",
            "description": "array of polygon regions; region of interest is taken as the intersection of all listed polygons.",
            "allowReserved": true,
            "schema": {
               "type": "string",
               "example": "[[[0,0],[0,1],[1,1],[1,0],[0,0]],[[0.5,0],[0.5,1],[1.5,1],[1.5,0],[0.5,0]]]"
            }
         },
         "center": {
            "in": "query",
            "name": "center",
            "description": "center to measure max radius from when defining circular region of interest; must be used in conjunction with query string parameter 'radius'.",
            "style": "form",
            "explode": false,
            "allowReserved": true,
            "schema": {
               "type": "array",
               "items": {
                  "type": "number",
                  "minItems": 2,
                  "maxItems": 2
               },
               "example": "10,20.1"
            }
         },
         "radius": {
            "in": "query",
            "name": "radius",
            "description": "km from centerpoint when defining circular region of interest; must be used in conjunction with query string parameter 'center'.",
            "schema": {
               "type": "number",
               "example": 50
            }
         },
         "mostrecent": {
            "in": "query",
            "name": "mostrecent",
            "description": "get back only the n records with the most recent values of timestamp.",
            "schema": {
               "type": "number"
            }
         },
         "lat": {
            "in": "query",
            "name": "lat",
            "required": true,
            "description": "latitude (degrees) of Argo float location",
            "schema": {
               "type": "number",
               "minimum": -90,
               "maximum": 90,
               "example": 5.25
            }
         },
         "lon": {
            "in": "query",
            "name": "lon",
            "required": true,
            "description": "longitude (degrees) of Argo float location",
            "schema": {
               "type": "number",
               "minimum": -180,
               "maximum": 180,
               "example": -20.33
            }
         },
         "forcastDays": {
            "in": "query",
            "name": "forcastDays",
            "required": true,
            "description": "number of days over which to project Argo float drift",
            "schema": {
               "type": "number",
               "minimum": 60,
               "maximum": 1800,
               "example": 60,
               "enum": [
                  60,
                  120,
                  140,
                  240,
                  360,
                  480,
                  720,
                  840,
                  960,
                  1080,
                  1200,
                  1320,
                  1440,
                  1560,
                  1680,
                  1800
               ]
            }
         },
         "wmo": {
            "in": "query",
            "name": "wmo",
            "description": "World Meteorological Organization identification number",
            "schema": {
               "type": "number",
               "example": 1300915
            }
         },
         "metadata": {
            "in": "query",
            "name": "metadata",
            "description": "metadata pointer",
            "schema":{
               "type": "string"
            }
         }
      },
      "responses": {
         "badRequest": {
            "description": "Bad Request",
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/errorResponse"
                  }
               }
            }
         },
         "notFound": {
            "description": "Not Found",
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/errorResponse"
                  }
               }
            }
         },
         "serverError": {
            "description": "Server Error",
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/errorResponse"
                  }
               }
            }
         }
      }
   }
}