{
   "openapi": "3.0.3",
   "info": {
      "title": "Argovis API",
      "description": "REST API for Argo profiles, platforms, selections, BGC data, gridded products, etc.",
      "contact": {
         "name": "Argovis Collaboration",
         "email": "argovis@colorado.edu",
         "url": "https://argovis.colorado.edu/"
      },
      "license": {
         "name": "MIT",
         "url": "https://opensource.org/licenses/MIT"
      },
      "version": "0.1"
   },
   "externalDocs": {
      "description": "Find us on GitHub",
      "url": "https://github.com/argovis/argovis_api"
   },
   "servers": [
      {
         "url": "https://argovis.colorado.edu",
         "description": "Server Hosted by University of Colorado, Boulder"
      },
      {
         "url": "http://localhost:3001",
         "description": "Local server for testing and development"
      }
   ],
   "security": [
      {
         "name": []
      }
   ],
   "tags": [
      {
         "name": "ar",
         "description": "atmospheric river shapes"
      },
      {
         "name": "covar",
         "description": "Argo float position forcast product"
      },
      {
         "name": "tc",
         "description": "tropical cyclone data"
      },
      {
         "name": "grid",
         "description": "Gridded products derived from Argo floats, simulation, or satalite product"
      },
      {
         "name": "profiles",
         "description": "Profile data, including BGC and profile metadata"
      },
      {
         "name": "platforms",
         "description": "Platform metadata"
      },
      {
         "name": "dacs",
         "description": "Summary and metadata for data assembly centers represented in the dataset"
      },
      {
         "name": "drifters",
         "description": "Data and metadata for drifters."
      }
   ],
   "paths": {
      "/ar": {
         "get": {
            "tags": [
               "ar"
            ],
            "summary": "Find and filter atmo river shapes.",
            "operationId": "findAR",   
            "parameters": [
               {
                  "$ref": "#/components/parameters/arDate"
               },
               {
                  "$ref": "#/components/parameters/arID"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/arShapeSchema"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/covarGrid": {
         "get": {
            "tags": [
               "covar"
            ],
            "summary": "Probability distribution field for a float at point lat-lon after forcastDays.",
            "operationId": "findCovar",
            "parameters": [
               {
                  "$ref": "#/components/parameters/lat"
               },
               {
                  "$ref": "#/components/parameters/lon"
               },
               {
                  "$ref": "#/components/parameters/forcastDays"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/CovarSchema"
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/covarSum": {
         "get": {
            "tags": [
               "covar"
            ],
            "summary": "Sum of probability distribution field over a region for a float starting at point lat-lon after forcastDays.",
            "operationId": "sumCovar",
            "parameters": [
               {
                  "$ref": "#/components/parameters/lat"
               },
               {
                  "$ref": "#/components/parameters/lon"
               },
               {
                  "$ref": "#/components/parameters/forcastDays"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "object",
                           "required": [
                              "sum"
                           ],
                           "properties": {
                              "sum": {
                                 "type": "integer"
                              }
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/tc": {
         "get": {
            "tags": [
               "tc"
            ],
            "summary": "Tropical cyclone search and filter.",
            "operationId": "findTC",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/tcName"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "name": "data",
                  "in": "query",
                  "description": "Keys of data to include. Return only documents that have all data requested, within the pressure range if specified. Accepts ~ negation to filter out documents including the specified data. Omission of this parameter will result in metadata only responses.",
                  "style": "form",
                  "explode": false,
                  "allowReserved": true,
                  "schema": {
                     "type": "array",
                     "items": {
                        "type": "string",
                        "pattern": "^((~)?((wind)|(surface_pressure){1})|all|metadata-only)$"
                     },
                     "example": "wind,~surface_pressure"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/tc"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/tc/meta": {
         "get": {
            "tags": [
               "tc"
            ],
            "summary": "Tropical cyclone metadata search and filter.",
            "operationId": "findTCmeta",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/tcName"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/tcMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/tc/vocabulary": {
         "get": {
            "tags": [
               "tc"
            ],
            "summary": "List all possible values for certain tc query string parameters",
            "operationId": "tcVocab",
            "parameters": [
               {
                  "in": "query",
                  "name": "parameter",
                  "required": true,
                  "description": "TC query string parameter to summarize possible values of.",
                  "schema": {
                     "type": "string",
                     "enum": ["name"]
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/grids/{gridName}": {
         "get": {
            "tags": [
               "grid"
            ],
            "summary": "Search and filter for grid named in path",
            "operationId": "findgrid",
            "parameters": [
               {
                  "name": "gridName",
                  "in": "path",
                  "required": "true",
                  "schema": {
                     "type": "string",
                     "enum": ["ohc_kg", "temperature_rg", "salinity_rg"]
                  }
               },
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "name": "data",
                  "in": "query",
                  "description": "Keys of data to include. Return only documents that have all data requested, within the pressure range if specified. Accepts ~ negation to filter out documents including the specified data. Omission of this parameter will result in metadata only responses.",
                  "style": "form",
                  "explode": false,
                  "allowReserved": true,
                  "schema": {
                     "type": "array",
                     "items": {
                        "type": "string"
                     },
                     "example": "salinity_rg"
                  }
               },
               {
                  "$ref": "#/components/parameters/presRange"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/grid"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/grids/meta": {
         "get": {
            "tags": [
               "grid"
            ],
            "summary": "Metadata for grids by ID",
            "operationId": "findgridMeta",
            "parameters":[
               {
                  "$ref": "#/components/parameters/genericID"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/gridMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/goship": {
         "get": {
            "tags": [
               "profiles"
            ],
            "summary": "GO-SHIP search and filter.",
            "operationId": "findGoship",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/woceline"
               },
               {
                  "$ref": "#/components/parameters/cchdo_cruise"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "name": "data",
                  "in": "query",
                  "description": "Keys of data to include. Return only documents that have all data requested, within the pressure range if specified. Accepts ~ negation to filter out documents including the specified data. Omission of this parameter will result in metadata only responses.",
                  "style": "form",
                  "explode": false,
                  "allowReserved": true,
                  "schema": {
                     "type": "array",
                     "items": {
                        "type": "string",
                        "pattern": "^((~)?((ammonium_btl)|(ammonium_btl_woceqc)|(bottle_latitude_btl)|(bottle_longitude_btl)|(bottle_number_btl)|(bottle_number_btl_woceqc)|(bottle_time_btl)|(carbon_tetrachloride_btl)|(carbon_tetrachloride_btl_woceqc)|(cfc_113_btl)|(cfc_113_btl_woceqc)|(cfc_11_btl)|(cfc_11_btl_woceqc)|(cfc_12_btl)|(cfc_12_btl_woceqc)|(chlorophyll_a_btl)|(chlorophyll_a_btl_woceqc)|(chlorophyll_a_ug_kg_btl)|(chlorophyll_a_ug_kg_btl_woceqc)|(ctd_beamcp_ctd)|(ctd_beamcp_ctd_woceqc)|(ctd_fluor_arbitrary_ctd)|(ctd_fluor_ctd)|(ctd_fluor_ctd_woceqc)|(ctd_fluor_raw_btl)|(ctd_fluor_raw_btl_woceqc)|(ctd_fluor_raw_ctd)|(ctd_fluor_raw_ctd_woceqc)|(ctd_number_of_observations_ctd)|(ctd_pressure_raw_btl)|(ctd_temperature_unk_ctd)|(ctd_temperature_unk_ctd_woceqc)|(ctd_transmissometer_ctd)|(ctd_transmissometer_ctd_woceqc)|(ctd_transmissometer_raw_btl)|(ctd_transmissometer_raw_btl_woceqc)|(ctd_transmissometer_raw_ctd)|(ctd_transmissometer_raw_ctd_woceqc)|(del_carbon_13_dic_btl)|(del_carbon_13_dic_btl_woceqc)|(del_carbon_14_dic_btl)|(del_carbon_14_dic_btl_woceqc)|(del_carbon_14_dic_error_btl)|(del_oxygen_18_btl)|(del_oxygen_18_btl_woceqc)|(del_oxygen_18_error_btl)|(delta_helium_3_btl)|(delta_helium_3_btl_woceqc)|(delta_helium_3_error_btl)|(dissolved_organic_carbon_btl)|(dissolved_organic_carbon_btl_woceqc)|(dissolved_organic_nitrogen_btl)|(dissolved_organic_nitrogen_btl_woceqc)|(doxy_btl)|(doxy_btl_woceqc)|(doxy_ctd)|(doxy_ctd_woceqc)|(fco2_btl)|(fco2_btl_woceqc)|(fco2_temperature_btl)|(helium_btl)|(helium_btl_woceqc)|(helium_error_btl)|(hplc_placeholder_btl_woceqc)|(methyl_chloroform_btl)|(methyl_chloroform_btl_woceqc)|(neon_btl)|(neon_btl_woceqc)|(neon_error_btl)|(nitrate_btl)|(nitrate_btl_woceqc)|(nitrite_btl)|(nitrite_btl_woceqc)|(nitrite_nitrate_btl)|(nitrite_nitrate_btl_woceqc)|(nitrous_oxide_btl)|(nitrous_oxide_btl_woceqc)|(oxygen_btl)|(oxygen_btl_woceqc)|(oxygen_ml_l_btl)|(oxygen_ml_l_btl_woceqc)|(par_ctd)|(par_ctd_woceqc)|(partial_co2_temperature_btl)|(partial_pressure_of_co2_btl)|(partial_pressure_of_co2_btl_woceqc)|(particulate_organic_carbon_btl)|(particulate_organic_carbon_btl_woceqc)|(particulate_organic_nitrogen_btl)|(particulate_organic_nitrogen_btl_woceqc)|(ph_sws_btl)|(ph_sws_btl_woceqc)|(ph_temperature_btl)|(ph_total_h_scale_btl)|(ph_total_h_scale_btl_woceqc)|(phaeophytin_btl)|(phaeophytin_btl_woceqc)|(phaeophytin_ug_l_btl)|(phaeophytin_ug_l_btl_woceqc)|(phosphate_btl)|(phosphate_btl_woceqc)|(potential_temperature_68_btl)|(potential_temperature_c_btl)|(pres)|(psal_btl)|(psal_btl_woceqc)|(psal_ctd)|(psal_ctd_woceqc)|(radium_226_btl)|(radium_226_btl_woceqc)|(radium_228_btl)|(radium_228_btl_woceqc)|(ref_temperature_btl)|(ref_temperature_btl_woceqc)|(ref_temperature_c_btl)|(ref_temperature_c_btl_woceqc)|(rev_pressure_btl)|(rev_pressure_btl_woceqc)|(rev_temperature_90_btl)|(rev_temperature_90_btl_woceqc)|(rev_temperature_btl)|(rev_temperature_btl_woceqc)|(rev_temperature_c_btl)|(rev_temperature_c_btl_woceqc)|(salinity_btl)|(salinity_btl_woceqc)|(sample_btl)|(sample_ctd)|(silicate_btl)|(silicate_btl_woceqc)|(sulfur_hexifluoride_btl)|(sulfur_hexifluoride_btl_woceqc)|(temperature_btl)|(temperature_btl_woceqc)|(temperature_ctd)|(temperature_ctd_woceqc)|(total_alkalinity_btl)|(total_alkalinity_btl_woceqc)|(total_carbon_btl)|(total_carbon_btl_woceqc)|(total_dissolved_nitrogen_btl)|(total_dissolved_nitrogen_btl_woceqc)|(tritium_btl)|(tritium_btl_woceqc)|(tritium_error_btl){1})|all|metadata-only)$"
                     },
                     "example": "temperature_btl,~psal_ctd"
                  }
               },
               {
                  "$ref": "#/components/parameters/presRange"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/goship"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/goship/meta": {
         "get": {
            "tags": [
               "profiles"
            ],
            "summary": "GO-SHIP metadata search and filter.",
            "operationId": "findGoshipmeta",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/woceline"
               },
               {
                  "$ref": "#/components/parameters/cchdo_cruise"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/goshipMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/goship/vocabulary": {
         "get": {
            "tags": [
               "profiles"
            ],
            "summary": "List all possible values for certain tc query string parameters",
            "operationId": "goshipVocab",
            "parameters": [
               {
                  "in": "query",
                  "name": "parameter",
                  "required": true,
                  "description": "GO-SHIP query string parameter to summarize possible values of.",
                  "schema": {
                     "type": "string",
                     "enum": ["woceline", "cchdo_cruise"]
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/profiles": {
         "get": {
            "tags": [
               "profiles"
            ],
            "summary": "Search, reduce and download profile data.",
            "operationId": "profile",
            "parameters": [
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/box"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/profileID"
               },
               {
                  "$ref": "#/components/parameters/platformID"
               },
               {
                  "$ref": "#/components/parameters/presRange"
               },
               {
                  "$ref": "#/components/parameters/dac"
               },
               {
                  "$ref": "#/components/parameters/profileSource" 
               },
               {
                  "$ref": "#/components/parameters/woceline" 
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "$ref": "#/components/parameters/data"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/Profile"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/profiles/listID": {
         "get": {
            "tags": [
               "profiles"
            ],
            "summary": "List profile IDs that match a search",
            "operationId": "profileList",
            "parameters": [
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/box"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/dac"
               },
               {
                  "$ref": "#/components/parameters/profileSource" 
               },
               {
                  "$ref": "#/components/parameters/woceline" 
               },
               {
                  "$ref": "#/components/parameters/platformID"
               },
               {
                  "$ref": "#/components/parameters/presRange"
               },
               {
                  "$ref": "#/components/parameters/data"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/profiles/overview": {
         "get": {
            "tags": [
               "profiles"
            ],
            "summary": "Provides a summary of the profile database.",
            "operationId": "profilesOverview",
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/profileCollectionSummary"
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/profiles/vocabulary": {
         "get": {
            "tags": [
               "profiles"
            ],
            "summary": "List all possible values for certain profile query string parameters",
            "operationId": "profileVocab",
            "parameters": [
               {
                  "in": "query",
                  "name": "parameter",
                  "required": true,
                  "description": "/profiles query string parameter to summarize possible values of.",
                  "schema": {
                     "type": "string",
                     "enum": ["data", "woceline", "dac", "source"]
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/platforms": {
         "get": {
            "tags": [
               "platforms"
            ],
            "summary": "Provides metadata for a specified platform.",
            "operationId": "platformMeta",
            "parameters": [
               {
                  "$ref": "#/components/parameters/platform"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/platformMeta"
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/platforms/mostRecent": {
         "get": {
            "tags": [
               "platforms"
            ],
            "summary": "Provides a list of platforms with their most recent known report and position.",
            "operationId": "platformList",
            "parameters": [
               {
                  "$ref": "#/components/parameters/platformList"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/platformRecent"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/platforms/bgc": {
         "get": {
            "tags": [
               "platforms"
            ],
            "summary": "Provides a list of all Argo platform IDs with BGC data.",
            "operationId": "platformBGC",
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/summary"
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/dacs": {
         "get": {
            "tags": [
               "dacs"
            ],
            "summary": "Provides summary data for each data assembly center.",
            "operationId": "dacSummary",
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/summary"
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/drifters": {
         "get": {
            "tags": [
               "drifters"
            ],
            "summary": "Search, reduce and download drifter data.",
            "operationId": "drifterSearch",
            "parameters": [
               {
                  "$ref": "#/components/parameters/genericID"
               },
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/multipolygon"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/wmo"
               },
               {
                  "$ref": "#/components/parameters/platformID"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "name": "data",
                  "in": "query",
                  "description": "Keys of data to include. Return only documents that have all data requested, within the pressure range if specified. Accepts ~ negation to filter out documents including the specified data. Omission of this parameter will result in metadata only responses.",
                  "style": "form",
                  "explode": false,
                  "allowReserved": true,
                  "schema": {
                     "type": "array",
                     "items": {
                        "type": "string",
                        "pattern": "^((~)?((ve)|(vn)|(err_lon)|(err_lat)|(err_ve)|(err_vn)|(gap)|(sst)|(sst1)|(sst2)|(err_sst)|(err_sst1)|(err_sst2)|(flg_sst)|(flg_sst1)|(flg_sst2){1})|all|metadata-only)$"
                     },
                     "example": "sst,err_sst"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/Drifter"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/drifters/meta": {
         "get": {
            "tags": [
               "drifters"
            ],
            "summary": "Search, reduce and download drifter metadata.",
            "operationId": "drifterMetaSearch",
            "parameters": [
               {
                  "$ref": "#/components/parameters/platformID"
               },
               {
                  "$ref": "#/components/parameters/wmo"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/DrifterMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/drifters/vocabulary": {
         "get": {
            "tags": [
               "drifters"
            ],
            "summary": "List all possible values for certain drifter query string parameters",
            "operationId": "drifterVocab",
            "parameters": [
               {
                  "in": "query",
                  "name": "parameter",
                  "required": true,
                  "description": "/drifters query string parameter to summarize possible values of.",
                  "schema": {
                     "type": "string",
                     "enum": ["wmo", "platform"]
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      }
   },
   "components": {
      "schemas": {
         "arShapeSchema": {
            "type": "object",
            "required": [
               "_id",
               "date",
               "shapeId",
               "geolocation",
               "date_formatted"
            ],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "date": {
                  "type": "string",
                  "format": "date-time"
               },
               "shapeId": {
                  "type": "integer"
               },
               "geolocation": {
                  "$ref": "#/components/schemas/geoJSONpolygon"
               },
               "date_formateed": {
                  "type": "string",
                  "format": "date"
               }
            }
         },
         "CovarSchema": {
            "type": "object",
            "required": [
               "_id",
               "features",
               "dLat",
               "forcastDays",
               "dLong",
               "geolocation"
            ],
            "properties": {
               "features": {
                  "type": "array",
                  "items": {
                     "type": "object",
                     "properties": {
                        "geometry": {
                           "$ref": "#/components/schemas/geoJSONpoint"
                        },
                        "type": {
                           "type": "string"
                        },
                        "properties": {
                           "type": "object",
                           "Probability": "number"
                        }
                     }
                  }
               },
               "_id": {
                  "type": "string"
               },
               "dLat": {
                  "type": "number"
               },
               "dLong": {
                  "type": "number"
               },
               "forcastDays": {
                  "type": "integer"
               },
               "geolocation": {
                  "$ref": "#/components/schemas/geoJSONpoint"
               }
            }
         },
         "tc": {
            "type": "object",
            "required": ["_id", "metadata", "geolocation", "basin", "timestamp", "record_identifier", "class"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "metadata": {
                  "type": "string"
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "basin": {
                  "type": "number"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "data": {
                  "type": "array",
                  "items": {
                     "anyOf": [
                        {
                           "type": "array",
                           "items": {
                              "type": "number"
                           }
                        },
                        {
                           "type": "object",
                           "properties": {
                              "wind": {"type":"number"},
                              "surface_pressure": {"type":"number"}
                           }
                        }
                     ]   
                  }
               },
               "units": {
                  "anyOf": [
                     {
                        "type": "array",
                        "items": {
                           "type": "string"
                        }
                     },
                     {
                        "type": "object",
                        "properties": {
                           "wind": {"type":"string"},
                           "surface_pressure": {"type":"string"}
                        }
                     }
                  ]   
               },
               "data_keys": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "record_identifier": {
                  "type": "string"
               },
               "class": {
                  "type": "string"
               }
            }
         },
         "tcMeta": {
            "type": "object",
            "required": ["_id", "data_type", "data_keys", "units", "date_updated_argovis", "source", "name", "num"],
            "properties":{
               "_id": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "data_keys": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "units": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "name": {
                  "type": "string"
               },
               "num": {
                  "type": "number"
               }
            }
         },
         "columnGrid": {
            "type": "object",
            "required": ["_id", "g", "t", "d"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "g": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "t": {
                  "type": "string",
                  "format": "date-time"
               },
               "d": {
                  "type": "array",
                  "items": {
                     "type": "number"
                  }
               }
            }
         },
         "grid": {
            "type": "object",
            "required": ["_id", "metadata", "geolocation", "basin", "timestamp"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "metadata": {
                  "type": "string"
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "basin": {
                  "type": "number"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "data": {
                  "type": "array",
                  "items": {
                     "anyOf": [
                        {
                           "type": "array",
                           "items": {
                              "type": "number"
                           }
                        },
                        {
                           "type": "object",
                           "properties": {
                              "ohc_kg": {"type":"number"},
                              "temperature_rg": {"type": "number"},
                              "salinity_rg": {"type": "number"}
                           }
                        }
                     ]   
                  }
               },
               "units": {
                  "anyOf": [
                     {
                        "type": "array",
                        "items": {
                           "type": "string"
                        }
                     },
                     {
                        "type": "object",
                        "properties": {
                           "ohc_kg": {"type":"string"},
                           "temperature_rg": {"type": "string"},
                           "salinity_rg": {"type": "string"}
                        }
                     }
                  ]   
               },
               "data_keys": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               }
            }
         },
         "gridMeta": {
            "type": "object",
            "required": ["_id", "data_type", "data_keys", "units", "date_updated_argovis", "source", "levels", "lonrange", "latrange", "timerange", "loncell", "latcell"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "data_keys": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "units": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "levels": {
                  "type": "array",
                  "items": {
                     "type": "number"
                  }
               },
               "lonrange": {
                  "type": "array",
                  "items": {
                     "type": "number",
                     "minItems": 2,
                     "maxItems": 2
                  }
               },
               "latrange": {
                  "type": "array",
                  "items": {
                     "type": "number",
                     "minItems": 2,
                     "maxItems": 2
                  }
               },
               "timerange": {
                  "type": "array",
                  "items": {
                     "type": "string",
                     "format": "date-time",
                     "minItems": 2,
                     "maxItems": 2
                  }
               },
               "loncell": {
                  "type": "number"
               },
               "latcell": {
                  "type": "number"
               }
            }
         },
         "Profile": {
            "type": "object",
            "required": [
               "_id",
               "basin",
               "data_type",
               "date_updated_argovis",
               "geolocation",
               "timestamp",
               "cycle_number"
            ],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "basin": {
                  "type": "number"
               },
               "data_type": {
                  "type": "string"
               },
               "doi": {
                  "type": "string"
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
                "instrument": {
                  "type": "string"
               },
               "data": {
                  "type": "array",
                  "items": {
                     "type": "array",
                     "items": {
                        "type": "number"
                     }
                  }          
               },
               "data_keys": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/dataKey"
                  }
               },
               "data_warning": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "pi_name": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "country": {
                  "type": "string"
               },
               "data_center": {
                  "type": "string"
               },
               "source_info": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/profile_source_info"
                  }
               },
               "profile_direction": {
                  "type": "string"
               },
               "geolocation_argoqc": {
                  "type": "number"
               },
               "timestamp_argoqc": {
                  "type": "number"
               },
               "cycle_number": {
                  "type": "number"
               },
               "fleetmonitoring": {
                  "type": "string"
               },
               "oceanops": {
                  "type": "string"
               },
               "data_keys_mode": {
                  "type": "object"
               },
               "platform_id":{
                  "type": "string"
               },
               "platform_type": {
                  "type": "string"
               },
               "positioning_system": {
                  "type": "string"
               },
               "vertical_sampling_scheme": {
                  "type": "string"
               },
               "wmo_inst_type": {
                  "type": "string"
               }
            }
         },
         "dataKey":{
            "type": "string",
            "anyOf": [
               {
                  "$ref": "#/components/schemas/argoDataKey"
               },
               {
                  "$ref": "#/components/schemas/goshipDataKey"
               }
            ] 
         },
         "argoDataKey": {
            "type": "string",
            "pattern": "^((~)?((bbp470)|(bbp532)|(bbp700)|(bbp700_2)|(bisulfide)|(cdom)|(chla)|(cndc)|(cndx)|(cp660)|(down_irradiance380)|(down_irradiance412)|(down_irradiance442)|(down_irradiance443)|(down_irradiance490)|(down_irradiance555)|(down_irradiance670)|(downwelling_par)|(doxy)|(doxy2)|(doxy3)|(molar_doxy)|(nitrate)|(ph_in_situ_total)|(pres)|(psal)|(psal_sfile)|(temp)|(temp_sfile)|(turbidity)|(up_radiance412)|(up_radiance443)|(up_radiance490)|(up_radiance555){1})(_argoqc)?|all|metadata-only)$"
         },
         "goshipDataKey": {
            "type": "string",
            "enum": [
               "ammonium_btl",
               "ammonium_btl_woceqc",
               "bottle_latitude_btl",
               "bottle_longitude_btl",
               "bottle_number_btl",
               "bottle_number_btl_woceqc",
               "bottle_time_btl",
               "carbon_tetrachloride_btl",
               "carbon_tetrachloride_btl_woceqc",
               "cfc_113_btl",
               "cfc_113_btl_woceqc",
               "cfc_11_btl",
               "cfc_11_btl_woceqc",
               "cfc_12_btl",
               "cfc_12_btl_woceqc",
               "chlorophyll_a_btl",
               "chlorophyll_a_btl_woceqc",
               "chlorophyll_a_ug_kg_btl",
               "chlorophyll_a_ug_kg_btl_woceqc",
               "ctd_beamcp_ctd",
               "ctd_beamcp_ctd_woceqc",
               "ctd_fluor_arbitrary_ctd",
               "ctd_fluor_ctd",
               "ctd_fluor_ctd_woceqc",
               "ctd_fluor_raw_btl",
               "ctd_fluor_raw_btl_woceqc",
               "ctd_fluor_raw_ctd",
               "ctd_fluor_raw_ctd_woceqc",
               "ctd_number_of_observations_ctd",
               "ctd_pressure_raw_btl",
               "ctd_temperature_unk_ctd",
               "ctd_temperature_unk_ctd_woceqc",
               "ctd_transmissometer_ctd",
               "ctd_transmissometer_ctd_woceqc",
               "ctd_transmissometer_raw_btl",
               "ctd_transmissometer_raw_btl_woceqc",
               "ctd_transmissometer_raw_ctd",
               "ctd_transmissometer_raw_ctd_woceqc",
               "del_carbon_13_dic_btl",
               "del_carbon_13_dic_btl_woceqc",
               "del_carbon_14_dic_btl",
               "del_carbon_14_dic_btl_woceqc",
               "del_carbon_14_dic_error_btl",
               "del_oxygen_18_btl",
               "del_oxygen_18_btl_woceqc",
               "del_oxygen_18_error_btl",
               "delta_helium_3_btl",
               "delta_helium_3_btl_woceqc",
               "delta_helium_3_error_btl",
               "dissolved_organic_carbon_btl",
               "dissolved_organic_carbon_btl_woceqc",
               "dissolved_organic_nitrogen_btl",
               "dissolved_organic_nitrogen_btl_woceqc",
               "doxy_btl",
               "doxy_btl_woceqc",
               "doxy_ctd",
               "doxy_ctd_woceqc",
               "fco2_btl",
               "fco2_btl_woceqc",
               "fco2_temperature_btl",
               "helium_btl",
               "helium_btl_woceqc",
               "helium_error_btl",
               "hplc_placeholder_btl_woceqc",
               "methyl_chloroform_btl",
               "methyl_chloroform_btl_woceqc",
               "neon_btl",
               "neon_btl_woceqc",
               "neon_error_btl",
               "nitrate_btl",
               "nitrate_btl_woceqc",
               "nitrite_btl",
               "nitrite_btl_woceqc",
               "nitrite_nitrate_btl",
               "nitrite_nitrate_btl_woceqc",
               "nitrous_oxide_btl",
               "nitrous_oxide_btl_woceqc",
               "oxygen_btl",
               "oxygen_btl_woceqc",
               "oxygen_ml_l_btl",
               "oxygen_ml_l_btl_woceqc",
               "par_ctd",
               "par_ctd_woceqc",
               "partial_co2_temperature_btl",
               "partial_pressure_of_co2_btl",
               "partial_pressure_of_co2_btl_woceqc",
               "particulate_organic_carbon_btl",
               "particulate_organic_carbon_btl_woceqc",
               "particulate_organic_nitrogen_btl",
               "particulate_organic_nitrogen_btl_woceqc",
               "ph_sws_btl",
               "ph_sws_btl_woceqc",
               "ph_temperature_btl",
               "ph_total_h_scale_btl",
               "ph_total_h_scale_btl_woceqc",
               "phaeophytin_btl",
               "phaeophytin_btl_woceqc",
               "phaeophytin_ug_l_btl",
               "phaeophytin_ug_l_btl_woceqc",
               "phosphate_btl",
               "phosphate_btl_woceqc",
               "potential_temperature_68_btl",
               "potential_temperature_c_btl",
               "pres",
               "psal_btl",
               "psal_btl_woceqc",
               "psal_ctd",
               "psal_ctd_woceqc",
               "radium_226_btl",
               "radium_226_btl_woceqc",
               "radium_228_btl",
               "radium_228_btl_woceqc",
               "ref_temperature_btl",
               "ref_temperature_btl_woceqc",
               "ref_temperature_c_btl",
               "ref_temperature_c_btl_woceqc",
               "rev_pressure_btl",
               "rev_pressure_btl_woceqc",
               "rev_temperature_90_btl",
               "rev_temperature_90_btl_woceqc",
               "rev_temperature_btl",
               "rev_temperature_btl_woceqc",
               "rev_temperature_c_btl",
               "rev_temperature_c_btl_woceqc",
               "salinity_btl",
               "salinity_btl_woceqc",
               "sample_btl",
               "sample_ctd",
               "silicate_btl",
               "silicate_btl_woceqc",
               "sulfur_hexifluoride_btl",
               "sulfur_hexifluoride_btl_woceqc",
               "temperature_btl",
               "temperature_btl_woceqc",
               "temperature_ctd",
               "temperature_ctd_woceqc",
               "total_alkalinity_btl",
               "total_alkalinity_btl_woceqc",
               "total_carbon_btl",
               "total_carbon_btl_woceqc",
               "total_dissolved_nitrogen_btl",
               "total_dissolved_nitrogen_btl_woceqc",
               "tritium_btl",
               "tritium_btl_woceqc",
               "tritium_error_btl",
               "~ammonium_btl",
               "~ammonium_btl_woceqc",
               "~bottle_latitude_btl",
               "~bottle_longitude_btl",
               "~bottle_number_btl",
               "~bottle_number_btl_woceqc",
               "~bottle_time_btl",
               "~carbon_tetrachloride_btl",
               "~carbon_tetrachloride_btl_woceqc",
               "~cfc_113_btl",
               "~cfc_113_btl_woceqc",
               "~cfc_11_btl",
               "~cfc_11_btl_woceqc",
               "~cfc_12_btl",
               "~cfc_12_btl_woceqc",
               "~chlorophyll_a_btl",
               "~chlorophyll_a_btl_woceqc",
               "~chlorophyll_a_ug_kg_btl",
               "~chlorophyll_a_ug_kg_btl_woceqc",
               "~ctd_beamcp_ctd",
               "~ctd_beamcp_ctd_woceqc",
               "~ctd_fluor_arbitrary_ctd",
               "~ctd_fluor_ctd",
               "~ctd_fluor_ctd_woceqc",
               "~ctd_fluor_raw_btl",
               "~ctd_fluor_raw_btl_woceqc",
               "~ctd_fluor_raw_ctd",
               "~ctd_fluor_raw_ctd_woceqc",
               "~ctd_number_of_observations_ctd",
               "~ctd_pressure_raw_btl",
               "~ctd_temperature_unk_ctd",
               "~ctd_temperature_unk_ctd_woceqc",
               "~ctd_transmissometer_ctd",
               "~ctd_transmissometer_ctd_woceqc",
               "~ctd_transmissometer_raw_btl",
               "~ctd_transmissometer_raw_btl_woceqc",
               "~ctd_transmissometer_raw_ctd",
               "~ctd_transmissometer_raw_ctd_woceqc",
               "~del_carbon_13_dic_btl",
               "~del_carbon_13_dic_btl_woceqc",
               "~del_carbon_14_dic_btl",
               "~del_carbon_14_dic_btl_woceqc",
               "~del_carbon_14_dic_error_btl",
               "~del_oxygen_18_btl",
               "~del_oxygen_18_btl_woceqc",
               "~del_oxygen_18_error_btl",
               "~delta_helium_3_btl",
               "~delta_helium_3_btl_woceqc",
               "~delta_helium_3_error_btl",
               "~dissolved_organic_carbon_btl",
               "~dissolved_organic_carbon_btl_woceqc",
               "~dissolved_organic_nitrogen_btl",
               "~dissolved_organic_nitrogen_btl_woceqc",
               "~doxy_btl",
               "~doxy_btl_woceqc",
               "~doxy_ctd",
               "~doxy_ctd_woceqc",
               "~fco2_btl",
               "~fco2_btl_woceqc",
               "~fco2_temperature_btl",
               "~helium_btl",
               "~helium_btl_woceqc",
               "~helium_error_btl",
               "~hplc_placeholder_btl_woceqc",
               "~methyl_chloroform_btl",
               "~methyl_chloroform_btl_woceqc",
               "~neon_btl",
               "~neon_btl_woceqc",
               "~neon_error_btl",
               "~nitrate_btl",
               "~nitrate_btl_woceqc",
               "~nitrite_btl",
               "~nitrite_btl_woceqc",
               "~nitrite_nitrate_btl",
               "~nitrite_nitrate_btl_woceqc",
               "~nitrous_oxide_btl",
               "~nitrous_oxide_btl_woceqc",
               "~oxygen_btl",
               "~oxygen_btl_woceqc",
               "~oxygen_ml_l_btl",
               "~oxygen_ml_l_btl_woceqc",
               "~par_ctd",
               "~par_ctd_woceqc",
               "~partial_co2_temperature_btl",
               "~partial_pressure_of_co2_btl",
               "~partial_pressure_of_co2_btl_woceqc",
               "~particulate_organic_carbon_btl",
               "~particulate_organic_carbon_btl_woceqc",
               "~particulate_organic_nitrogen_btl",
               "~particulate_organic_nitrogen_btl_woceqc",
               "~ph_sws_btl",
               "~ph_sws_btl_woceqc",
               "~ph_temperature_btl",
               "~ph_total_h_scale_btl",
               "~ph_total_h_scale_btl_woceqc",
               "~phaeophytin_btl",
               "~phaeophytin_btl_woceqc",
               "~phaeophytin_ug_l_btl",
               "~phaeophytin_ug_l_btl_woceqc",
               "~phosphate_btl",
               "~phosphate_btl_woceqc",
               "~potential_temperature_68_btl",
               "~potential_temperature_c_btl",
               "~pres",
               "~psal_btl",
               "~psal_btl_woceqc",
               "~psal_ctd",
               "~psal_ctd_woceqc",
               "~radium_226_btl",
               "~radium_226_btl_woceqc",
               "~radium_228_btl",
               "~radium_228_btl_woceqc",
               "~ref_temperature_btl",
               "~ref_temperature_btl_woceqc",
               "~ref_temperature_c_btl",
               "~ref_temperature_c_btl_woceqc",
               "~rev_pressure_btl",
               "~rev_pressure_btl_woceqc",
               "~rev_temperature_90_btl",
               "~rev_temperature_90_btl_woceqc",
               "~rev_temperature_btl",
               "~rev_temperature_btl_woceqc",
               "~rev_temperature_c_btl",
               "~rev_temperature_c_btl_woceqc",
               "~salinity_btl",
               "~salinity_btl_woceqc",
               "~sample_btl",
               "~sample_ctd",
               "~silicate_btl",
               "~silicate_btl_woceqc",
               "~sulfur_hexifluoride_btl",
               "~sulfur_hexifluoride_btl_woceqc",
               "~temperature_btl",
               "~temperature_btl_woceqc",
               "~temperature_ctd",
               "~temperature_ctd_woceqc",
               "~total_alkalinity_btl",
               "~total_alkalinity_btl_woceqc",
               "~total_carbon_btl",
               "~total_carbon_btl_woceqc",
               "~total_dissolved_nitrogen_btl",
               "~total_dissolved_nitrogen_btl_woceqc",
               "~tritium_btl",
               "~tritium_btl_woceqc",
               "~tritium_error_btl"
            ]
         },
         "platformMeta": {
            "type": "object",
            "properties": {
               "_id": {
                  "anyOf": [ {"type": "string"}, {"type": "number"}]
               },
               "platform_number": {
                  "anyOf": [ {"type": "string"}, {"type": "number"}]
               },
               "most_recent_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "most_recent_date_added": {
                  "type": "string",
                  "format": "date-time"
               },
               "number_of_profiles": {
                  "type": "integer"
               },
               "POSITIONING_SYSTEM": {
                  "type": "string"
               },
               "PI_NAME": {
                  "type": "string"
               },
               "dac": {
                  "type": "string"
               }
            }
         },
         "platformRecent": {
            "type": "object",
            "properties": {
               "_id": {
                  "anyOf": [ {"type": "string"}, {"type": "number"}]
               },
               "platform_number": {
                  "anyOf": [ {"type": "string"}, {"type": "number"}]
               },
               "most_recent_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "number_of_profiles": {
                  "type": "integer"
               },
               "cycle_number": {
                  "type": "integer"
               },
               "geolocation": {
                  "$ref": "#/components/schemas/geoJSONpoint"
               },
               "dac": {
                  "type": "string"
               }
            }
         },
         "summary": {
            "type": "object",
            "properties": {
               "_id": {
                  "type": "string"
               },
               "summary": {
                  "type": "object"
               }
            }
         },
         "profileCollectionSummary": {
            "type": "object",
            "properties": {
               "numberOfProfiles": {
                  "type": "integer"
               },
               "dacs": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "numberDeep": {
                  "type": "integer"
               },
               "numberBgc": {
                  "type": "integer"
               },
               "lastAdded": {
                  "type": "string",
                  "format": "date-time"
               }
            }
         },
         "geoJSONpoint": {
            "type": "object",
            "required": ["type", "coordinates"],
            "properties": {
               "type": {
                  "type": "string"
               },
               "coordinates": {
                  "type": "array",
                  "items": {
                     "type": "number",
                     "minItems": 2,
                     "maxItems": 2
                  }
               }
            }
         },
         "geoJSONpolygon": {
            "type": "object",
            "properties": {
               "type": {
                  "type": "string"
               },
               "coordinates": {
                  "type": "array",
                  "items": {
                     "type": "array",
                     "items": {
                        "type": "number",
                        "minItems": 2,
                        "maxItems": 2
                     }
                  }
               }
            }
         },
         "generic_source_info": {
            "type": "object",
            "required": ["source"],
            "properties": {
               "source": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "url": {
                  "type": "string"
               },
               "date_updated": {
                  "type": "string",
                  "format": "date-time"
               },
               "doi": {
                  "type": "string"
               }
            }
         },
         "profile_source_info": {
            "type": "object",
            "required": ["source"],
            "properties": {
               "data_keys_source": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "source": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "source_url": {
                  "type": "string"
               },
               "date_updated_source": {
                  "type": "string",
                  "format": "date-time"
               }
            }
         },
         "drifter_source_info": {
            "type": "object",
            "required": ["source"],
            "properties": {
               "source": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "url": {
                  "type": "string"
               }
            }
         },
         "Drifter": {
            "type": "object",
            "required": ["_id", "metadata", "geolocation", "basin", "timestamp"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "metadata": {
                  "type": "string"
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "basin": {
                  "type": "number"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "data": {
                  "type": "array",
                  "items": {
                     "anyOf": [
                        {
                           "type": "array",
                           "items": {
                              "type": "number"
                           }
                        },
                        {
                           "type": "object",
                           "properties": {
                              "ve": {"type":"number"},
                              "vn": {"type":"number"},
                              "err_lon": {"type":"number"},
                              "err_lat": {"type":"number"},
                              "err_ve": {"type":"number"},
                              "err_vn": {"type":"number"},
                              "gap": {"type":"number"},
                              "sst": {"type":"number"},
                              "sst1": {"type":"number"},
                              "sst2": {"type":"number"},
                              "err_sst": {"type":"number"},
                              "err_sst1": {"type":"number"},
                              "err_sst2": {"type":"number"},
                              "flg_sst": {"type":"number"},
                              "flg_sst1": {"type":"number"},
                              "flg_sst2": {"type":"number"}
                           }
                        }
                     ]   
                  }
               },
               "units": {
                  "anyOf": [
                     {
                        "type": "array",
                        "items": {
                           "type": "string"
                        }
                     },
                     {
                        "type": "object",
                        "properties": {
                           "ve": {"type":"string"},
                           "vn": {"type":"string"},
                           "err_lon": {"type":"string"},
                           "err_lat": {"type":"string"},
                           "err_ve": {"type":"string"},
                           "err_vn": {"type":"string"},
                           "gap": {"type":"string"},
                           "sst": {"type":"string"},
                           "sst1": {"type":"string"},
                           "sst2": {"type":"string"},
                           "err_sst": {"type":"string"},
                           "err_sst1": {"type":"string"},
                           "err_sst2": {"type":"string"},
                           "flg_sst": {"type":"string"},
                           "flg_sst1": {"type":"string"},
                           "flg_sst2": {"type":"string"}
                        }
                     }
                  ]   
               },
               "data_keys": {
                  "type": "array",
                  "items":{
                     "type": "string"
                  }
               }
            }
         },
         "DrifterMeta": {
            "type": "object",
            "required": ["_id", "data_type", "data_keys", "units", "date_updated_argovis", "source", "platform", "rowsize", "wmo", "expno", "deploy_date", "deploy_lon", "deploy_lat", "end_date", "end_lon", "end_lat", "drogue_lost_date", "typedeath", "typebuoy", "long_name"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "data_keys": {
                  "type": "array",
                  "items":{
                     "type": "string"
                  }
               },
               "units": {
                  "type": "array",
                  "items":{
                     "type": "string",
                     "nullable": true
                  }
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/drifter_source_info"
                  }
               },
               "platform": {
                  "type": "string"
               },
               "rowsize": {
                  "type": "number"
               },
               "wmo": {
                  "type": "number"
               },
               "expno": {
                  "type": "number"
               },
               "deploy_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "deploy_lon": {
                  "type": "number"
               },
               "deploy_lat": {
                  "type": "number"
               },
               "end_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "end_lon": {
                  "type": "number"
               },
               "end_lat": {
                  "type": "number"
               },
               "drogue_lost_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "typedeath": {
                  "type": "number"
               },
               "typebuoy": {
                  "type": "string"
               },    
               "long_name": {
                  "type": "array",
                  "items":{
                     "type": "string"
                  }
               }
            }
         },
         "goship": {
            "type": "object",
            "required": ["_id","metadata","geolocation","basin","timestamp", "data_keys", "units", "source", "station", "cast"],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "metadata": {
                  "type": "string"
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
               "basin": {
                  "type": "number"
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "source": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/generic_source_info"
                  }
               },
               "data_warning": {
                  "type": "array",
                  "items": {
                     "type": "string",
                     "enum": ["degenerate_levels", "missing_basin", "missing_location", "missing_timestamp"]
                  }
               },
               "data_keys": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "units": {
                  "anyOf": [
                     {
                        "type": "array",
                        "items": {
                           "type": "string"
                        }
                     },
                     {
                        "type": "object",
                        "properties": {
                           "ammonium_btl": {"type": "string"},
                           "ammonium_btl_woceqc": {"type": "string"},
                           "bottle_latitude_btl": {"type": "string"},
                           "bottle_longitude_btl": {"type": "string"},
                           "bottle_number_btl": {"type": "string"},
                           "bottle_number_btl_woceqc": {"type": "string"},
                           "bottle_time_btl": {"type": "string"},
                           "carbon_tetrachloride_btl": {"type": "string"},
                           "carbon_tetrachloride_btl_woceqc": {"type": "string"},
                           "cfc_113_btl": {"type": "string"},
                           "cfc_113_btl_woceqc": {"type": "string"},
                           "cfc_11_btl": {"type": "string"},
                           "cfc_11_btl_woceqc": {"type": "string"},
                           "cfc_12_btl": {"type": "string"},
                           "cfc_12_btl_woceqc": {"type": "string"},
                           "chlorophyll_a_btl": {"type": "string"},
                           "chlorophyll_a_btl_woceqc": {"type": "string"},
                           "chlorophyll_a_ug_kg_btl": {"type": "string"},
                           "chlorophyll_a_ug_kg_btl_woceqc": {"type": "string"},
                           "ctd_beamcp_ctd": {"type": "string"},
                           "ctd_beamcp_ctd_woceqc": {"type": "string"},
                           "ctd_fluor_arbitrary_ctd": {"type": "string"},
                           "ctd_fluor_ctd": {"type": "string"},
                           "ctd_fluor_ctd_woceqc": {"type": "string"},
                           "ctd_fluor_raw_btl": {"type": "string"},
                           "ctd_fluor_raw_btl_woceqc": {"type": "string"},
                           "ctd_fluor_raw_ctd": {"type": "string"},
                           "ctd_fluor_raw_ctd_woceqc": {"type": "string"},
                           "ctd_number_of_observations_ctd": {"type": "string"},
                           "ctd_pressure_raw_btl": {"type": "string"},
                           "ctd_temperature_unk_ctd": {"type": "string"},
                           "ctd_temperature_unk_ctd_woceqc": {"type": "string"},
                           "ctd_transmissometer_ctd": {"type": "string"},
                           "ctd_transmissometer_ctd_woceqc": {"type": "string"},
                           "ctd_transmissometer_raw_btl": {"type": "string"},
                           "ctd_transmissometer_raw_btl_woceqc": {"type": "string"},
                           "ctd_transmissometer_raw_ctd": {"type": "string"},
                           "ctd_transmissometer_raw_ctd_woceqc": {"type": "string"},
                           "del_carbon_13_dic_btl": {"type": "string"},
                           "del_carbon_13_dic_btl_woceqc": {"type": "string"},
                           "del_carbon_14_dic_btl": {"type": "string"},
                           "del_carbon_14_dic_btl_woceqc": {"type": "string"},
                           "del_carbon_14_dic_error_btl": {"type": "string"},
                           "del_oxygen_18_btl": {"type": "string"},
                           "del_oxygen_18_btl_woceqc": {"type": "string"},
                           "del_oxygen_18_error_btl": {"type": "string"},
                           "delta_helium_3_btl": {"type": "string"},
                           "delta_helium_3_btl_woceqc": {"type": "string"},
                           "delta_helium_3_error_btl": {"type": "string"},
                           "dissolved_organic_carbon_btl": {"type": "string"},
                           "dissolved_organic_carbon_btl_woceqc": {"type": "string"},
                           "dissolved_organic_nitrogen_btl": {"type": "string"},
                           "dissolved_organic_nitrogen_btl_woceqc": {"type": "string"},
                           "doxy_btl": {"type": "string"},
                           "doxy_btl_woceqc": {"type": "string"},
                           "doxy_ctd": {"type": "string"},
                           "doxy_ctd_woceqc": {"type": "string"},
                           "fco2_btl": {"type": "string"},
                           "fco2_btl_woceqc": {"type": "string"},
                           "fco2_temperature_btl": {"type": "string"},
                           "helium_btl": {"type": "string"},
                           "helium_btl_woceqc": {"type": "string"},
                           "helium_error_btl": {"type": "string"},
                           "hplc_placeholder_btl_woceqc": {"type": "string"},
                           "methyl_chloroform_btl": {"type": "string"},
                           "methyl_chloroform_btl_woceqc": {"type": "string"},
                           "neon_btl": {"type": "string"},
                           "neon_btl_woceqc": {"type": "string"},
                           "neon_error_btl": {"type": "string"},
                           "nitrate_btl": {"type": "string"},
                           "nitrate_btl_woceqc": {"type": "string"},
                           "nitrite_btl": {"type": "string"},
                           "nitrite_btl_woceqc": {"type": "string"},
                           "nitrite_nitrate_btl": {"type": "string"},
                           "nitrite_nitrate_btl_woceqc": {"type": "string"},
                           "nitrous_oxide_btl": {"type": "string"},
                           "nitrous_oxide_btl_woceqc": {"type": "string"},
                           "oxygen_btl": {"type": "string"},
                           "oxygen_btl_woceqc": {"type": "string"},
                           "oxygen_ml_l_btl": {"type": "string"},
                           "oxygen_ml_l_btl_woceqc": {"type": "string"},
                           "par_ctd": {"type": "string"},
                           "par_ctd_woceqc": {"type": "string"},
                           "partial_co2_temperature_btl": {"type": "string"},
                           "partial_pressure_of_co2_btl": {"type": "string"},
                           "partial_pressure_of_co2_btl_woceqc": {"type": "string"},
                           "particulate_organic_carbon_btl": {"type": "string"},
                           "particulate_organic_carbon_btl_woceqc": {"type": "string"},
                           "particulate_organic_nitrogen_btl": {"type": "string"},
                           "particulate_organic_nitrogen_btl_woceqc": {"type": "string"},
                           "ph_sws_btl": {"type": "string"},
                           "ph_sws_btl_woceqc": {"type": "string"},
                           "ph_temperature_btl": {"type": "string"},
                           "ph_total_h_scale_btl": {"type": "string"},
                           "ph_total_h_scale_btl_woceqc": {"type": "string"},
                           "phaeophytin_btl": {"type": "string"},
                           "phaeophytin_btl_woceqc": {"type": "string"},
                           "phaeophytin_ug_l_btl": {"type": "string"},
                           "phaeophytin_ug_l_btl_woceqc": {"type": "string"},
                           "phosphate_btl": {"type": "string"},
                           "phosphate_btl_woceqc": {"type": "string"},
                           "potential_temperature_68_btl": {"type": "string"},
                           "potential_temperature_c_btl": {"type": "string"},
                           "pres": {"type": "string"},
                           "psal_btl": {"type": "string"},
                           "psal_btl_woceqc": {"type": "string"},
                           "psal_ctd": {"type": "string"},
                           "psal_ctd_woceqc": {"type": "string"},
                           "radium_226_btl": {"type": "string"},
                           "radium_226_btl_woceqc": {"type": "string"},
                           "radium_228_btl": {"type": "string"},
                           "radium_228_btl_woceqc": {"type": "string"},
                           "ref_temperature_btl": {"type": "string"},
                           "ref_temperature_btl_woceqc": {"type": "string"},
                           "ref_temperature_c_btl": {"type": "string"},
                           "ref_temperature_c_btl_woceqc": {"type": "string"},
                           "rev_pressure_btl": {"type": "string"},
                           "rev_pressure_btl_woceqc": {"type": "string"},
                           "rev_temperature_90_btl": {"type": "string"},
                           "rev_temperature_90_btl_woceqc": {"type": "string"},
                           "rev_temperature_btl": {"type": "string"},
                           "rev_temperature_btl_woceqc": {"type": "string"},
                           "rev_temperature_c_btl": {"type": "string"},
                           "rev_temperature_c_btl_woceqc": {"type": "string"},
                           "salinity_btl": {"type": "string"},
                           "salinity_btl_woceqc": {"type": "string"},
                           "sample_btl": {"type": "string"},
                           "sample_ctd": {"type": "string"},
                           "silicate_btl": {"type": "string"},
                           "silicate_btl_woceqc": {"type": "string"},
                           "sulfur_hexifluoride_btl": {"type": "string"},
                           "sulfur_hexifluoride_btl_woceqc": {"type": "string"},
                           "temperature_btl": {"type": "string"},
                           "temperature_btl_woceqc": {"type": "string"},
                           "temperature_ctd": {"type": "string"},
                           "temperature_ctd_woceqc": {"type": "string"},
                           "total_alkalinity_btl": {"type": "string"},
                           "total_alkalinity_btl_woceqc": {"type": "string"},
                           "total_carbon_btl": {"type": "string"},
                           "total_carbon_btl_woceqc": {"type": "string"},
                           "total_dissolved_nitrogen_btl": {"type": "string"},
                           "total_dissolved_nitrogen_btl_woceqc": {"type": "string"},
                           "tritium_btl": {"type": "string"},
                           "tritium_btl_woceqc": {"type": "string"},
                           "tritium_error_btl": {"type": "string"}
                        }
                     }
                  ]   
               },
               "station": {
                  "type": "string"
               },
               "cast": {
                  "type": "number"
               },
               "data": {
                  "type": "array",
                  "items": {
                     "anyOf": [
                        {
                           "type": "array",
                           "items": {
                              "type": "number"
                           }
                        },
                        {
                           "type": "object",
                           "properties": {
                              "ammonium_btl": {"type": "number"},
                              "ammonium_btl_woceqc": {"type": "number"},
                              "bottle_latitude_btl": {"type": "number"},
                              "bottle_longitude_btl": {"type": "number"},
                              "bottle_number_btl": {"type": "number"},
                              "bottle_number_btl_woceqc": {"type": "number"},
                              "bottle_time_btl": {"type": "number"},
                              "carbon_tetrachloride_btl": {"type": "number"},
                              "carbon_tetrachloride_btl_woceqc": {"type": "number"},
                              "cfc_113_btl": {"type": "number"},
                              "cfc_113_btl_woceqc": {"type": "number"},
                              "cfc_11_btl": {"type": "number"},
                              "cfc_11_btl_woceqc": {"type": "number"},
                              "cfc_12_btl": {"type": "number"},
                              "cfc_12_btl_woceqc": {"type": "number"},
                              "chlorophyll_a_btl": {"type": "number"},
                              "chlorophyll_a_btl_woceqc": {"type": "number"},
                              "chlorophyll_a_ug_kg_btl": {"type": "number"},
                              "chlorophyll_a_ug_kg_btl_woceqc": {"type": "number"},
                              "ctd_beamcp_ctd": {"type": "number"},
                              "ctd_beamcp_ctd_woceqc": {"type": "number"},
                              "ctd_fluor_arbitrary_ctd": {"type": "number"},
                              "ctd_fluor_ctd": {"type": "number"},
                              "ctd_fluor_ctd_woceqc": {"type": "number"},
                              "ctd_fluor_raw_btl": {"type": "number"},
                              "ctd_fluor_raw_btl_woceqc": {"type": "number"},
                              "ctd_fluor_raw_ctd": {"type": "number"},
                              "ctd_fluor_raw_ctd_woceqc": {"type": "number"},
                              "ctd_number_of_observations_ctd": {"type": "number"},
                              "ctd_pressure_raw_btl": {"type": "number"},
                              "ctd_temperature_unk_ctd": {"type": "number"},
                              "ctd_temperature_unk_ctd_woceqc": {"type": "number"},
                              "ctd_transmissometer_ctd": {"type": "number"},
                              "ctd_transmissometer_ctd_woceqc": {"type": "number"},
                              "ctd_transmissometer_raw_btl": {"type": "number"},
                              "ctd_transmissometer_raw_btl_woceqc": {"type": "number"},
                              "ctd_transmissometer_raw_ctd": {"type": "number"},
                              "ctd_transmissometer_raw_ctd_woceqc": {"type": "number"},
                              "del_carbon_13_dic_btl": {"type": "number"},
                              "del_carbon_13_dic_btl_woceqc": {"type": "number"},
                              "del_carbon_14_dic_btl": {"type": "number"},
                              "del_carbon_14_dic_btl_woceqc": {"type": "number"},
                              "del_carbon_14_dic_error_btl": {"type": "number"},
                              "del_oxygen_18_btl": {"type": "number"},
                              "del_oxygen_18_btl_woceqc": {"type": "number"},
                              "del_oxygen_18_error_btl": {"type": "number"},
                              "delta_helium_3_btl": {"type": "number"},
                              "delta_helium_3_btl_woceqc": {"type": "number"},
                              "delta_helium_3_error_btl": {"type": "number"},
                              "dissolved_organic_carbon_btl": {"type": "number"},
                              "dissolved_organic_carbon_btl_woceqc": {"type": "number"},
                              "dissolved_organic_nitrogen_btl": {"type": "number"},
                              "dissolved_organic_nitrogen_btl_woceqc": {"type": "number"},
                              "doxy_btl": {"type": "number"},
                              "doxy_btl_woceqc": {"type": "number"},
                              "doxy_ctd": {"type": "number"},
                              "doxy_ctd_woceqc": {"type": "number"},
                              "fco2_btl": {"type": "number"},
                              "fco2_btl_woceqc": {"type": "number"},
                              "fco2_temperature_btl": {"type": "number"},
                              "helium_btl": {"type": "number"},
                              "helium_btl_woceqc": {"type": "number"},
                              "helium_error_btl": {"type": "number"},
                              "hplc_placeholder_btl_woceqc": {"type": "number"},
                              "methyl_chloroform_btl": {"type": "number"},
                              "methyl_chloroform_btl_woceqc": {"type": "number"},
                              "neon_btl": {"type": "number"},
                              "neon_btl_woceqc": {"type": "number"},
                              "neon_error_btl": {"type": "number"},
                              "nitrate_btl": {"type": "number"},
                              "nitrate_btl_woceqc": {"type": "number"},
                              "nitrite_btl": {"type": "number"},
                              "nitrite_btl_woceqc": {"type": "number"},
                              "nitrite_nitrate_btl": {"type": "number"},
                              "nitrite_nitrate_btl_woceqc": {"type": "number"},
                              "nitrous_oxide_btl": {"type": "number"},
                              "nitrous_oxide_btl_woceqc": {"type": "number"},
                              "oxygen_btl": {"type": "number"},
                              "oxygen_btl_woceqc": {"type": "number"},
                              "oxygen_ml_l_btl": {"type": "number"},
                              "oxygen_ml_l_btl_woceqc": {"type": "number"},
                              "par_ctd": {"type": "number"},
                              "par_ctd_woceqc": {"type": "number"},
                              "partial_co2_temperature_btl": {"type": "number"},
                              "partial_pressure_of_co2_btl": {"type": "number"},
                              "partial_pressure_of_co2_btl_woceqc": {"type": "number"},
                              "particulate_organic_carbon_btl": {"type": "number"},
                              "particulate_organic_carbon_btl_woceqc": {"type": "number"},
                              "particulate_organic_nitrogen_btl": {"type": "number"},
                              "particulate_organic_nitrogen_btl_woceqc": {"type": "number"},
                              "ph_sws_btl": {"type": "number"},
                              "ph_sws_btl_woceqc": {"type": "number"},
                              "ph_temperature_btl": {"type": "number"},
                              "ph_total_h_scale_btl": {"type": "number"},
[...]
