{
   "openapi": "3.0.3",
   "info": {
      "title": "Argovis API",
      "description": "REST API for Argo profiles, platforms, selections, BGC data, gridded products, etc.",
      "contact": {
         "name": "Argovis Collaboration",
         "email": "tbd@example.com",
         "url": "https://argovis.colorado.edu/"
      },
      "license": {
         "name": "MIT",
         "url": "https://opensource.org/licenses/MIT"
      },
      "version": "0.1"
   },
   "externalDocs": {
      "description": "Find us on GitHub",
      "url": "https://github.com/argovis/argovis_api"
   },
   "servers": [
      {
         "url": "https://argovis.colorado.edu",
         "description": "Server Hosted by University of Colorado, Boulder"
      },
      {
         "url": "http://localhost:3001",
         "description": "Local server for testing and development"
      }
   ],
   "security": [
      {
         "name": []
      }
   ],
   "tags": [
      {
         "name": "ar",
         "description": "atmospheric river shapes"
      },
      {
         "name": "covar",
         "description": "Argo float position forcast product"
      },
      {
         "name": "tc",
         "description": "tropical cyclone data"
      },
      {
         "name": "grid",
         "description": "Gridded products derived from Argo floats, simulation, or satalite product"
      },
      {
         "name": "profiles",
         "description": "Profile data, including BGC and profile metadata"
      },
      {
         "name": "platforms",
         "description": "Platform metadata"
      },
      {
         "name": "dacs",
         "description": "Summary and metadata for data assembly centers represented in the dataset"
      }
   ],
   "paths": {
      "/ar": {
         "get": {
            "tags": [
               "ar"
            ],
            "summary": "Find and filter atmo river shapes.",
            "operationId": "findAR",   
            "parameters": [
               {
                  "$ref": "#/components/parameters/arDate"
               },
               {
                  "$ref": "#/components/parameters/arID"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/arShapeSchema"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/covarGrid": {
         "get": {
            "tags": [
               "covar"
            ],
            "summary": "Probability distribution field for a float at point lat-lon after forcastDays.",
            "operationId": "findCovar",
            "parameters": [
               {
                  "$ref": "#/components/parameters/lat"
               },
               {
                  "$ref": "#/components/parameters/lon"
               },
               {
                  "$ref": "#/components/parameters/forcastDays"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/CovarSchema"
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/covarSum": {
         "get": {
            "tags": [
               "covar"
            ],
            "summary": "Sum of probability distribution field over a region for a float starting at point lat-lon after forcastDays.",
            "operationId": "sumCovar",
            "parameters": [
               {
                  "$ref": "#/components/parameters/lat"
               },
               {
                  "$ref": "#/components/parameters/lon"
               },
               {
                  "$ref": "#/components/parameters/forcastDays"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "object",
                           "required": [
                              "sum"
                           ],
                           "properties": {
                              "sum": {
                                 "type": "integer"
                              }
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/tc": {
         "get": {
            "tags": [
               "tc"
            ],
            "summary": "Tropical cyclone search and filter.",
            "operationId": "findTC",
            "parameters": [
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "name": "name",
                  "in": "query",
                  "required": false,
                  "description": "name of tropical cyclone",
                  "schema": {
                     "type": "string",
                     "example": "LANE"
                  }
               },
               {
                  "name": "year",
                  "in": "query",
                  "required": false,
                  "description": "year of tropical cyclone",
                  "schema": {
                     "type": "number",
                     "example": 2018
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/tcSchema"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/tc/stormNameList": {
         "get": {
            "tags": [
               "tc"
            ],
            "summary": "returns a list of tropical cyclone names and years",
            "operationId": "findStormNameList",
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/griddedProducts/gridMetadata": {
         "get": {
            "tags": [
               "grid"
            ],
            "summary": "metadata from grid unique dates, pres levels",
            "operationId": "gridmeta",
            "parameters": [
               {
                  "$ref": "#/components/parameters/gridNameUniform"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/GridMeta"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/griddedProducts/grid/window": {
         "get": {
            "tags": [
               "grid"
            ],
            "summary": "uniformly spaced rectangular gridded product selector",
            "operationId": "uniformGridWindow",
            "parameters": [
               {
                  "$ref": "#/components/parameters/gridNameUniform"
               },
               {
                  "$ref": "#/components/parameters/presLevelUniform"
               },
               {
                  "$ref": "#/components/parameters/latRangeUniform"
               },
               {
                  "$ref": "#/components/parameters/lonRange"
               },
               {
                  "$ref": "#/components/parameters/date"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/RasterGrid"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/griddedProducts/nonUniformGrid/window": {
         "get": {
            "tags": [
               "grid"
            ],
            "summary": "non uniformly spaced rectangular gridded product",
            "operationId": "nonuniformGridWindow",
            "parameters": [
               {
                  "$ref": "#/components/parameters/gridNameNonUniform"
               },
               {
                  "$ref": "#/components/parameters/presLevelNonUniform"
               },
               {
                  "$ref": "#/components/parameters/latRangeNonUniform"
               },
               {
                  "$ref": "#/components/parameters/lonRange"
               },
               {
                  "$ref": "#/components/parameters/date"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/nonUniformGrid"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/griddedProducts/gridCoords": {
         "get": {
            "tags": [
               "grid"
            ],
            "summary": "coordinates for gridded product",
            "operationId": "gridCoords",
            "parameters": [
               {
                  "$ref": "#/components/parameters/gridNameNonUniform"
               },
               {
                  "$ref": "#/components/parameters/latRangeNonUniform"
               },
               {
                  "$ref": "#/components/parameters/lonRange"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/GridCoordSchema"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/griddedProducts/grid/find": {
         "get": {
            "tags": [
               "grid"
            ],
            "summary": "returns a single grid by name",
            "operationId": "findGrid",
            "parameters": [
               {
                  "$ref": "#/components/parameters/gridNameUniform"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/GridSchema"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/griddedProducts/gridParams/find": {
         "get": {
            "tags": [
               "grid"
            ],
            "summary": "grid parameter search",
            "operationId": "findGridParam",
            "parameters": [
               {
                  "$ref": "#/components/parameters/gridNameUniform"
               },
               {
                  "$ref": "#/components/parameters/presLevelUniform"
               },
               {
                  "$ref": "#/components/parameters/gridParam"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/gridParams"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/griddedProducts/gridParams/window": {
         "get": {
            "tags": [
               "grid"
            ],
            "summary": "tbd",
            "operationId": "windowGridParam",
            "parameters": [
               {
                  "$ref": "#/components/parameters/gridNameUniform"
               },
               {
                  "$ref": "#/components/parameters/presLevelUniform"
               },
               {
                  "$ref": "#/components/parameters/latRangeUniform"
               },
               {
                  "$ref": "#/components/parameters/lonRange"
               },
               {
                  "$ref": "#/components/parameters/gridParam"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/RasterParam"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/profiles": {
         "get": {
            "tags": [
               "profiles"
            ],
            "summary": "Search, reduce and download profile data.",
            "operationId": "profile",
            "parameters": [
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/box"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/idList"
               },
               {
                  "$ref": "#/components/parameters/platformList"
               },
               {
                  "$ref": "#/components/parameters/presRange"
               },
               {
                  "$ref": "#/components/parameters/dac"
               },
               {
                  "$ref": "#/components/parameters/compression"
               },
               {
                  "$ref": "#/components/parameters/data"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/Profile"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/profiles/listID": {
         "get": {
            "tags": [
               "profiles"
            ],
            "summary": "List profile IDs that match a search",
            "operationId": "profileList",
            "parameters": [
               {
                  "$ref": "#/components/parameters/startDate"
               },
               {
                  "$ref": "#/components/parameters/endDate"
               },
               {
                  "$ref": "#/components/parameters/polygon"
               },
               {
                  "$ref": "#/components/parameters/box"
               },
               {
                  "$ref": "#/components/parameters/center"
               },
               {
                  "$ref": "#/components/parameters/radius"
               },
               {
                  "$ref": "#/components/parameters/dac"
               },
               {
                  "$ref": "#/components/parameters/platformList"
               },
               {
                  "$ref": "#/components/parameters/presRange"
               },
               {
                  "$ref": "#/components/parameters/data"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "type": "string"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/profiles/overview": {
         "get": {
            "tags": [
               "profiles"
            ],
            "summary": "Provides a summary of the profile database.",
            "operationId": "profilesOverview",
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/profileCollectionSummary"
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/platforms": {
         "get": {
            "tags": [
               "platforms"
            ],
            "summary": "Provides metadata for a specified platform.",
            "operationId": "platformMeta",
            "parameters": [
               {
                  "$ref": "#/components/parameters/platform"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/platformMeta"
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/platforms/mostRecent": {
         "get": {
            "tags": [
               "platforms"
            ],
            "summary": "Provides a list of platforms (all by default) with their most recent known report and position.",
            "operationId": "platformList",
            "parameters": [
               {
                  "$ref": "#/components/parameters/platformList"
               }
            ],
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/platformRecent"
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/platforms/bgcList": {
         "get": {
            "tags": [
               "platforms"
            ],
            "summary": "Lists all platforms that report BGC data.",
            "operationId": "bgcPlatformList",
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "anyOf": [ {"type": "string"}, {"type": "number"}]
                           }
                        }
                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      },
      "/dacs": {
         "get": {
            "tags": [
               "dacs"
            ],
            "summary": "Summary data for all DACs in the database.",
            "operationId": "dacList",
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "array",
                           "items": {
                              "$ref": "#/components/schemas/dacStub"
                           }
                        }

                     }
                  }
               },
               "400": {
                  "$ref": "#/components/responses/badRequest"
               },
               "404": {
                  "$ref": "#/components/responses/notFound"
               },
               "500": {
                  "$ref": "#/components/responses/serverError"
               }
            }
         }
      }
   },
   "components": {
      "schemas": {
         "arShapeSchema": {
            "type": "object",
            "required": [
               "_id",
               "date",
               "shapeId",
               "geolocation",
               "date_formatted"
            ],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "date": {
                  "type": "string",
                  "format": "date-time"
               },
               "shapeId": {
                  "type": "integer"
               },
               "geolocation": {
                  "$ref": "#/components/schemas/geoJSONpolygon"
               },
               "date_formateed": {
                  "type": "string",
                  "format": "date"
               }
            }
         },
         "CovarSchema": {
            "type": "object",
            "required": [
               "_id",
               "features",
               "dLat",
               "forcastDays",
               "dLong",
               "geolocation"
            ],
            "properties": {
               "features": {
                  "type": "array",
                  "items": {
                     "type": "object",
                     "properties": {
                        "geometry": {
                           "$ref": "#/components/schemas/geoJSONpoint"
                        },
                        "type": {
                           "type": "string"
                        },
                        "properties": {
                           "type": "object",
                           "Probability": "number"
                        }
                     }
                  }
               },
               "_id": {
                  "type": "string"
               },
               "dLat": {
                  "type": "number"
               },
               "dLong": {
                  "type": "number"
               },
               "forcastDays": {
                  "type": "integer"
               },
               "geolocation": {
                  "$ref": "#/components/schemas/geoJSONpoint"
               }
            }
         },
         "tcSchema": {
            "type": "object",
            "required": [
               "_id",
               "num",
               "source",
               "startDate",
               "endDate",
               "year"
            ],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "name": {
                  "type": "string"
               },
               "num": {
                  "type": "number"
               },
               "source": {
                  "type": "string"
               },
               "startDate": {
                  "type": "string",
                  "format": "date-time"
               },
               "endDate": {
                  "type": "string",
                  "format": "date-time"
               },
               "year": {
                  "type": "number"
               },
               "trajData": {
                  "type": "array",
                  "items": {
                     "type": "object",
                     "required": [
                        "date",
                        "time",
                        "class",
                        "lat",
                        "lon",
                        "timestamp",
                        "geolocation"
                     ],
                     "properties": {
                        "date": {
                           "type": "string"
                        },
                        "time": {
                           "type": "number"
                        },
                        "class": {
                           "type": "string"
                        },
                        "lat": {
                           "type": "number"
                        },
                        "lon": {
                           "type": "number"
                        },
                        "wind": {
                           "type": "number"
                        },
                        "pres": {
                           "type": "number"
                        },
                        "season": {
                           "type": "number"
                        },
                        "timestamp": {
                           "type": "string",
                           "format": "date-time"
                        },
                        "geolocation": {
                           "$ref": "#/components/schemas/geoJSONpoint"
                        }
                     }
                  }
               }
            }
         },
         "GridMeta": {
            "type": "object",
            "required": [
               "presLevels",
               "dates",
               "minDate",
               "maxDate"
            ],
            "properties": {
               "_id": {
                  "type": ["string", "null"]
               },
               "presLevels": {
                  "type": "array",
                  "items": {
                     "type": "number"
                  }
               },
               "dates": {
                  "type": "array",
                  "items": {
                     "type": "string",
                     "format": "date-time"
                  }
               },
               "minDate": {
                  "type": "string",
                  "format": "date-time"
               },
               "maxDate": {
                  "type": "string",
                  "format": "date-time"
               }
            }
         },
         "RasterParam": {
            "type": "object",
            "required": [
               "_id",
               "pres",
               "cellXSize",
               "cellYSize",
               "noDataValue",
               "zs",
               "nRows",
               "nCols",
               "xllCorner",
               "yllCorner"
            ],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "pres": {
                  "type": "number"
               },
               "cellXSize": {
                  "type": ["number", "null"]
               },
               "cellYSize": {
                  "type": ["number", "null"]
               },
               "noDataValue": {
                  "type": ["number", "null"]
               },
               "zs": {
                  "type": "array",
                  "items": {
                     "type": "number"
                  }
               },
               "nRows": {
                  "type": "integer"
               },
               "nCols": {
                  "type": "integer"
               },
               "xllCorner": {
                  "type": "number"
               },
               "yllCorner": {
                  "type": "number"
               },
               "gridName": {
                  "type": "string"
               },
               "units": {
                  "type": "string"
               },
               "measurement": {
                  "type": "string"
               },
               "param": {
                  "type": "string"
               }
            }
         },
         "RasterGrid": {
            "allOf": [
               {
                  "$ref": "#/components/schemas/RasterParam"
               },
               {
                  "type": "object",
                  "properties": {
                     "date": {
                        "type": "string",
                        "format": "date-time"
                     }
                  }
               }
            ]
         },
         "ancestorGrid": {
            "type": "object",
            "description": "ancestor object describing common grid-like properties",
            "required": [
               "_id",
               "measurement",
               "units",
               "pres",
               "param",
               "cellsize",
               "NODATA_value"
            ],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "gridName": {
                  "type": "string"
               },
               "measurement": {
                  "type": "string"
               },
               "units": {
                  "type": "string"
               },
               "data": {
                  "type": "array",
                  "items": {
                     "type": "object",
                     "properties": {
                        "lat": {
                           "type": "number"
                        },
                        "lon": {
                           "type": "number"
                        },
                        "value": {
                           "type": ["number", "null"]
                        }
                     }
                  }
               },
               "variable": {
                  "type": "string"
               },
               "date": {
                  "type": "string",
                  "format": "date-time"
               },
               "pres": {
                  "type": "number"
               },
               "model": {
                  "type": "string"
               },
               "trend": {
                  "type": "string"
               },
               "param": {
                  "type": "string"
               },
               "cellsize": {
                  "type": "number"
               },
               "NODATA_value": {
                  "type": ["string", "null"]
               }
            }
         },
         "GridSchema": {
            "allOf": [
               {
                  "$ref": "#/components/schemas/ancestorGrid"
               },
               {
                  "type": "object",
                  "properties": {
                     "chunk": {
                        "type": "integer"
                     }
                  }
               }
            ]
         },
         "nonUniformGrid": {
            "description": "response object for non-uniform grid search",
            "allOf": [
               {
                  "$ref": "#/components/schemas/ancestorGrid"
               },
               {
                  "type": "object",
                  "properties": {
                     "chunks": {
                        "type": "array",
                        "items": {
                           "type": "number"
                        }
                     }
                  }
               }
            ]
         },
         "GridCoordSchema": {
            "type": "object",
            "required": [
               "_id",
               "lats",
               "lons",
               "gridName"
            ],
            "properties": {
               "_id": {
                  "type": ["string", "null"]
               },
               "lats": {
                  "type": "array",
                  "items": {
                     "type": "number"
                  }
               },
               "lons": {
                  "type": "array",
                  "items": {
                     "type": "number"
                  }
               },
               "gridName": {
                  "type": "string"
               }
            }
         },
         "gridParams": {
            "type": "object",
            "properties": {
               "model": {
                  "type": "string"
               },
               "param": {
                  "type": "string"
               },
               "measurement": {
                  "type": "string"
               },
               "trend": {
                  "type": "string"
               },
               "pres": {
                  "type": "number"
               }
            }
         },
         "Profile": {
            "type": "object",
            "required": [
               "_id",
               "basin",
               "data_type",
               "geolocation",
               "source",
               "timestamp",
               "date_updated_argovis",
               "date_updated_source",
               "cycle_number",
               "platform_wmo_number"
            ],
            "properties": {
               "_id": {
                  "type": "string"
               },
               "basin": {
                  "type": "string"
               },
               "data_type": {
                  "type": "string"
               },
               "doi": {
                  "type": "string"
               },
               "geolocation": {
                   "$ref": "#/components/schemas/geoJSONpoint"
               },
                "instrument": {
                  "type": "string"
               },
               "data": {
                  "type": "array",
                  "items": {
                     "type": "array",
                     "items": {
                        "type": "number"
                     }
                  }          
               },
               "data_keys": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/dataKey"
                  }
               },
               "data_keys_source": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "source": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "source_url": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "timestamp": {
                  "type": "string",
                  "format": "date-time"
               },
               "date_updated_argovis": {
                  "type": "string",
                  "format": "date-time"
               },
               "date_updated_source": {
                  "type": "array",
                  "items": {
                     "type": "string",
                     "format": "date-time"
                  }
               },
               "pi_name": {
                  "type": "string"
               },
               "country": {
                  "type": "string"
               },
               "data_center": {
                  "type": "string"
               },
               "profile_direction": {
                  "type": "string"
               },
               "geolocation_argoqc": {
                  "type": "number"
               },
               "timestamp_argoqc": {
                  "type": "number"
               },
               "cycle_number": {
                  "type": "number"
               },
               "fleetmonitoring": {
                  "type": "string"
               },
               "oceanops": {
                  "type": "string"
               },
               "data_keys_mode": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "platform_wmo_number":{
                  "type": "number"
               },
               "platform_type": {
                  "type": "string"
               },
               "positioning_system": {
                  "type": "string"
               },
               "vertical_sampling_scheme": {
                  "type": "string"
               },
               "wmo_inst_type": {
                  "type": "string"
               }
            }
         },
         "dataKey":{
            "type": "string",
            "anyOf": [
               {
                  "$ref": "#/components/schemas/argoDataKey"
               },
               {
                  "$ref": "#/components/schemas/goshipDataKey"
               }
            ] 
         },
         "argoDataKey": {
            "type": "string",
            "enum": [
               "pres",
               "temp",
               "psal",
               "cndx",
               "doxy",
               "chla",
               "cdom",
               "nitrate",
               "bbp700",
               "down_irradiance412",
               "down_irradiance442",
               "down_irradiance490",
               "downwelling_par",
               "molar_doxy",
               "temp_synth",
               "psal_synth",
               "pres_qc",
               "temp_qc",
               "psal_qc",
               "cndx_qc",
               "doxy_qc",
               "chla_qc",
               "cdom_qc",
               "nitrate_qc",
               "bbp700_qc",
               "down_irradiance412_qc",
               "down_irradiance442_qc",
               "down_irradiance490_qc",
               "downwelling_par_qc",
               "molar_doxy_qc",
               "temp_synth_qc",
               "psal_stynth_qc",
               "all"]
         },
         "goshipDataKey": {
            "type": "string",
            "enum": [
               "pres",
               "pres_qc",
               "psal_btl",
               "psal_btl_qc",
               "psal_ctd",
               "psal_ctd_qc",
               "temp_btl",
               "temp_btl_qc",
               "temp_ctd",
               "temp_ctd_qc",
               "doxy_btl",
               "doxy_btl_qc",
               "doxy_ctd",
               "doxy_ctd_qc"
            ]
         },
         "platformMeta": {
            "type": "object",
            "properties": {
               "_id": {
                  "anyOf": [ {"type": "string"}, {"type": "number"}]
               },
               "platform_number": {
                  "anyOf": [ {"type": "string"}, {"type": "number"}]
               },
               "most_recent_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "most_recent_date_added": {
                  "type": "string",
                  "format": "date-time"
               },
               "number_of_profiles": {
                  "type": "integer"
               },
               "POSITIONING_SYSTEM": {
                  "type": "string"
               },
               "PI_NAME": {
                  "type": "string"
               },
               "dac": {
                  "type": "string"
               }
            }
         },
         "platformRecent": {
            "type": "object",
            "properties": {
               "_id": {
                  "anyOf": [ {"type": "string"}, {"type": "number"}]
               },
               "platform_number": {
                  "anyOf": [ {"type": "string"}, {"type": "number"}]
               },
               "most_recent_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "number_of_profiles": {
                  "type": "integer"
               },
               "cycle_number": {
                  "type": "integer"
               },
               "geolocation": {
                  "$ref": "#/components/schemas/geoJSONpoint"
               },
               "dac": {
                  "type": "string"
               }
            }
         },
         "dacStub": {
            "type": "object",
            "properties": {
               "_id": {
                  "type": "string"
               },
               "number_of_profiles": {
                  "type": "integer"
               },
               "most_recent_date": {
                  "type": "string",
                  "format": "date-time"
               },
               "dac": {
                  "type": "string"
               }
            }
         },
         "profileCollectionSummary": {
            "type": "object",
            "properties": {
               "numberOfProfiles": {
                  "type": "integer"
               },
               "dacs": {
                  "type": "array",
                  "items": {
                     "type": "string"
                  }
               },
               "numberDeep": {
                  "type": "integer"
               },
               "numberBgc": {
                  "type": "integer"
               },
               "lastAdded": {
                  "type": "string",
                  "format": "date-time"
               }
            }
         },
         "geoJSONpoint": {
            "type": "object",
            "properties": {
               "type": {
                  "type": "string"
               },
               "coordinates": {
                  "type": "array",
                  "items": {
                     "type": "number",
                     "minItems": 2,
                     "maxItems": 2
                  }
               }
            }
         },
         "geoJSONpolygon": {
            "type": "object",
            "properties": {
               "type": {
                  "type": "string"
               },
               "coordinates": {
                  "type": "array",
                  "items": {
                     "type": "array",
                     "items": {
                        "type": "number",
                        "minItems": 2,
                        "maxItems": 2
                     }
                  }
               }
            }
         },
         "errorResponse": {
            "type": "object",
            "required": [
               "code",
               "message"
            ],
            "properties": {
               "code": {
                  "type": "integer"
               },
               "message": {
                  "type": "string"
               }
            }
         }
      },
      "parameters": {
         "arDate": {
            "in": "query",
            "name": "date",
            "required": false,
            "description": "three hour increments starting at 2004-01-01T00:00:00 and ending at 2017-04-02T03:00:00",
            "allowReserved": true,
            "schema": {
               "type": "string",
               "format": "date-time",
               "example": "2010-01-01T00:00:00Z"
            }
         },
         "arID": {
            "in": "query",
            "name": "_id",
            "required": false,
            "description": "ID of an atmospheric river object",
            "schema": {
               "type": "string",
               "example": "1_262992"
            }
         },
         "date": {
            "in": "query",
            "name": "date",
            "required": true,
            "description": "date-time formatted string",
            "allowReserved": true,
            "schema": {
               "type": "string",
               "format": "date-time",
               "example": "2010-01-01T00:00:00Z"
            }
         },
         "startDate": {
            "in": "query",
            "name": "startDate",
            "required": false,
            "description": "date-time formatted string indicating the beginning of a time period",
            "allowReserved": true,
            "schema": {
               "type": "string",
               "format": "date-time",
               "example": "2010-01-01T00:00:00Z"
            }
         },
         "endDate": {
            "in": "query",
            "name": "endDate",
            "required": false,
            "description": "date-time formatted string indicating the end of a time period",
            "allowReserved": true,
            "schema": {
               "type": "string",
               "format": "date-time",
               "example": "2010-01-01T00:00:00Z"
            }
         },
         "gridNameUniform": {
            "in": "query",
            "name": "gridName",
            "required": true,
            "description": "name of the gridded product",
            "schema": {
               "type": "string",
               "example": "rgTempAnom"
            }
         },
         "gridNameNonUniform": {
            "in": "query",
            "name": "gridName",
            "required": true,
            "description": "name of the gridded product",
            "schema": {
               "type": "string",
               "example": "sose_si_area_1_day_sparse"
            }
         },
         "presLevelUniform": {
            "in": "query",
            "name": "presLevel",
            "required": true,
            "description": "pressure level (dbar)",
            "schema": {
               "type": "number",
               "example": 10
            }
         },
         "presLevelNonUniform": {
            "in": "query",
            "name": "presLevel",
            "required": true,
            "description": "pressure level (dbar)",
            "schema": {
               "type": "number",
               "example": 0
            }
         },
         "latRangeUniform": {
            "in": "query",
            "name": "latRange",
            "required": true,
            "description": "Latitude range (-90 to 90 degrees)",
            "style": "form",
            "explode": false,
            "allowReserved": true,
            "schema": {
               "type": "array",
               "items": {
                  "type": "number",
                  "minItems": 2,
                  "maxItems": 2,
                  "minimum": -90,
                  "maximum": 90
               },
               "example": "-5,5.33"
            }
         },
         "latRangeNonUniform": {
            "in": "query",
            "name": "latRange",
            "required": true,
            "description": "Latitude range (-90 to 90 degrees)",
            "style": "form",
            "explode": false,
            "allowReserved": true,
            "schema": {
               "type": "array",
               "items": {
                  "type": "number",
                  "minItems": 2,
                  "maxItems": 2,
                  "minimum": -90,
                  "maximum": 90
               },
               "example": "-5,5.33"
            }
         },
         "lonRange": {
            "in": "query",
            "name": "lonRange",
            "required": true,
            "description": "Longitude range (-180 to 180 degrees)",
            "style": "form",
            "explode": false,
            "allowReserved": true,
            "schema": {
               "type": "array",
               "items": {
                  "type": "number",
                  "minItems": 2,
                  "maxItems": 2,
                  "minimum": -180,
                  "maximum": 180
               },
               "example": "0,2.153"
            }
         },
         "dateUniform": {
            "in": "query",
            "name": "date",
            "required": true,
            "description": "YYYY-MM-DD format. Monthly grids use the first day of the month.",
            "schema": {
               "type": "string",
               "format": "date",
               "example": "2012-01-01"
            }
         },
         "dateNonUniform": {
            "in": "query",
            "name": "date",
            "required": true,
            "description": "YYYY-MM-DD format. Monthly grids use the first day of the month.",
            "schema": {
               "type": "string",
               "format": "date",
               "example": "2012-01-01"
            }
         },
         "gridParam": {
            "in": "query",
            "name": "param",
            "required": true,
            "description": "tbd",
            "schema": {
               "type": "string",
               "example": ""
            }
         },
         "presRange": {
            "in": "query",
            "name": "presRange",
            "description": "Pressure range",
            "style": "form",
            "explode": false,
            "allowReserved": true,
            "schema": {
               "type": "array",
               "items": {
                  "type": "number",
                  "minItems": 2,
                  "maxItems": 2
               },
               "example": "10,20.1"
            }
         },
         "dac": {
            "in": "query",
            "name": "dac",
            "description": "Data Assembly Center",
            "schema": {
               "type": "string",
               "example": ""
            }
         },
         "compression": {
            "in": "query",
            "name": "compression",
            "description": "Data compression strategy",
            "schema": {
               "type": "string",
               "example": "basic-minification"
            }
         },
         "idList": {
            "in": "query",
            "name": "ids",
            "description": "List of profile IDs",
            "style": "form",
            "explode": false,
            "allowReserved": true,
            "schema": {
               "type": "array",
               "items": {
                  "type": "string"
               },
               "example": "4902911_0,4902911_97"
            }
         },
         "platformList": {
            "in": "query",
            "name": "platforms",
            "description": "List of platform IDs",
            "style": "form",
            "explode": false,
            "allowReserved": true,
            "schema": {
               "type": "array",
               "items": {
                  "anyOf": [ {"type": "string"}, {"type": "number"}]
               }
            }
         },
         "polygon": {
            "in": "query",
            "name": "polygon",
            "description": "array of [lon, lat] vertices describing a polygon; final point must match initial point",
            "allowReserved": true,
            "schema": {
               "type": "string",
               "example": "[[-74.1247,40.5972],[-73.7347,40.5972],[-74.0148,40.8886],[-74.1247,40.5972]]"
            }
         },
         "box": {
            "in": "query",
            "name": "box",
            "description": "box described as [[lower left lon, lower left lat], [upper right lon, upper right lat]]",
            "allowReserved": true,
            "schema": {
               "type": "string",
               "example": "[[-74.2126,40.5221],[-73.6798,40.9135]]"
            }
         },
         "center": {
            "in": "query",
            "name": "center",
            "description": "center to measure max radius from",
            "style": "form",
            "explode": false,
            "allowReserved": true,
            "schema": {
               "type": "array",
               "items": {
                  "type": "number",
                  "minItems": 2,
                  "maxItems": 2
               },
               "example": "10,20.1"
            }
         },
         "radius": {
            "in": "query",
            "name": "radius",
            "description": "km from centerpoint",
            "schema": {
               "type": "number",
               "example": 0
            }
         },
         "data": {
            "in": "query",
            "name": "data",
            "description": "Keys of data to include",
            "style": "form",
            "explode": false,
            "allowReserved": true,
            "schema": {
               "type": "array",
               "items": {
                  "$ref": "#/components/schemas/dataKey"
               }
            }
         },
         "platform": {
            "in": "query",
            "name": "platform",
            "required": true,
            "description": "platform ID",
            "schema": {
               "anyOf": [ {"type": "string"}, {"type": "number"}]
            }
         },
         "lat": {
            "in": "query",
            "name": "lat",
            "required": true,
            "description": "latitude (degrees) of Argo float location",
            "schema": {
               "type": "number",
               "minimum": -90,
               "maximum": 90,
               "example": 5.25
            }
         },
         "lon": {
            "in": "query",
            "name": "lon",
            "required": true,
            "description": "longitude (degrees) of Argo float location",
            "schema": {
               "type": "number",
               "minimum": -180,
               "maximum": 180,
               "example": -20.33
            }
         },
         "forcastDays": {
            "in": "query",
            "name": "forcastDays",
            "required": true,
            "description": "number of days over which to project Argo float drift",
            "schema": {
               "type": "number",
               "minimum": 60,
               "maximum": 1800,
               "example": 60,
               "enum": [
                  60,
                  120,
                  140,
                  240,
                  360,
                  480,
                  720,
                  840,
                  960,
                  1080,
                  1200,
                  1320,
                  1440,
                  1560,
                  1680,
                  1800
               ]
            }
         }
      },
      "responses": {
         "badRequest": {
            "description": "Bad Request",
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/errorResponse"
                  }
               }
            }
         },
         "notFound": {
            "description": "Not Found",
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/errorResponse"
                  }
               }
            }
         },
         "serverError": {
            "description": "Server Error",
            "content": {
               "application/json": {
                  "schema": {
                     "$ref": "#/components/schemas/errorResponse"
                  }
               }
            }
         }
      }
   }
}