openapi: 3.0.3
info:
  title: Argovis API
  description: "REST API for Argo profiles, platforms, selections, BGC data, gridded\
    \ products, etc."
  contact:
    name: Argovis Collaboration
    url: https://argovis.colorado.edu/
    email: tbd@example.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: "0.1"
externalDocs:
  description: Find us on GitHub
  url: https://github.com/argovis/argovis_api
servers:
- url: https://argovis.colorado.edu
  description: "Server Hosted by University of Colorado, Boulder"
- url: http://localhost:3001
  description: Local server for testing and development
security:
- name: []
tags:
- name: ar
  description: atmospheric river shapes
- name: covar
  description: Argo float position forcast product
- name: tc
  description: tropical cyclone data
- name: grid
  description: "Gridded products derived from Argo floats, simulation, or satalite\
    \ product"
- name: profiles
  description: "Profile data, including BCG and profile metadata"
- name: platforms
  description: Platform metadata
- name: dacs
  description: Summary and metadata for data assembly centers represented in the dataset
- name: selection
  description: Geospatial selection of argo floats
paths:
  /arShapes/findByDate:
    get:
      tags:
      - ar
      summary: shapes representing atmospheric rivers at a given date-time
      operationId: findARbyDate
      parameters:
      - name: date
        in: query
        description: three hour increments starting at 2004-01-01T00:00:00 and ending
          at 2017-04-02T03:00:00
        required: true
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/arShapeSchema'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Ar
  /arShapes/findByID:
    get:
      tags:
      - ar
      summary: shapes representing atmospheric rivers with a given ID
      operationId: findARbyID
      parameters:
      - name: _id
        in: query
        description: ID of an atmospheric river object
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: 1_262992
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/arShapeSchema'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Ar
  /arShapes:
    get:
      tags:
      - ar
      summary: one instance of a shape representing an atmospheric river
      operationId: findOneAR
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/arShapeSchema'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Ar
  /covarGrid/{lat}/{lon}/{forcastDays}:
    get:
      tags:
      - covar
      summary: Probability distribution field for a float at point lat-lon after forcastDays.
      operationId: findCovar
      parameters:
      - name: lat
        in: path
        description: latitude (degrees) of Argo float location
        required: true
        style: simple
        explode: false
        schema:
          maximum: 90
          minimum: -90
          type: number
          example: 5.25
      - name: lon
        in: path
        description: longitude (degrees) of Argo float location
        required: true
        style: simple
        explode: false
        schema:
          maximum: 180
          minimum: -180
          type: number
          example: -20.33
      - name: forcastDays
        in: path
        description: number of days over which to project Argo float drift
        required: true
        style: simple
        explode: false
        schema:
          maximum: 1800
          minimum: 60
          type: number
          example: 60
          enum:
          - 60
          - 120
          - 140
          - 240
          - 360
          - 480
          - 720
          - 840
          - 960
          - 1080
          - 1200
          - 1320
          - 1440
          - 1560
          - 1680
          - 1800
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CovarSchema'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Covar
  /tc:
    get:
      tags:
      - tc
      summary: one tropical cyclone instance
      operationId: findOneTC
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tcSchema'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Tc
  /tc/findByDate:
    get:
      tags:
      - tc
      summary: tropical cyclones at a given date-time
      operationId: findTCbyDate
      parameters:
      - name: date
        in: query
        description: date-time formatted string
        required: true
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/tcSchema'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Tc
  /tc/findByDateRange:
    get:
      tags:
      - tc
      summary: tropical cyclones intersecting a time period
      operationId: findTCbyDateRange
      parameters:
      - name: startDate
        in: query
        description: date-time formatted string indicating the beginning of a time
          period
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      - name: endDate
        in: query
        description: date-time formatted string indicating the end of a time period
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/tcSchema'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Tc
  /tc/stormNameList:
    get:
      tags:
      - tc
      summary: returns a list of tropical cyclone names and years
      operationId: findStormNameList
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Tc
  /tc/findByNameYear:
    get:
      tags:
      - tc
      summary: find a tropical cyclone by name and year
      operationId: findTCbyNameYear
      parameters:
      - name: name
        in: query
        description: name of tropical cyclone
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: LANE
      - name: year
        in: query
        description: year of tropical cyclone
        required: true
        style: form
        explode: true
        schema:
          type: number
          example: 2018
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/tcSchema'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Tc
  /griddedProducts/gridMetadata:
    get:
      tags:
      - grid
      summary: "metadata from grid unique dates, pres levels"
      operationId: gridmeta
      parameters:
      - name: gridName
        in: query
        description: name of the gridded product
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: rgTempAnom
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GridMeta'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Grid
  /griddedProducts/grid/window:
    get:
      tags:
      - grid
      summary: uniformly spaced rectangular gridded product selector
      operationId: uniformGridWindow
      parameters:
      - name: gridName
        in: query
        description: name of the gridded product
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: rgTempAnom
      - name: presLevel
        in: query
        description: pressure level (dbar)
        required: true
        style: form
        explode: true
        schema:
          type: number
          example: 10
      - name: latRange
        in: query
        description: Latitude range (-90 to 90 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "-5,5.33"
          items:
            maximum: 90
            minimum: -90
            maxItems: 2
            minItems: 2
            type: number
      - name: lonRange
        in: query
        description: Longitude range (-180 to 180 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "0,2.153"
          items:
            maximum: 180
            minimum: -180
            maxItems: 2
            minItems: 2
            type: number
      - name: date
        in: query
        description: date-time formatted string
        required: true
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RasterGrid'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Grid
  /griddedProducts/nonUniformGrid/window:
    get:
      tags:
      - grid
      summary: non uniformly spaced rectangular gridded product
      operationId: nonuniformGridWindow
      parameters:
      - name: gridName
        in: query
        description: name of the gridded product
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: sose_si_area_1_day_sparse
      - name: presLevel
        in: query
        description: pressure level (dbar)
        required: true
        style: form
        explode: true
        schema:
          type: number
          example: 0
      - name: latRange
        in: query
        description: Latitude range (-90 to 90 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "-5,5.33"
          items:
            maximum: 90
            minimum: -90
            maxItems: 2
            minItems: 2
            type: number
      - name: lonRange
        in: query
        description: Longitude range (-180 to 180 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "0,2.153"
          items:
            maximum: 180
            minimum: -180
            maxItems: 2
            minItems: 2
            type: number
      - name: date
        in: query
        description: date-time formatted string
        required: true
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/nonUniformGrid'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Grid
  /griddedProducts/gridCoords:
    get:
      tags:
      - grid
      summary: coordinates for gridded product
      operationId: gridCoords
      parameters:
      - name: gridName
        in: query
        description: name of the gridded product
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: sose_si_area_1_day_sparse
      - name: latRange
        in: query
        description: Latitude range (-90 to 90 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "-5,5.33"
          items:
            maximum: 90
            minimum: -90
            maxItems: 2
            minItems: 2
            type: number
      - name: lonRange
        in: query
        description: Longitude range (-180 to 180 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "0,2.153"
          items:
            maximum: 180
            minimum: -180
            maxItems: 2
            minItems: 2
            type: number
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GridCoordSchema'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Grid
  /griddedProducts/grid/find:
    get:
      tags:
      - grid
      summary: returns a single grid by name
      operationId: findGrid
      parameters:
      - name: gridName
        in: query
        description: name of the gridded product
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: rgTempAnom
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GridSchema'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Grid
  /griddedProducts/gridParams/find:
    get:
      tags:
      - grid
      summary: grid parameter search
      operationId: findGridParam
      parameters:
      - name: gridName
        in: query
        description: name of the gridded product
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: rgTempAnom
      - name: presLevel
        in: query
        description: pressure level (dbar)
        required: true
        style: form
        explode: true
        schema:
          type: number
          example: 10
      - name: param
        in: query
        description: tbd
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/gridParams'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Grid
  /griddedProducts/gridParams/window:
    get:
      tags:
      - grid
      summary: tbd
      operationId: windowGridParam
      parameters:
      - name: gridName
        in: query
        description: name of the gridded product
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: rgTempAnom
      - name: presLevel
        in: query
        description: pressure level (dbar)
        required: true
        style: form
        explode: true
        schema:
          type: number
          example: 10
      - name: latRange
        in: query
        description: Latitude range (-90 to 90 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "-5,5.33"
          items:
            maximum: 90
            minimum: -90
            maxItems: 2
            minItems: 2
            type: number
      - name: lonRange
        in: query
        description: Longitude range (-180 to 180 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "0,2.153"
          items:
            maximum: 180
            minimum: -180
            maxItems: 2
            minItems: 2
            type: number
      - name: param
        in: query
        description: tbd
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RasterParam'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Grid
  /selection/globalMapProfiles:
    get:
      tags:
      - selection
      summary: Get a list of profile metadata for all profiles in a given time window.
      operationId: selectionGlobalMapProfiles
      parameters:
      - name: startDate
        in: query
        description: date-time formatted string indicating the beginning of a time
          period
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      - name: endDate
        in: query
        description: date-time formatted string indicating the end of a time period
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MapMeta'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Selection
  /profiles:
    get:
      tags:
      - profiles
      summary: "Search, reduce and download profile data."
      operationId: profile
      parameters:
      - name: startDate
        in: query
        description: date-time formatted string indicating the beginning of a time
          period
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      - name: endDate
        in: query
        description: date-time formatted string indicating the end of a time period
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      - name: polygon
        in: query
        description: "array of [lon, lat] vertices describing a polygon; final point\
          \ must match initial point"
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          example: "[[-74.1247,40.5972],[-73.7347,40.5972],[-74.0148,40.8886],[-74.1247,40.5972]]"
      - name: box
        in: query
        description: "box described as [[lower left lon, lower left lat], [upper right\
          \ lon, upper right lat]]"
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          example: "[[-74.2126,40.5221],[-73.6798,40.9135]]"
      - name: ids
        in: query
        description: List of profile IDs
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "4902911_0,4902911_97"
          items:
            type: string
      - name: platforms
        in: query
        description: List of platform IDs
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          items:
            type: number
      - name: presRange
        in: query
        description: Pressure range
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "10,20.1"
          items:
            maxItems: 2
            minItems: 2
            type: number
      - name: coreMeasurements
        in: query
        description: Keys of core measurements to include
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/coreMeasurementKey'
      - name: bgcMeasurements
        in: query
        description: Keys of BGC measurements to include
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/bgcMeasurementKey'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Profile'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Profiles
  /profiles/listID:
    get:
      tags:
      - profiles
      summary: List profile IDs that match a search
      operationId: profileList
      parameters:
      - name: startDate
        in: query
        description: date-time formatted string indicating the beginning of a time
          period
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      - name: endDate
        in: query
        description: date-time formatted string indicating the end of a time period
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      - name: polygon
        in: query
        description: "array of [lon, lat] vertices describing a polygon; final point\
          \ must match initial point"
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          example: "[[-74.1247,40.5972],[-73.7347,40.5972],[-74.0148,40.8886],[-74.1247,40.5972]]"
      - name: box
        in: query
        description: "box described as [[lower left lon, lower left lat], [upper right\
          \ lon, upper right lat]]"
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          example: "[[-74.2126,40.5221],[-73.6798,40.9135]]"
      - name: ids
        in: query
        description: List of profile IDs
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "4902911_0,4902911_97"
          items:
            type: string
      - name: platforms
        in: query
        description: List of platform IDs
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          items:
            type: number
      - name: presRange
        in: query
        description: Pressure range
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "10,20.1"
          items:
            maxItems: 2
            minItems: 2
            type: number
      - name: coreMeasurements
        in: query
        description: Keys of core measurements to include
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/coreMeasurementKey'
      - name: bgcMeasurements
        in: query
        description: Keys of BGC measurements to include
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/bgcMeasurementKey'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Profiles
  /profiles/overview:
    get:
      tags:
      - profiles
      summary: Provides a summary of the profile database.
      operationId: profilesOverview
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profileCollectionSummary'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Profiles
  /platforms:
    get:
      tags:
      - platforms
      summary: Provides metadata for a specified platform.
      operationId: platformMeta
      parameters:
      - name: platform
        in: query
        description: platform ID
        required: true
        style: form
        explode: true
        schema:
          type: number
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/platformMeta'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Platforms
  /platforms/mostRecent:
    get:
      tags:
      - platforms
      summary: Provides a list of all platforms with their most recent known report
        and position.
      operationId: platformList
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/platformRecent'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Platforms
  /platforms/bgcList:
    get:
      tags:
      - platforms
      summary: Lists all platforms that report BGC data.
      operationId: bgcPlatformList
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: number
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Platforms
  /dacs:
    get:
      tags:
      - dacs
      summary: Summary data for all DACs in the database.
      operationId: dacList
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dacStub'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Dacs
components:
  schemas:
    arShapeSchema:
      required:
      - _id
      - date
      - date_formatted
      - geoLocation
      - shapeId
      type: object
      properties:
        _id:
          type: string
        date:
          type: string
          format: date-time
        shapeId:
          type: integer
        geoLocation:
          $ref: '#/components/schemas/geoJSONpolygon'
        date_formateed:
          type: string
          format: date
      example:
        date: 2000-01-23T04:56:07.000+00:00
        date_formateed: 2000-01-23
        shapeId: 0
        geoLocation:
          coordinates:
          - - 6.02745618307040320615897144307382404804229736328125
            - 6.02745618307040320615897144307382404804229736328125
          - - 6.02745618307040320615897144307382404804229736328125
            - 6.02745618307040320615897144307382404804229736328125
          type: type
        _id: _id
    CovarSchema:
      required:
      - _id
      - dLat
      - dLong
      - features
      - forcastDays
      - geoLocation
      type: object
      properties:
        features:
          type: array
          items:
            $ref: '#/components/schemas/CovarSchema_features'
        _id:
          type: string
        dLat:
          type: number
        dLong:
          type: number
        forcastDays:
          type: integer
        geoLocation:
          $ref: '#/components/schemas/geoJSONpoint'
      example:
        features:
        - geometry:
            coordinates:
            - 0.80082819046101150206595775671303272247314453125
            - 0.80082819046101150206595775671303272247314453125
            type: type
          type: type
          properties: {}
        - geometry:
            coordinates:
            - 0.80082819046101150206595775671303272247314453125
            - 0.80082819046101150206595775671303272247314453125
            type: type
          type: type
          properties: {}
        dLat: 6.02745618307040320615897144307382404804229736328125
        dLong: 1.46581298050294517310021547018550336360931396484375
        geoLocation: null
        _id: _id
        forcastDays: 5
    tcSchema:
      required:
      - _id
      - endDate
      - num
      - source
      - startDate
      - year
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        num:
          type: number
        source:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        year:
          type: number
        trajData:
          type: array
          items:
            $ref: '#/components/schemas/tcSchema_trajData'
      example:
        endDate: 2000-01-23T04:56:07.000+00:00
        year: 6.02745618307040320615897144307382404804229736328125
        num: 0.80082819046101150206595775671303272247314453125
        name: name
        _id: _id
        source: source
        trajData:
        - date: date
          pres: 7.061401241503109105224211816675961017608642578125
          geoLocation:
            coordinates:
            - 0.80082819046101150206595775671303272247314453125
            - 0.80082819046101150206595775671303272247314453125
            type: type
          season: 9.301444243932575517419536481611430644989013671875
          lon: 5.63737665663332876420099637471139430999755859375
          time: 1.46581298050294517310021547018550336360931396484375
          class: class
          lat: 5.962133916683182377482808078639209270477294921875
          wind: 2.3021358869347654518833223846741020679473876953125
          timestamp: 2000-01-23T04:56:07.000+00:00
        - date: date
          pres: 7.061401241503109105224211816675961017608642578125
          geoLocation:
            coordinates:
            - 0.80082819046101150206595775671303272247314453125
            - 0.80082819046101150206595775671303272247314453125
            type: type
          season: 9.301444243932575517419536481611430644989013671875
          lon: 5.63737665663332876420099637471139430999755859375
          time: 1.46581298050294517310021547018550336360931396484375
          class: class
          lat: 5.962133916683182377482808078639209270477294921875
          wind: 2.3021358869347654518833223846741020679473876953125
          timestamp: 2000-01-23T04:56:07.000+00:00
        startDate: 2000-01-23T04:56:07.000+00:00
    GridMeta:
      required:
      - dates
      - maxDate
      - minDate
      - presLevels
      type: object
      properties:
        _id: {}
        presLevels:
          type: array
          items:
            type: number
        dates:
          type: array
          items:
            type: string
            format: date-time
        minDate:
          type: string
          format: date-time
        maxDate:
          type: string
          format: date-time
      example:
        minDate: 2000-01-23T04:56:07.000+00:00
        dates:
        - 2000-01-23T04:56:07.000+00:00
        - 2000-01-23T04:56:07.000+00:00
        maxDate: 2000-01-23T04:56:07.000+00:00
        _id: ""
        presLevels:
        - 0.80082819046101150206595775671303272247314453125
        - 0.80082819046101150206595775671303272247314453125
    RasterParam:
      required:
      - _id
      - cellXSize
      - cellYSize
      - nCols
      - nRows
      - noDataValue
      - pres
      - xllCorner
      - yllCorner
      - zs
      type: object
      properties:
        _id:
          type: string
        pres:
          type: number
        cellXSize: {}
        cellYSize: {}
        noDataValue: {}
        zs:
          type: array
          items:
            type: number
        nRows:
          type: integer
        nCols:
          type: integer
        xllCorner:
          type: number
        yllCorner:
          type: number
        gridName:
          type: string
        units:
          type: string
        measurement:
          type: string
        param:
          type: string
      example:
        gridName: gridName
        pres: 0.80082819046101150206595775671303272247314453125
        units: units
        cellXSize: ""
        measurement: measurement
        nCols: 5
        yllCorner: 2.3021358869347654518833223846741020679473876953125
        nRows: 1
        param: param
        xllCorner: 5.63737665663332876420099637471139430999755859375
        noDataValue: ""
        zs:
        - 6.02745618307040320615897144307382404804229736328125
        - 6.02745618307040320615897144307382404804229736328125
        _id: _id
        cellYSize: ""
    RasterGrid:
      allOf:
      - $ref: '#/components/schemas/RasterParam'
      - type: object
        properties:
          date:
            type: string
            format: date-time
    ancestorGrid:
      required:
      - NODATA_value
      - _id
      - cellsize
      - measurement
      - param
      - pres
      - units
      type: object
      properties:
        _id:
          type: string
        gridName:
          type: string
        measurement:
          type: string
        units:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/ancestorGrid_data'
        variable:
          type: string
        date:
          type: string
          format: date-time
        pres:
          type: number
        model:
          type: string
        trend:
          type: string
        param:
          type: string
        cellsize:
          type: number
        NODATA_value: {}
      description: ancestor object describing common grid-like properties
    GridSchema:
      allOf:
      - $ref: '#/components/schemas/ancestorGrid'
      - type: object
        properties:
          chunk:
            type: integer
    nonUniformGrid:
      description: response object for non-uniform grid search
      allOf:
      - $ref: '#/components/schemas/ancestorGrid'
      - type: object
        properties:
          chunks:
            type: array
            items:
              type: number
    GridCoordSchema:
      required:
      - _id
      - gridName
      - lats
      - lons
      type: object
      properties:
        _id: {}
        lats:
          type: array
          items:
            type: number
        lons:
          type: array
          items:
            type: number
        gridName:
          type: string
      example:
        gridName: gridName
        lats:
        - 0.80082819046101150206595775671303272247314453125
        - 0.80082819046101150206595775671303272247314453125
        lons:
        - 6.02745618307040320615897144307382404804229736328125
        - 6.02745618307040320615897144307382404804229736328125
        _id: ""
    gridParams:
      type: object
      properties:
        model:
          type: string
        param:
          type: string
        measurement:
          type: string
        trend:
          type: string
        pres:
          type: number
      example:
        pres: 0.80082819046101150206595775671303272247314453125
        param: param
        trend: trend
        model: model
        measurement: measurement
    Profile:
      required:
      - _id
      - cycle_number
      - dac
      - date
      - geoLocation
      - lat
      - lon
      - max_pres
      - nc_url
      - platform_number
      - position_qc
      - station_parameters
      type: object
      properties:
        _id:
          type: string
        nc_url:
          type: string
        position_qc:
          type: integer
        cycle_number:
          type: integer
        dac:
          type: string
        date:
          type: string
          format: date-time
        date_added:
          type: string
          format: date-time
        date_qc:
          type: integer
        max_pres:
          type: number
        bgcMeasKeys:
          type: array
          items:
            type: string
        lat:
          type: number
        lon:
          type: number
        platform_number:
          type: integer
        geoLocation:
          $ref: '#/components/schemas/geoJSONpoint'
        station_parameters:
          type: array
          items:
            type: string
        station_parameters_in_nc:
          type: array
          items:
            type: string
        VERTICAL_SAMPLING_SCHEME:
          type: string
        PI_NAME:
          type: string
        WMO_INST_TYPE:
          type: string
        POSITIONING_SYSTEM:
          type: string
        DATA_MODE:
          type: string
        PARAMETER_DATA_MODE:
          type: array
          items:
            type: string
        DATA_CENTRE:
          type: string
        DIRECTION:
          type: string
        PLATFORM_TYPE:
          type: string
        pres_max_for_TEMP:
          type: number
        pres_max_for_PSAL:
          type: number
        pres_min_for_TEMP:
          type: number
        pres_min_for_PSAL:
          type: number
        containsBGC:
          type: boolean
        isDeep:
          type: boolean
        BASIN:
          type: number
        url:
          type: string
        core_data_mode:
          type: string
        jcommopsPlatform:
          type: string
        euroargoPlatform:
          type: string
        formatted_station_parameters:
          type: array
          items:
            type: string
        roundLat:
          type: string
        roundLon:
          type: string
        strLat:
          type: string
        strLon:
          type: string
        date_formatted:
          type: string
          format: date
        measurements:
          type: array
          items:
            $ref: '#/components/schemas/coreMeasurement'
        bgcMeas:
          type: array
          items:
            $ref: '#/components/schemas/bgcMeasurement'
      example:
        date: 2000-01-23T04:56:07.000+00:00
        date_qc: 1
        euroargoPlatform: euroargoPlatform
        dac: dac
        lon: 2.3021358869347654518833223846741020679473876953125
        WMO_INST_TYPE: WMO_INST_TYPE
        station_parameters_in_nc:
        - station_parameters_in_nc
        - station_parameters_in_nc
        roundLat: roundLat
        strLon: strLon
        station_parameters:
        - station_parameters
        - station_parameters
        pres_min_for_PSAL: 4.1456080298839363962315474054776132106781005859375
        PLATFORM_TYPE: PLATFORM_TYPE
        bgcMeas:
        - ""
        - ""
        date_formatted: 2000-01-23
        isDeep: true
        platform_number: 7
        BASIN: 7.3862819483858839220147274318151175975799560546875
        lat: 5.63737665663332876420099637471139430999755859375
        VERTICAL_SAMPLING_SCHEME: VERTICAL_SAMPLING_SCHEME
        pres_max_for_TEMP: 9.301444243932575517419536481611430644989013671875
        measurements:
        - temp: 1.024645700144157789424070870154537260532379150390625
          pres: 1.231513536777255612975068288506008684635162353515625
          psal: 1.489415909854170383397331534069962799549102783203125
        - temp: 1.024645700144157789424070870154537260532379150390625
          pres: 1.231513536777255612975068288506008684635162353515625
          psal: 1.489415909854170383397331534069962799549102783203125
        roundLon: roundLon
        bgcMeasKeys:
        - bgcMeasKeys
        - bgcMeasKeys
        position_qc: 0
        DIRECTION: DIRECTION
        pres_max_for_PSAL: 3.61607674925191080461672754609026014804840087890625
        POSITIONING_SYSTEM: POSITIONING_SYSTEM
        DATA_CENTRE: DATA_CENTRE
        url: url
        nc_url: nc_url
        PARAMETER_DATA_MODE:
        - PARAMETER_DATA_MODE
        - PARAMETER_DATA_MODE
        date_added: 2000-01-23T04:56:07.000+00:00
        cycle_number: 6
        PI_NAME: PI_NAME
        pres_min_for_TEMP: 2.027123023002321833274663731572218239307403564453125
        geoLocation:
          coordinates:
          - 0.80082819046101150206595775671303272247314453125
          - 0.80082819046101150206595775671303272247314453125
          type: type
        DATA_MODE: DATA_MODE
        jcommopsPlatform: jcommopsPlatform
        core_data_mode: core_data_mode
        formatted_station_parameters:
        - formatted_station_parameters
        - formatted_station_parameters
        max_pres: 5.962133916683182377482808078639209270477294921875
        containsBGC: true
        strLat: strLat
        _id: _id
    coreMeasurement:
      type: object
      properties:
        pres:
          type: number
        temp:
          type: number
        psal:
          type: number
      example:
        temp: 1.024645700144157789424070870154537260532379150390625
        pres: 1.231513536777255612975068288506008684635162353515625
        psal: 1.489415909854170383397331534069962799549102783203125
    coreMeasurementKey:
      type: string
      enum:
      - pres
      - temp
      - psal
      - all
    bgcMeasurement:
      allOf:
      - $ref: '#/components/schemas/argoBgcMeasurement'
      - $ref: '#/components/schemas/goshipBgcMeasurement'
    argoBgcMeasurement:
      type: object
      properties:
        pres:
          type: number
        pres_qc:
          type: integer
        temp:
          type: number
        temp_qc:
          type: integer
        psal:
          type: number
        psal_qc:
          type: integer
        cndx:
          type: number
        cndx_qc:
          type: integer
        doxy:
          type: number
        doxy_qc:
          type: integer
        chla:
          type: number
        chla_qc:
          type: integer
        cdom:
          type: number
        cdom_qc:
          type: integer
        nitrate:
          type: number
        nitrate_qc:
          type: integer
        bbp700:
          type: number
        bbp700_qc:
          type: integer
        down_irradiance412:
          type: number
        down_irradiance412_qc:
          type: integer
        down_irradiance442:
          type: number
        down_irradiance442_qc:
          type: integer
        down_irradiance490:
          type: number
        down_irradiance490_qc:
          type: integer
        downwelling_par:
          type: number
        downwelling_par_qc:
          type: string
    goshipBgcMeasurement: {}
    bgcMeasurementKey:
      oneOf:
      - $ref: '#/components/schemas/argoBgcMeasurementKey'
      - $ref: '#/components/schemas/goshipBgcMeasurementKey'
    argoBgcMeasurementKey:
      type: string
      enum:
      - pres
      - pres_qc
      - temp
      - temp_qc
      - psal
      - psal_qc
      - cndx
      - cndx_qc
      - doxy
      - doxy_qc
      - chla
      - chla_qc
      - cdom
      - cdom_qc
      - nitrate
      - nitrate_qc
      - bbp700
      - bbp700_qc
      - down_irradiance412
      - down_irradiance412_qc
      - down_irradiance442
      - down_irradiance442_qc
      - down_irradiance490
      - down_irradiance490_qc
      - downwelling_par
      - downwelling_par_qc
      - all
    goshipBgcMeasurementKey:
      type: string
      enum:
      - pres
      - pres_qc
      - psal_btl
      - psal_btl_qc
      - psal_ctd
      - psal_ctd_qc
      - temp_btl
      - temp_btl_qc
      - temp_ctd
      - temp_ctd_qc
      - doxy_btl
      - doxy_btl_qc
      - doxy_ctd
      - doxy_ctd_qc
    platformMeta:
      type: object
      properties:
        _id:
          type: number
        platform_number:
          type: number
        most_recent_date:
          type: string
          format: date-time
        most_recent_date_added:
          type: string
          format: date-time
        number_of_profiles:
          type: integer
        POSITIONING_SYSTEM:
          type: string
        PI_NAME:
          type: string
        dac:
          type: string
      example:
        PI_NAME: PI_NAME
        most_recent_date: 2000-01-23T04:56:07.000+00:00
        most_recent_date_added: 2000-01-23T04:56:07.000+00:00
        dac: dac
        platform_number: 6.02745618307040320615897144307382404804229736328125
        number_of_profiles: 1
        POSITIONING_SYSTEM: POSITIONING_SYSTEM
        _id: 0.80082819046101150206595775671303272247314453125
    platformRecent:
      type: object
      properties:
        _id:
          type: number
        platform_number:
          type: number
        most_recent_date:
          type: string
          format: date-time
        number_of_profiles:
          type: integer
        cycle_number:
          type: integer
        geoLocation:
          $ref: '#/components/schemas/geoJSONpoint'
        dac:
          type: string
      example:
        cycle_number: 5
        most_recent_date: 2000-01-23T04:56:07.000+00:00
        geoLocation:
          coordinates:
          - 0.80082819046101150206595775671303272247314453125
          - 0.80082819046101150206595775671303272247314453125
          type: type
        dac: dac
        platform_number: 6.02745618307040320615897144307382404804229736328125
        number_of_profiles: 1
        _id: 0.80082819046101150206595775671303272247314453125
    dacStub:
      type: object
      properties:
        _id:
          type: string
        number_of_profiles:
          type: integer
        most_recent_date:
          type: string
          format: date-time
        dac:
          type: string
      example:
        most_recent_date: 2000-01-23T04:56:07.000+00:00
        dac: dac
        number_of_profiles: 0
        _id: _id
    MapMeta:
      required:
      - DATA_MODE
      - DIRECTION
      - _id
      - cycle_number
      - date
      - geoLocation
      - platform_number
      type: object
      properties:
        _id:
          type: string
        DATA_MODE:
          type: string
        date:
          type: string
          format: date-time
        geoLocation:
          $ref: '#/components/schemas/geoJSONpoint'
        cycle_number:
          type: integer
        platform_number:
          type: integer
        DIRECTION:
          type: string
        containsBGC:
          type: boolean
        isDeep:
          type: boolean
      example:
        date: 2000-01-23T04:56:07.000+00:00
        cycle_number: 0
        geoLocation:
          coordinates:
          - 0.80082819046101150206595775671303272247314453125
          - 0.80082819046101150206595775671303272247314453125
          type: type
        DATA_MODE: DATA_MODE
        DIRECTION: DIRECTION
        isDeep: true
        platform_number: 6
        containsBGC: true
        _id: _id
    profileCollectionSummary:
      type: object
      properties:
        numberOfProfiles:
          type: integer
        dacs:
          type: array
          items:
            type: string
        numberDeep:
          type: integer
        numberBgc:
          type: integer
        lastAdded:
          type: string
          format: date-time
      example:
        numberBgc: 1
        dacs:
        - dacs
        - dacs
        lastAdded: 2000-01-23T04:56:07.000+00:00
        numberDeep: 6
        numberOfProfiles: 0
    geoJSONpoint:
      type: object
      properties:
        type:
          type: string
        coordinates:
          type: array
          items:
            maxItems: 2
            minItems: 2
            type: number
      example:
        coordinates:
        - 0.80082819046101150206595775671303272247314453125
        - 0.80082819046101150206595775671303272247314453125
        type: type
    geoJSONpolygon:
      type: object
      properties:
        type:
          type: string
        coordinates:
          type: array
          items:
            type: array
            items:
              maxItems: 2
              minItems: 2
              type: number
      example:
        coordinates:
        - - 6.02745618307040320615897144307382404804229736328125
          - 6.02745618307040320615897144307382404804229736328125
        - - 6.02745618307040320615897144307382404804229736328125
          - 6.02745618307040320615897144307382404804229736328125
        type: type
    errorResponse:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    CovarSchema_features:
      type: object
      properties:
        geometry:
          $ref: '#/components/schemas/geoJSONpoint'
        type:
          type: string
        properties:
          type: object
      example:
        geometry:
          coordinates:
          - 0.80082819046101150206595775671303272247314453125
          - 0.80082819046101150206595775671303272247314453125
          type: type
        type: type
        properties: {}
    tcSchema_trajData:
      required:
      - class
      - date
      - geoLocation
      - lat
      - lon
      - time
      - timestamp
      type: object
      properties:
        date:
          type: string
        time:
          type: number
        class:
          type: string
        lat:
          type: number
        lon:
          type: number
        wind:
          type: number
        pres:
          type: number
        season:
          type: number
        timestamp:
          type: string
          format: date-time
        geoLocation:
          $ref: '#/components/schemas/geoJSONpoint'
      example:
        date: date
        pres: 7.061401241503109105224211816675961017608642578125
        geoLocation:
          coordinates:
          - 0.80082819046101150206595775671303272247314453125
          - 0.80082819046101150206595775671303272247314453125
          type: type
        season: 9.301444243932575517419536481611430644989013671875
        lon: 5.63737665663332876420099637471139430999755859375
        time: 1.46581298050294517310021547018550336360931396484375
        class: class
        lat: 5.962133916683182377482808078639209270477294921875
        wind: 2.3021358869347654518833223846741020679473876953125
        timestamp: 2000-01-23T04:56:07.000+00:00
    ancestorGrid_data:
      type: object
      properties:
        lat:
          type: number
        lon:
          type: number
        value: {}
  responses:
    badRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
    notFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
    serverError:
      description: Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
  parameters:
    arDate:
      name: date
      in: query
      description: three hour increments starting at 2004-01-01T00:00:00 and ending
        at 2017-04-02T03:00:00
      required: true
      style: form
      explode: true
      allowReserved: true
      schema:
        type: string
        format: date-time
        example: 2010-01-01T00:00:00Z
    arID:
      name: _id
      in: query
      description: ID of an atmospheric river object
      required: true
      style: form
      explode: true
      schema:
        type: string
        example: 1_262992
    date:
      name: date
      in: query
      description: date-time formatted string
      required: true
      style: form
      explode: true
      allowReserved: true
      schema:
        type: string
        format: date-time
        example: 2010-01-01T00:00:00Z
    startDate:
      name: startDate
      in: query
      description: date-time formatted string indicating the beginning of a time period
      required: false
      style: form
      explode: true
      allowReserved: true
      schema:
        type: string
        format: date-time
        example: 2010-01-01T00:00:00Z
    endDate:
      name: endDate
      in: query
      description: date-time formatted string indicating the end of a time period
      required: false
      style: form
      explode: true
      allowReserved: true
      schema:
        type: string
        format: date-time
        example: 2010-01-01T00:00:00Z
    gridNameUniform:
      name: gridName
      in: query
      description: name of the gridded product
      required: true
      style: form
      explode: true
      schema:
        type: string
        example: rgTempAnom
    gridNameNonUniform:
      name: gridName
      in: query
      description: name of the gridded product
      required: true
      style: form
      explode: true
      schema:
        type: string
        example: sose_si_area_1_day_sparse
    presLevelUniform:
      name: presLevel
      in: query
      description: pressure level (dbar)
      required: true
      style: form
      explode: true
      schema:
        type: number
        example: 10
    presLevelNonUniform:
      name: presLevel
      in: query
      description: pressure level (dbar)
      required: true
      style: form
      explode: true
      schema:
        type: number
        example: 0
    latRangeUniform:
      name: latRange
      in: query
      description: Latitude range (-90 to 90 degrees)
      required: true
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        example: "-5,5.33"
        items:
          maximum: 90
          minimum: -90
          maxItems: 2
          minItems: 2
          type: number
    latRangeNonUniform:
      name: latRange
      in: query
      description: Latitude range (-90 to 90 degrees)
      required: true
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        example: "-5,5.33"
        items:
          maximum: 90
          minimum: -90
          maxItems: 2
          minItems: 2
          type: number
    lonRange:
      name: lonRange
      in: query
      description: Longitude range (-180 to 180 degrees)
      required: true
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        example: "0,2.153"
        items:
          maximum: 180
          minimum: -180
          maxItems: 2
          minItems: 2
          type: number
    dateUniform:
      name: date
      in: query
      description: YYYY-MM-DD format. Monthly grids use the first day of the month.
      required: true
      style: form
      explode: true
      schema:
        type: string
        format: date
        example: 2012-01-01
    dateNonUniform:
      name: date
      in: query
      description: YYYY-MM-DD format. Monthly grids use the first day of the month.
      required: true
      style: form
      explode: true
      schema:
        type: string
        format: date
        example: 2012-01-01
    gridParam:
      name: param
      in: query
      description: tbd
      required: true
      style: form
      explode: true
      schema:
        type: string
        example: ""
    presRange:
      name: presRange
      in: query
      description: Pressure range
      required: false
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        example: "10,20.1"
        items:
          maxItems: 2
          minItems: 2
          type: number
    idList:
      name: ids
      in: query
      description: List of profile IDs
      required: false
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        example: "4902911_0,4902911_97"
        items:
          type: string
    platformList:
      name: platforms
      in: query
      description: List of platform IDs
      required: false
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        items:
          type: number
    polygon:
      name: polygon
      in: query
      description: "array of [lon, lat] vertices describing a polygon; final point\
        \ must match initial point"
      required: false
      style: form
      explode: true
      allowReserved: true
      schema:
        type: string
        example: "[[-74.1247,40.5972],[-73.7347,40.5972],[-74.0148,40.8886],[-74.1247,40.5972]]"
    box:
      name: box
      in: query
      description: "box described as [[lower left lon, lower left lat], [upper right\
        \ lon, upper right lat]]"
      required: false
      style: form
      explode: true
      allowReserved: true
      schema:
        type: string
        example: "[[-74.2126,40.5221],[-73.6798,40.9135]]"
    coreMeasurements:
      name: coreMeasurements
      in: query
      description: Keys of core measurements to include
      required: false
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        items:
          $ref: '#/components/schemas/coreMeasurementKey'
    bgcMeasurements:
      name: bgcMeasurements
      in: query
      description: Keys of BGC measurements to include
      required: false
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        items:
          $ref: '#/components/schemas/bgcMeasurementKey'
    platform:
      name: platform
      in: query
      description: platform ID
      required: true
      style: form
      explode: true
      schema:
        type: number
    lat:
      name: lat
      in: path
      description: latitude (degrees) of Argo float location
      required: true
      style: simple
      explode: false
      schema:
        maximum: 90
        minimum: -90
        type: number
        example: 5.25
    lon:
      name: lon
      in: path
      description: longitude (degrees) of Argo float location
      required: true
      style: simple
      explode: false
      schema:
        maximum: 180
        minimum: -180
        type: number
        example: -20.33
    forcastDays:
      name: forcastDays
      in: path
      description: number of days over which to project Argo float drift
      required: true
      style: simple
      explode: false
      schema:
        maximum: 1800
        minimum: 60
        type: number
        example: 60
        enum:
        - 60
        - 120
        - 140
        - 240
        - 360
        - 480
        - 720
        - 840
        - 960
        - 1080
        - 1200
        - 1320
        - 1440
        - 1560
        - 1680
        - 1800
