openapi: 3.0.3
info:
  title: Argovis API
  description: "REST API for Argo profiles, platforms, selections, BGC data, gridded\
    \ products, etc."
  contact:
    name: Argovis Collaboration
    url: https://argovis.colorado.edu/
    email: tbd@example.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: "0.1"
externalDocs:
  description: Find us on GitHub
  url: https://github.com/argovis/argovis_api
servers:
- url: https://argovis.colorado.edu
  description: "Server Hosted by University of Colorado, Boulder"
- url: http://localhost:3001
  description: Local server for testing and development
security:
- name: []
tags:
- name: ar
  description: atmospheric river shapes
- name: covar
  description: Argo float position forcast product
- name: tc
  description: tropical cyclone data
- name: grid
  description: "Gridded products derived from Argo floats, simulation, or satalite\
    \ product"
- name: profiles
  description: "Profile data, including BGC and profile metadata"
- name: platforms
  description: Platform metadata
- name: dacs
  description: Summary and metadata for data assembly centers represented in the dataset
paths:
  /ar:
    get:
      tags:
      - ar
      summary: Find and filter atmo river shapes.
      operationId: findAR
      parameters:
      - name: date
        in: query
        description: three hour increments starting at 2004-01-01T00:00:00 and ending
          at 2017-04-02T03:00:00
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      - name: _id
        in: query
        description: ID of an atmospheric river object
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: 1_262992
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/arShapeSchema'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Ar
  /covarGrid:
    get:
      tags:
      - covar
      summary: Probability distribution field for a float at point lat-lon after forcastDays.
      operationId: findCovar
      parameters:
      - name: lat
        in: query
        description: latitude (degrees) of Argo float location
        required: true
        style: form
        explode: true
        schema:
          maximum: 90
          minimum: -90
          type: number
          example: 5.25
      - name: lon
        in: query
        description: longitude (degrees) of Argo float location
        required: true
        style: form
        explode: true
        schema:
          maximum: 180
          minimum: -180
          type: number
          example: -20.33
      - name: forcastDays
        in: query
        description: number of days over which to project Argo float drift
        required: true
        style: form
        explode: true
        schema:
          maximum: 1800
          minimum: 60
          type: number
          example: 60
          enum:
          - 60
          - 120
          - 140
          - 240
          - 360
          - 480
          - 720
          - 840
          - 960
          - 1080
          - 1200
          - 1320
          - 1440
          - 1560
          - 1680
          - 1800
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CovarSchema'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Covar
  /covarSum:
    get:
      tags:
      - covar
      summary: Sum of probability distribution field over a region for a float starting
        at point lat-lon after forcastDays.
      operationId: sumCovar
      parameters:
      - name: lat
        in: query
        description: latitude (degrees) of Argo float location
        required: true
        style: form
        explode: true
        schema:
          maximum: 90
          minimum: -90
          type: number
          example: 5.25
      - name: lon
        in: query
        description: longitude (degrees) of Argo float location
        required: true
        style: form
        explode: true
        schema:
          maximum: 180
          minimum: -180
          type: number
          example: -20.33
      - name: forcastDays
        in: query
        description: number of days over which to project Argo float drift
        required: true
        style: form
        explode: true
        schema:
          maximum: 1800
          minimum: 60
          type: number
          example: 60
          enum:
          - 60
          - 120
          - 140
          - 240
          - 360
          - 480
          - 720
          - 840
          - 960
          - 1080
          - 1200
          - 1320
          - 1440
          - 1560
          - 1680
          - 1800
      - name: polygon
        in: query
        description: "array of [lon, lat] vertices describing a polygon; final point\
          \ must match initial point"
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          example: "[[-74.1247,40.5972],[-73.7347,40.5972],[-74.0148,40.8886],[-74.1247,40.5972]]"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Covar
  /tc:
    get:
      tags:
      - tc
      summary: Tropical cyclone search and filter.
      operationId: findTC
      parameters:
      - name: startDate
        in: query
        description: date-time formatted string indicating the beginning of a time
          period
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      - name: endDate
        in: query
        description: date-time formatted string indicating the end of a time period
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      - name: name
        in: query
        description: name of tropical cyclone
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: LANE
      - name: year
        in: query
        description: year of tropical cyclone
        required: false
        style: form
        explode: true
        schema:
          type: number
          example: 2018
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/tcSchema'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Tc
  /tc/stormNameList:
    get:
      tags:
      - tc
      summary: returns a list of tropical cyclone names and years
      operationId: findStormNameList
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Tc
  /griddedProducts/gridMetadata:
    get:
      tags:
      - grid
      summary: "metadata from grid unique dates, pres levels"
      operationId: gridmeta
      parameters:
      - name: gridName
        in: query
        description: name of the gridded product
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: rgTempAnom
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GridMeta'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Grid
  /griddedProducts/grid/window:
    get:
      tags:
      - grid
      summary: uniformly spaced rectangular gridded product selector
      operationId: uniformGridWindow
      parameters:
      - name: gridName
        in: query
        description: name of the gridded product
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: rgTempAnom
      - name: presLevel
        in: query
        description: pressure level (dbar)
        required: true
        style: form
        explode: true
        schema:
          type: number
          example: 10
      - name: latRange
        in: query
        description: Latitude range (-90 to 90 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "-5,5.33"
          items:
            maximum: 90
            minimum: -90
            maxItems: 2
            minItems: 2
            type: number
      - name: lonRange
        in: query
        description: Longitude range (-180 to 180 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "0,2.153"
          items:
            maximum: 180
            minimum: -180
            maxItems: 2
            minItems: 2
            type: number
      - name: date
        in: query
        description: date-time formatted string
        required: true
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RasterGrid'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Grid
  /griddedProducts/nonUniformGrid/window:
    get:
      tags:
      - grid
      summary: non uniformly spaced rectangular gridded product
      operationId: nonuniformGridWindow
      parameters:
      - name: gridName
        in: query
        description: name of the gridded product
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: sose_si_area_1_day_sparse
      - name: presLevel
        in: query
        description: pressure level (dbar)
        required: true
        style: form
        explode: true
        schema:
          type: number
          example: 0
      - name: latRange
        in: query
        description: Latitude range (-90 to 90 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "-5,5.33"
          items:
            maximum: 90
            minimum: -90
            maxItems: 2
            minItems: 2
            type: number
      - name: lonRange
        in: query
        description: Longitude range (-180 to 180 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "0,2.153"
          items:
            maximum: 180
            minimum: -180
            maxItems: 2
            minItems: 2
            type: number
      - name: date
        in: query
        description: date-time formatted string
        required: true
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/nonUniformGrid'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Grid
  /griddedProducts/gridCoords:
    get:
      tags:
      - grid
      summary: coordinates for gridded product
      operationId: gridCoords
      parameters:
      - name: gridName
        in: query
        description: name of the gridded product
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: sose_si_area_1_day_sparse
      - name: latRange
        in: query
        description: Latitude range (-90 to 90 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "-5,5.33"
          items:
            maximum: 90
            minimum: -90
            maxItems: 2
            minItems: 2
            type: number
      - name: lonRange
        in: query
        description: Longitude range (-180 to 180 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "0,2.153"
          items:
            maximum: 180
            minimum: -180
            maxItems: 2
            minItems: 2
            type: number
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GridCoordSchema'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Grid
  /griddedProducts/grid/find:
    get:
      tags:
      - grid
      summary: returns a single grid by name
      operationId: findGrid
      parameters:
      - name: gridName
        in: query
        description: name of the gridded product
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: rgTempAnom
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GridSchema'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Grid
  /griddedProducts/gridParams/find:
    get:
      tags:
      - grid
      summary: grid parameter search
      operationId: findGridParam
      parameters:
      - name: gridName
        in: query
        description: name of the gridded product
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: rgTempAnom
      - name: presLevel
        in: query
        description: pressure level (dbar)
        required: true
        style: form
        explode: true
        schema:
          type: number
          example: 10
      - name: param
        in: query
        description: tbd
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/gridParams'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Grid
  /griddedProducts/gridParams/window:
    get:
      tags:
      - grid
      summary: tbd
      operationId: windowGridParam
      parameters:
      - name: gridName
        in: query
        description: name of the gridded product
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: rgTempAnom
      - name: presLevel
        in: query
        description: pressure level (dbar)
        required: true
        style: form
        explode: true
        schema:
          type: number
          example: 10
      - name: latRange
        in: query
        description: Latitude range (-90 to 90 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "-5,5.33"
          items:
            maximum: 90
            minimum: -90
            maxItems: 2
            minItems: 2
            type: number
      - name: lonRange
        in: query
        description: Longitude range (-180 to 180 degrees)
        required: true
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "0,2.153"
          items:
            maximum: 180
            minimum: -180
            maxItems: 2
            minItems: 2
            type: number
      - name: param
        in: query
        description: tbd
        required: true
        style: form
        explode: true
        schema:
          type: string
          example: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RasterParam'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Grid
  /profiles:
    get:
      tags:
      - profiles
      summary: "Search, reduce and download profile data."
      operationId: profile
      parameters:
      - name: startDate
        in: query
        description: date-time formatted string indicating the beginning of a time
          period
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      - name: endDate
        in: query
        description: date-time formatted string indicating the end of a time period
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      - name: polygon
        in: query
        description: "array of [lon, lat] vertices describing a polygon; final point\
          \ must match initial point"
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          example: "[[-74.1247,40.5972],[-73.7347,40.5972],[-74.0148,40.8886],[-74.1247,40.5972]]"
      - name: box
        in: query
        description: "box described as [[lower left lon, lower left lat], [upper right\
          \ lon, upper right lat]]"
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          example: "[[-74.2126,40.5221],[-73.6798,40.9135]]"
      - name: center
        in: query
        description: center to measure max radius from
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "10,20.1"
          items:
            maxItems: 2
            minItems: 2
            type: number
      - name: radius
        in: query
        description: km from centerpoint
        required: false
        style: form
        explode: true
        schema:
          type: number
          example: 0
      - name: ids
        in: query
        description: List of profile IDs
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "4902911_0,4902911_97"
          items:
            type: string
      - name: platforms
        in: query
        description: List of platform IDs
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          items:
            anyOf:
            - type: string
            - type: number
      - name: presRange
        in: query
        description: Pressure range
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "10,20.1"
          items:
            maxItems: 2
            minItems: 2
            type: number
      - name: dac
        in: query
        description: Data Assembly Center
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: ""
      - name: source
        in: query
        description: ""
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "argo_bgc,argo_deep"
          items:
            type: string
      - name: compression
        in: query
        description: Data compression strategy
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: basic-minification
      - name: data
        in: query
        description: Keys of data to include
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/dataKey'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Profile'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Profiles
  /profiles/listID:
    get:
      tags:
      - profiles
      summary: List profile IDs that match a search
      operationId: profileList
      parameters:
      - name: startDate
        in: query
        description: date-time formatted string indicating the beginning of a time
          period
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      - name: endDate
        in: query
        description: date-time formatted string indicating the end of a time period
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          format: date-time
          example: 2010-01-01T00:00:00Z
      - name: polygon
        in: query
        description: "array of [lon, lat] vertices describing a polygon; final point\
          \ must match initial point"
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          example: "[[-74.1247,40.5972],[-73.7347,40.5972],[-74.0148,40.8886],[-74.1247,40.5972]]"
      - name: box
        in: query
        description: "box described as [[lower left lon, lower left lat], [upper right\
          \ lon, upper right lat]]"
        required: false
        style: form
        explode: true
        allowReserved: true
        schema:
          type: string
          example: "[[-74.2126,40.5221],[-73.6798,40.9135]]"
      - name: center
        in: query
        description: center to measure max radius from
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "10,20.1"
          items:
            maxItems: 2
            minItems: 2
            type: number
      - name: radius
        in: query
        description: km from centerpoint
        required: false
        style: form
        explode: true
        schema:
          type: number
          example: 0
      - name: dac
        in: query
        description: Data Assembly Center
        required: false
        style: form
        explode: true
        schema:
          type: string
          example: ""
      - name: source
        in: query
        description: ""
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "argo_bgc,argo_deep"
          items:
            type: string
      - name: platforms
        in: query
        description: List of platform IDs
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          items:
            anyOf:
            - type: string
            - type: number
      - name: presRange
        in: query
        description: Pressure range
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          example: "10,20.1"
          items:
            maxItems: 2
            minItems: 2
            type: number
      - name: data
        in: query
        description: Keys of data to include
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/dataKey'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Profiles
  /profiles/overview:
    get:
      tags:
      - profiles
      summary: Provides a summary of the profile database.
      operationId: profilesOverview
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profileCollectionSummary'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Profiles
  /platforms:
    get:
      tags:
      - platforms
      summary: Provides metadata for a specified platform.
      operationId: platformMeta
      parameters:
      - name: platform
        in: query
        description: platform ID
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/platform'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/platformMeta'
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Platforms
  /platforms/mostRecent:
    get:
      tags:
      - platforms
      summary: Provides a list of platforms (all by default) with their most recent
        known report and position.
      operationId: platformList
      parameters:
      - name: platforms
        in: query
        description: List of platform IDs
        required: false
        style: form
        explode: false
        allowReserved: true
        schema:
          type: array
          items:
            anyOf:
            - type: string
            - type: number
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/platformRecent'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Platforms
  /platforms/bgcList:
    get:
      tags:
      - platforms
      summary: Lists all platforms that report BGC data.
      operationId: bgcPlatformList
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                  - type: string
                  - type: number
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Platforms
  /dacs:
    get:
      tags:
      - dacs
      summary: Summary data for all DACs in the database.
      operationId: dacList
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/dacStub'
                x-content-type: application/json
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
        "500":
          description: Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
      x-swagger-router-controller: Dacs
components:
  schemas:
    arShapeSchema:
      required:
      - _id
      - date
      - date_formatted
      - geolocation
      - shapeId
      type: object
      properties:
        _id:
          type: string
        date:
          type: string
          format: date-time
        shapeId:
          type: integer
        geolocation:
          $ref: '#/components/schemas/geoJSONpolygon'
        date_formateed:
          type: string
          format: date
      example:
        date: 2000-01-23T04:56:07.000+00:00
        date_formateed: 2000-01-23
        shapeId: 0
        _id: _id
        geolocation:
          coordinates:
          - - 6.02745618307040320615897144307382404804229736328125
            - 6.02745618307040320615897144307382404804229736328125
          - - 6.02745618307040320615897144307382404804229736328125
            - 6.02745618307040320615897144307382404804229736328125
          type: type
    CovarSchema:
      required:
      - _id
      - dLat
      - dLong
      - features
      - forcastDays
      - geolocation
      type: object
      properties:
        features:
          type: array
          items:
            $ref: '#/components/schemas/CovarSchema_features'
        _id:
          type: string
        dLat:
          type: number
        dLong:
          type: number
        forcastDays:
          type: integer
        geolocation:
          $ref: '#/components/schemas/geoJSONpoint'
      example:
        features:
        - geometry:
            coordinates:
            - 0.80082819046101150206595775671303272247314453125
            - 0.80082819046101150206595775671303272247314453125
            type: type
          type: type
          properties: {}
        - geometry:
            coordinates:
            - 0.80082819046101150206595775671303272247314453125
            - 0.80082819046101150206595775671303272247314453125
            type: type
          type: type
          properties: {}
        dLat: 6.02745618307040320615897144307382404804229736328125
        dLong: 1.46581298050294517310021547018550336360931396484375
        _id: _id
        forcastDays: 5
        geolocation: null
    tcSchema:
      required:
      - _id
      - endDate
      - num
      - source
      - startDate
      - year
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        num:
          type: number
        source:
          type: string
        startDate:
          type: string
          format: date-time
        endDate:
          type: string
          format: date-time
        year:
          type: number
        trajData:
          type: array
          items:
            $ref: '#/components/schemas/tcSchema_trajData'
      example:
        endDate: 2000-01-23T04:56:07.000+00:00
        year: 6.02745618307040320615897144307382404804229736328125
        num: 0.80082819046101150206595775671303272247314453125
        name: name
        _id: _id
        source: source
        trajData:
        - date: date
          pres: 7.061401241503109105224211816675961017608642578125
          season: 9.301444243932575517419536481611430644989013671875
          lon: 5.63737665663332876420099637471139430999755859375
          time: 1.46581298050294517310021547018550336360931396484375
          class: class
          lat: 5.962133916683182377482808078639209270477294921875
          wind: 2.3021358869347654518833223846741020679473876953125
          timestamp: 2000-01-23T04:56:07.000+00:00
          geolocation:
            coordinates:
            - 0.80082819046101150206595775671303272247314453125
            - 0.80082819046101150206595775671303272247314453125
            type: type
        - date: date
          pres: 7.061401241503109105224211816675961017608642578125
          season: 9.301444243932575517419536481611430644989013671875
          lon: 5.63737665663332876420099637471139430999755859375
          time: 1.46581298050294517310021547018550336360931396484375
          class: class
          lat: 5.962133916683182377482808078639209270477294921875
          wind: 2.3021358869347654518833223846741020679473876953125
          timestamp: 2000-01-23T04:56:07.000+00:00
          geolocation:
            coordinates:
            - 0.80082819046101150206595775671303272247314453125
            - 0.80082819046101150206595775671303272247314453125
            type: type
        startDate: 2000-01-23T04:56:07.000+00:00
    GridMeta:
      required:
      - dates
      - maxDate
      - minDate
      - presLevels
      type: object
      properties:
        _id: {}
        presLevels:
          type: array
          items:
            type: number
        dates:
          type: array
          items:
            type: string
            format: date-time
        minDate:
          type: string
          format: date-time
        maxDate:
          type: string
          format: date-time
      example:
        minDate: 2000-01-23T04:56:07.000+00:00
        dates:
        - 2000-01-23T04:56:07.000+00:00
        - 2000-01-23T04:56:07.000+00:00
        maxDate: 2000-01-23T04:56:07.000+00:00
        _id: ""
        presLevels:
        - 0.80082819046101150206595775671303272247314453125
        - 0.80082819046101150206595775671303272247314453125
    RasterParam:
      required:
      - _id
      - cellXSize
      - cellYSize
      - nCols
      - nRows
      - noDataValue
      - pres
      - xllCorner
      - yllCorner
      - zs
      type: object
      properties:
        _id:
          type: string
        pres:
          type: number
        cellXSize: {}
        cellYSize: {}
        noDataValue: {}
        zs:
          type: array
          items:
            type: number
        nRows:
          type: integer
        nCols:
          type: integer
        xllCorner:
          type: number
        yllCorner:
          type: number
        gridName:
          type: string
        units:
          type: string
        measurement:
          type: string
        param:
          type: string
      example:
        gridName: gridName
        pres: 0.80082819046101150206595775671303272247314453125
        units: units
        cellXSize: ""
        measurement: measurement
        nCols: 5
        yllCorner: 2.3021358869347654518833223846741020679473876953125
        nRows: 1
        param: param
        xllCorner: 5.63737665663332876420099637471139430999755859375
        noDataValue: ""
        zs:
        - 6.02745618307040320615897144307382404804229736328125
        - 6.02745618307040320615897144307382404804229736328125
        _id: _id
        cellYSize: ""
    RasterGrid:
      allOf:
      - $ref: '#/components/schemas/RasterParam'
      - type: object
        properties:
          date:
            type: string
            format: date-time
    ancestorGrid:
      required:
      - NODATA_value
      - _id
      - cellsize
      - measurement
      - param
      - pres
      - units
      type: object
      properties:
        _id:
          type: string
        gridName:
          type: string
        measurement:
          type: string
        units:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/ancestorGrid_data'
        variable:
          type: string
        date:
          type: string
          format: date-time
        pres:
          type: number
        model:
          type: string
        trend:
          type: string
        param:
          type: string
        cellsize:
          type: number
        NODATA_value: {}
      description: ancestor object describing common grid-like properties
    GridSchema:
      allOf:
      - $ref: '#/components/schemas/ancestorGrid'
      - type: object
        properties:
          chunk:
            type: integer
    nonUniformGrid:
      description: response object for non-uniform grid search
      allOf:
      - $ref: '#/components/schemas/ancestorGrid'
      - type: object
        properties:
          chunks:
            type: array
            items:
              type: number
    GridCoordSchema:
      required:
      - _id
      - gridName
      - lats
      - lons
      type: object
      properties:
        _id: {}
        lats:
          type: array
          items:
            type: number
        lons:
          type: array
          items:
            type: number
        gridName:
          type: string
      example:
        gridName: gridName
        lats:
        - 0.80082819046101150206595775671303272247314453125
        - 0.80082819046101150206595775671303272247314453125
        lons:
        - 6.02745618307040320615897144307382404804229736328125
        - 6.02745618307040320615897144307382404804229736328125
        _id: ""
    gridParams:
      type: object
      properties:
        model:
          type: string
        param:
          type: string
        measurement:
          type: string
        trend:
          type: string
        pres:
          type: number
      example:
        pres: 0.80082819046101150206595775671303272247314453125
        param: param
        trend: trend
        model: model
        measurement: measurement
    Profile:
      required:
      - _id
      - basin
      - cycle_number
      - data_type
      - date_updated_argovis
      - geolocation
      - timestamp
      type: object
      properties:
        _id:
          type: string
        basin:
          type: number
        data_type:
          type: string
        doi:
          type: string
        geolocation:
          $ref: '#/components/schemas/geoJSONpoint'
        instrument:
          type: string
        data:
          type: array
          items:
            type: array
            items:
              type: number
        data_keys:
          type: array
          items:
            $ref: '#/components/schemas/dataKey'
        data_warning:
          type: array
          items:
            type: string
        timestamp:
          type: string
          format: date-time
        date_updated_argovis:
          type: string
          format: date-time
        pi_name:
          type: array
          items:
            type: string
        country:
          type: string
        data_center:
          type: string
        source_info:
          type: array
          items:
            $ref: '#/components/schemas/profile_source_info'
        profile_direction:
          type: string
        geolocation_argoqc:
          type: number
        timestamp_argoqc:
          type: number
        cycle_number:
          type: number
        fleetmonitoring:
          type: string
        oceanops:
          type: string
        data_keys_mode:
          type: object
        platform_id:
          type: string
        platform_type:
          type: string
        positioning_system:
          type: string
        vertical_sampling_scheme:
          type: string
        wmo_inst_type:
          type: string
      example:
        country: country
        geolocation_argoqc: 1.46581298050294517310021547018550336360931396484375
        data:
        - - 6.02745618307040320615897144307382404804229736328125
          - 6.02745618307040320615897144307382404804229736328125
        - - 6.02745618307040320615897144307382404804229736328125
          - 6.02745618307040320615897144307382404804229736328125
        pi_name:
        - pi_name
        - pi_name
        instrument: instrument
        date_updated_argovis: 2000-01-23T04:56:07.000+00:00
        data_warning:
        - data_warning
        - data_warning
        platform_type: platform_type
        fleetmonitoring: fleetmonitoring
        timestamp: 2000-01-23T04:56:07.000+00:00
        positioning_system: positioning_system
        data_keys_mode: {}
        data_center: data_center
        basin: 0.80082819046101150206595775671303272247314453125
        vertical_sampling_scheme: vertical_sampling_scheme
        cycle_number: 5.63737665663332876420099637471139430999755859375
        wmo_inst_type: wmo_inst_type
        data_type: data_type
        platform_id: platform_id
        timestamp_argoqc: 5.962133916683182377482808078639209270477294921875
        data_keys:
        - ""
        - ""
        _id: _id
        profile_direction: profile_direction
        oceanops: oceanops
        source_info:
        - source:
          - source
          - source
          data_keys_source:
          - data_keys_source
          - data_keys_source
          source_url: source_url
          date_updated_source: 2000-01-23T04:56:07.000+00:00
        - source:
          - source
          - source
          data_keys_source:
          - data_keys_source
          - data_keys_source
          source_url: source_url
          date_updated_source: 2000-01-23T04:56:07.000+00:00
        doi: doi
        geolocation:
          coordinates:
          - 0.80082819046101150206595775671303272247314453125
          - 0.80082819046101150206595775671303272247314453125
          type: type
    dataKey:
      type: string
      anyOf:
      - $ref: '#/components/schemas/argoDataKey'
      - $ref: '#/components/schemas/goshipDataKey'
    argoDataKey:
      type: string
      enum:
      - bbp470
      - bbp532
      - bbp700
      - bbp700_2
      - bisulfide
      - cdom
      - chla
      - cndx
      - cp660
      - down_irradiance380
      - down_irradiance412
      - down_irradiance442
      - down_irradiance443
      - down_irradiance490
      - down_irradiance555
      - down_irradiance670
      - downwelling_par
      - doxy
      - doxy2
      - molar_doxy
      - nitrate
      - ph_in_situ_total
      - pres
      - psal
      - psal_sfile
      - temp
      - temp_sfile
      - turbidity
      - up_radiance412
      - up_radiance443
      - up_radiance490
      - up_radiance555
      - bbp470_argoqc
      - bbp532_argoqc
      - bbp700_argoqc
      - bbp700_2_argoqc
      - bisulfide_argoqc
      - cdom_argoqc
      - chla_argoqc
      - cndx_argoqc
      - cp660_argoqc
      - down_irradiance380_argoqc
      - down_irradiance412_argoqc
      - down_irradiance442_argoqc
      - down_irradiance443_argoqc
      - down_irradiance490_argoqc
      - down_irradiance555_argoqc
      - down_irradiance670_argoqc
      - downwelling_par_argoqc
      - doxy_argoqc
      - doxy2_argoqc
      - molar_doxy_argoqc
      - nitrate_argoqc
      - ph_in_situ_total_argoqc
      - pres_argoqc
      - psal_argoqc
      - psal_sfile_argoqc
      - temp_argoqc
      - temp_sfile_argoqc
      - turbidity_argoqc
      - up_radiance412_argoqc
      - up_radiance443_argoqc
      - up_radiance490_argoqc
      - up_radiance555_argoqc
      - all
    goshipDataKey:
      type: string
      enum:
      - pres
      - pres_qc
      - psal_btl
      - psal_btl_qc
      - psal_ctd
      - psal_ctd_qc
      - temp_btl
      - temp_btl_qc
      - temp_ctd
      - temp_ctd_qc
      - doxy_btl
      - doxy_btl_qc
      - doxy_ctd
      - doxy_ctd_qc
    platformMeta:
      type: object
      properties:
        _id:
          anyOf:
          - type: string
          - type: number
        platform_number:
          anyOf:
          - type: string
          - type: number
        most_recent_date:
          type: string
          format: date-time
        most_recent_date_added:
          type: string
          format: date-time
        number_of_profiles:
          type: integer
        POSITIONING_SYSTEM:
          type: string
        PI_NAME:
          type: string
        dac:
          type: string
      example:
        PI_NAME: PI_NAME
        most_recent_date: 2000-01-23T04:56:07.000+00:00
        most_recent_date_added: 2000-01-23T04:56:07.000+00:00
        dac: dac
        platform_number: ""
        number_of_profiles: 0
        POSITIONING_SYSTEM: POSITIONING_SYSTEM
        _id: ""
    platformRecent:
      type: object
      properties:
        _id:
          anyOf:
          - type: string
          - type: number
        platform_number:
          anyOf:
          - type: string
          - type: number
        most_recent_date:
          type: string
          format: date-time
        number_of_profiles:
          type: integer
        cycle_number:
          type: integer
        geolocation:
          $ref: '#/components/schemas/geoJSONpoint'
        dac:
          type: string
      example:
        cycle_number: 6
        most_recent_date: 2000-01-23T04:56:07.000+00:00
        dac: dac
        platform_number: ""
        number_of_profiles: 0
        _id: ""
        geolocation:
          coordinates:
          - 0.80082819046101150206595775671303272247314453125
          - 0.80082819046101150206595775671303272247314453125
          type: type
    dacStub:
      type: object
      properties:
        _id:
          type: string
        number_of_profiles:
          type: integer
        most_recent_date:
          type: string
          format: date-time
        dac:
          type: string
      example:
        most_recent_date: 2000-01-23T04:56:07.000+00:00
        dac: dac
        number_of_profiles: 0
        _id: _id
    profileCollectionSummary:
      type: object
      properties:
        numberOfProfiles:
          type: integer
        dacs:
          type: array
          items:
            type: string
        numberDeep:
          type: integer
        numberBgc:
          type: integer
        lastAdded:
          type: string
          format: date-time
      example:
        numberBgc: 1
        dacs:
        - dacs
        - dacs
        lastAdded: 2000-01-23T04:56:07.000+00:00
        numberDeep: 6
        numberOfProfiles: 0
    geoJSONpoint:
      required:
      - coordinates
      - type
      type: object
      properties:
        type:
          type: string
        coordinates:
          type: array
          items:
            maxItems: 2
            minItems: 2
            type: number
      example:
        coordinates:
        - 0.80082819046101150206595775671303272247314453125
        - 0.80082819046101150206595775671303272247314453125
        type: type
    geoJSONpolygon:
      type: object
      properties:
        type:
          type: string
        coordinates:
          type: array
          items:
            type: array
            items:
              maxItems: 2
              minItems: 2
              type: number
      example:
        coordinates:
        - - 6.02745618307040320615897144307382404804229736328125
          - 6.02745618307040320615897144307382404804229736328125
        - - 6.02745618307040320615897144307382404804229736328125
          - 6.02745618307040320615897144307382404804229736328125
        type: type
    profile_source_info:
      required:
      - source
      type: object
      properties:
        data_keys_source:
          type: array
          items:
            type: string
        source:
          type: array
          items:
            type: string
        source_url:
          type: string
        date_updated_source:
          type: string
          format: date-time
      example:
        source:
        - source
        - source
        data_keys_source:
        - data_keys_source
        - data_keys_source
        source_url: source_url
        date_updated_source: 2000-01-23T04:56:07.000+00:00
    errorResponse:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
    inline_response_200:
      required:
      - sum
      type: object
      properties:
        sum:
          type: integer
      example:
        sum: 0
    platform:
      anyOf:
      - type: string
      - type: number
    CovarSchema_features:
      type: object
      properties:
        geometry:
          $ref: '#/components/schemas/geoJSONpoint'
        type:
          type: string
        properties:
          type: object
      example:
        geometry:
          coordinates:
          - 0.80082819046101150206595775671303272247314453125
          - 0.80082819046101150206595775671303272247314453125
          type: type
        type: type
        properties: {}
    tcSchema_trajData:
      required:
      - class
      - date
      - geolocation
      - lat
      - lon
      - time
      - timestamp
      type: object
      properties:
        date:
          type: string
        time:
          type: number
        class:
          type: string
        lat:
          type: number
        lon:
          type: number
        wind:
          type: number
        pres:
          type: number
        season:
          type: number
        timestamp:
          type: string
          format: date-time
        geolocation:
          $ref: '#/components/schemas/geoJSONpoint'
      example:
        date: date
        pres: 7.061401241503109105224211816675961017608642578125
        season: 9.301444243932575517419536481611430644989013671875
        lon: 5.63737665663332876420099637471139430999755859375
        time: 1.46581298050294517310021547018550336360931396484375
        class: class
        lat: 5.962133916683182377482808078639209270477294921875
        wind: 2.3021358869347654518833223846741020679473876953125
        timestamp: 2000-01-23T04:56:07.000+00:00
        geolocation:
          coordinates:
          - 0.80082819046101150206595775671303272247314453125
          - 0.80082819046101150206595775671303272247314453125
          type: type
    ancestorGrid_data:
      type: object
      properties:
        lat:
          type: number
        lon:
          type: number
        value: {}
      example: null
  responses:
    badRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
    notFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
    serverError:
      description: Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
  parameters:
    arDate:
      name: date
      in: query
      description: three hour increments starting at 2004-01-01T00:00:00 and ending
        at 2017-04-02T03:00:00
      required: false
      style: form
      explode: true
      allowReserved: true
      schema:
        type: string
        format: date-time
        example: 2010-01-01T00:00:00Z
    arID:
      name: _id
      in: query
      description: ID of an atmospheric river object
      required: false
      style: form
      explode: true
      schema:
        type: string
        example: 1_262992
    date:
      name: date
      in: query
      description: date-time formatted string
      required: true
      style: form
      explode: true
      allowReserved: true
      schema:
        type: string
        format: date-time
        example: 2010-01-01T00:00:00Z
    startDate:
      name: startDate
      in: query
      description: date-time formatted string indicating the beginning of a time period
      required: false
      style: form
      explode: true
      allowReserved: true
      schema:
        type: string
        format: date-time
        example: 2010-01-01T00:00:00Z
    endDate:
      name: endDate
      in: query
      description: date-time formatted string indicating the end of a time period
      required: false
      style: form
      explode: true
      allowReserved: true
      schema:
        type: string
        format: date-time
        example: 2010-01-01T00:00:00Z
    gridNameUniform:
      name: gridName
      in: query
      description: name of the gridded product
      required: true
      style: form
      explode: true
      schema:
        type: string
        example: rgTempAnom
    gridNameNonUniform:
      name: gridName
      in: query
      description: name of the gridded product
      required: true
      style: form
      explode: true
      schema:
        type: string
        example: sose_si_area_1_day_sparse
    presLevelUniform:
      name: presLevel
      in: query
      description: pressure level (dbar)
      required: true
      style: form
      explode: true
      schema:
        type: number
        example: 10
    presLevelNonUniform:
      name: presLevel
      in: query
      description: pressure level (dbar)
      required: true
      style: form
      explode: true
      schema:
        type: number
        example: 0
    latRangeUniform:
      name: latRange
      in: query
      description: Latitude range (-90 to 90 degrees)
      required: true
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        example: "-5,5.33"
        items:
          maximum: 90
          minimum: -90
          maxItems: 2
          minItems: 2
          type: number
    latRangeNonUniform:
      name: latRange
      in: query
      description: Latitude range (-90 to 90 degrees)
      required: true
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        example: "-5,5.33"
        items:
          maximum: 90
          minimum: -90
          maxItems: 2
          minItems: 2
          type: number
    lonRange:
      name: lonRange
      in: query
      description: Longitude range (-180 to 180 degrees)
      required: true
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        example: "0,2.153"
        items:
          maximum: 180
          minimum: -180
          maxItems: 2
          minItems: 2
          type: number
    dateUniform:
      name: date
      in: query
      description: YYYY-MM-DD format. Monthly grids use the first day of the month.
      required: true
      style: form
      explode: true
      schema:
        type: string
        format: date
        example: 2012-01-01
    dateNonUniform:
      name: date
      in: query
      description: YYYY-MM-DD format. Monthly grids use the first day of the month.
      required: true
      style: form
      explode: true
      schema:
        type: string
        format: date
        example: 2012-01-01
    gridParam:
      name: param
      in: query
      description: tbd
      required: true
      style: form
      explode: true
      schema:
        type: string
        example: ""
    presRange:
      name: presRange
      in: query
      description: Pressure range
      required: false
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        example: "10,20.1"
        items:
          maxItems: 2
          minItems: 2
          type: number
    dac:
      name: dac
      in: query
      description: Data Assembly Center
      required: false
      style: form
      explode: true
      schema:
        type: string
        example: ""
    profileSource:
      name: source
      in: query
      description: ""
      required: false
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        example: "argo_bgc,argo_deep"
        items:
          type: string
    compression:
      name: compression
      in: query
      description: Data compression strategy
      required: false
      style: form
      explode: true
      schema:
        type: string
        example: basic-minification
    idList:
      name: ids
      in: query
      description: List of profile IDs
      required: false
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        example: "4902911_0,4902911_97"
        items:
          type: string
    platformList:
      name: platforms
      in: query
      description: List of platform IDs
      required: false
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        items:
          anyOf:
          - type: string
          - type: number
    polygon:
      name: polygon
      in: query
      description: "array of [lon, lat] vertices describing a polygon; final point\
        \ must match initial point"
      required: false
      style: form
      explode: true
      allowReserved: true
      schema:
        type: string
        example: "[[-74.1247,40.5972],[-73.7347,40.5972],[-74.0148,40.8886],[-74.1247,40.5972]]"
    box:
      name: box
      in: query
      description: "box described as [[lower left lon, lower left lat], [upper right\
        \ lon, upper right lat]]"
      required: false
      style: form
      explode: true
      allowReserved: true
      schema:
        type: string
        example: "[[-74.2126,40.5221],[-73.6798,40.9135]]"
    center:
      name: center
      in: query
      description: center to measure max radius from
      required: false
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        example: "10,20.1"
        items:
          maxItems: 2
          minItems: 2
          type: number
    radius:
      name: radius
      in: query
      description: km from centerpoint
      required: false
      style: form
      explode: true
      schema:
        type: number
        example: 0
    data:
      name: data
      in: query
      description: Keys of data to include
      required: false
      style: form
      explode: false
      allowReserved: true
      schema:
        type: array
        items:
          $ref: '#/components/schemas/dataKey'
    platform:
      name: platform
      in: query
      description: platform ID
      required: true
      style: form
      explode: true
      schema:
        $ref: '#/components/schemas/platform'
    lat:
      name: lat
      in: query
      description: latitude (degrees) of Argo float location
      required: true
      style: form
      explode: true
      schema:
        maximum: 90
        minimum: -90
        type: number
        example: 5.25
    lon:
      name: lon
      in: query
      description: longitude (degrees) of Argo float location
      required: true
      style: form
      explode: true
      schema:
        maximum: 180
        minimum: -180
        type: number
        example: -20.33
    forcastDays:
      name: forcastDays
      in: query
      description: number of days over which to project Argo float drift
      required: true
      style: form
      explode: true
      schema:
        maximum: 1800
        minimum: 60
        type: number
        example: 60
        enum:
        - 60
        - 120
        - 140
        - 240
        - 360
        - 480
        - 720
        - 840
        - 960
        - 1080
        - 1200
        - 1320
        - 1440
        - 1560
        - 1680
        - 1800
